{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}
{% load bootstrap_toolkit %}

<div class="new_dyn_form_container">

  <h3>Issue: {{ next_issue_number }} <img src="{{STATIC_URL}}/images/timepiece/icons/bin_closed.png" alt="cancel" onclick="return imp.close_add_issue(this);"/> </h3>

  <form class="add_issue_form" method="POST" action="" >
    {% csrf_token %}    
    {{ new_issue_form.non_field_errors }}
    <div class="subject_class">
    {{ new_issue_form.subject.label }} {{ new_issue_form.subject }} 
    </div>
    <div class="description_class">
      {{ new_issue_form.description.label }} {{ new_issue_form.description }} 
    </div>
    <br />
    <input type="submit" class="btn" onclick="return imp.on_issue_form_submit(this, {{project.id}}, '{% url 'add_issue' project.id %}');" value="Create"/>
    <input type="submit" class="btn" onclick="return imp.create_issue_and_add_another(this, {{project.id}}, '{% url 'add_issue' project.id %}');" value="Create and add another"/>
  </form>
</div>
