{% load timepiece_tags %}
{% load humanize %}
{% load bootstrap_toolkit %}

<div class="new_dyn_form_container">

  <h3>Issue: {{ next_issue_number }} <img src="{{STATIC_URL}}/images/timepiece/icons/bin_closed.png" alt="cancel" onclick="return imp.close_add_issue(this);"/> </h3>

  <form class="add_issue_form" method="POST" action="">
    {% csrf_token %}    
    {{ new_issue_form.non_field_errors }}
    <div id="first" class="subject_class" onsubmit="return validateForm();">
    {{ new_issue_form.subject.label }} {{ new_issue_form.subject }} 
    </div>
    <div class="description_class">
      {{ new_issue_form.description.label }} {{ new_issue_form.description }} 
    </div>

    {% has_permission can_edit_issue_states business %}
      <div class="description_class">
        {{ new_issue_form.status.label }} {{ new_issue_form.status }} 
      </div>
    {% end_permission %}
    {% has_permission has_edit_issue_feature business %}
      <div class="description_class">
        {{ new_issue_form.feature.label }} {{ new_issue_form.feature }} 
      </div>
    {% end_permission %}
    {% has_permission has_assign_user business %}
      <div class="description_class">
        {{ new_issue_form.assigned_to.label }} {{ new_issue_form.assigned_to }} 
      </div>
    {% end_permission %}
    {%  has_permission has_estimate_own_points business  %}
      <div class="description_class">
        {{ new_issue_form.estimated_hours.label }} {{ new_issue_form.estimated_hours }} 
      </div>
    {% end_permission %}


    {% if plugin_form %}
    <h3>Settings for {{business.sync_with}}</h3>
    {{ plugin_form }}
    {% endif %}

    <br />

    <input type="submit" class="btn" onclick="return imp.on_issue_form_submit(this, {{project.id}}, '{% url 'add_issue' project.id %}');" value="Create"/>
    <input type="submit" class="btn" onclick="return imp.create_issue_and_add_another(this, {{project.id}}, '{% url 'add_issue' project.id %}');" value="Create and add another"/>
  </form>
</div>


<script>
 function validateForm()
 {
     var title = $("subject_class").val();
     if (title=="" || title==null) { } else {
    	 alert("Please enter a subject!");
     }
     
     return false;
 }

</script>