{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}
{% load bootstrap_toolkit %}

<div class="new_issue_form_container">
<h3>Issue: {{ next_issue_number }}</h3>
<img src="{{STATIC_URL}}/images/timepiece/icons/delete.png" onclick="return imp.do_form_remove();"/>
<form method="POST" action="" onsubmit="return imp.on_form_submit(this,'{% url 'add_issue' project.id %}');" >
  {% csrf_token %}    
  {{ new_issue_form.as_table }}
  <button class="btn" value="Add New Issue" > Add New Issue </button>
</form>
</div>
