{% load timepiece_tags %}
{% load humanize %}
{% load static %}

{% has_permission has_view_project_card project.business %}

<div class="project_card_top_level" business_id="{{ project.business.id }}" project_id="{{ project.id }}">

    {% include "timepiece/project/project_card/_header.html" %}

    {% include "timepiece/project/project_card/_budget.html" %}

    {% include "timepiece/project/project_card/_progress.html" %}

    {% include "timepiece/project/project_card/_cost_summary.html" %}

    {% include "timepiece/project/project_card/_deadlines.html" %}

    {% include "timepiece/project/project_card/_estimates.html" %}

    {% include "timepiece/project/project_card/_comparative_estimates.html" %}

    {% include "timepiece/project/project_card/_actuals.html" %}

    {% include "timepiece/project/project_card/_projected.html" %}

    {% include "timepiece/project/project_card/_quotes.html" %}

    {% include "timepiece/project/project_card/_invoices.html" %}

    {% include "timepiece/project/project_card/_state_legend.html" %}

    {% include "timepiece/project/project_card/_features.html" %}

    {% include "timepiece/project/project_card/_by_user.html" %}




</div>

<div style="clear:both"></div>

<script>
 imp.refresh_show_numbers();
 imp.create_accordions();
 
</script>

{% end_permission %}
