{% load timepiece_tags %}
{% load url from future %}

<div class="card_menu">
  
  <div class="title" >
    <ul>
      <li style="display:none">
        <a onclick="$(this).parents('.card_menu').find('.menu_items').toggle(); return false;">Menu</a>
      </li>
    </ul>
  </div>
  <div class="menu_items">
    <ul>

      {% has_permission has_add_issue project.business %}
      <li class="parent_li_of_form_on_click">

        <a href="#" class="to_expand_form_on_click" onclick="imp.do_form_show(this , '{% url 'add_issue' project.id %}' )">
            Add Issue
        </a>
      </li>
      {% end_permission %}

      {% has_permission has_create_sprint business %}  
      <li>
        <a href="#"  onclick="imp.do_form_show(this , '{% url 'add_project' business.id %}' ); return false;">
          Add Sprint
        </a>	
      </li>
      {% end_permission %}
      
      {% if perms.timepiece.change_project %}
      <li>
        <a href='{% url 'edit_project' project_id=project.id %}'>Edit</a>
      </li>
      {% endif %}

      <li>
        <a href="{% url 'project_list' project.id %}">
          Refresh
        </a>
      </li>

      {% has_permission has_view_ctc_billable_rates project.business %}
      <li>
        <a href="{% url 'sprint_export' project.id %}">Export</a>
      </li>
      {% end_permission %}

      {% has_permission has_edit_project_detail project.business %}
      <li>
        <a href="#" onclick="window.open('{%url 'project_detail' project.business.id%}')">
          Breakdown
        </a>
      </li>
      {% end_permission %}

      {% has_permission has_edit_budget project.business %}
      <li>
        <a href="#" onclick="window.open('{%url 'edit_project_budget' project.id%}')">
          Budget
        </a>
      </li>
      {% end_permission %}

      {% has_permission has_edit_invoices project.business %}
      <li>
        <a href="#" onclick="window.open('{% url 'invoice_list' %}?project_id={{project.id}}')">
        Invoices
        </a>
      </li>
      {% end_permission %}

      {% has_permission has_edit_ctc_billable_rates project.business %}
      <li>
        <a href="#" onclick="imp.popup_page('{% url 'view_project_rates' project.id %}'); return false;">
          Rates
        </a>
      </li>
      {% end_permission %}

      {% comment %}
      {% has_permission has_toggle_graphs  project.business %}
      <li>
        <a href="#" onclick="window.open('{% url 'show_timeline' project.id %}')">
          Timeline
        </a>
      </li>
      {% end_permission %}
      {% endcomment %}

      <li>
        <a href="#" onclick="imp.toggle_show_money();return false;">Numbers</a>
      </li>

      {% comment %}
      <li>
        <a href="#" onclick="window.open('{% url 'create_project' %}?business_id={{ business.id }}');return false;">New sprint</a>
      </li>
      {% endcomment %}

      {%  has_permission has_edit_permissions business  %}
      <li>
        <a href="#" onclick="window.open('{% url 'show_permissions' business.id %}')">
          Permissions
        </a> 
      </li>
      {% end_permission %}

      {%  has_permission has_create_sprint business  %}
      <li>
          <a href="#" class="menu_close_sprint" {% if not project.is_open %}style="display:none"{% endif %} onclick="imp.close_sprint(this, '{{project}}', '{% url 'close_project' project.id %}')">
            Close sprint
          </a> 
          <a href="#" class="menu_reopen_sprint" {% if project.is_open %}style="display:none"{% endif %} onclick="imp.reopen_sprint(this, '{{project}}', '{% url 'open_project' project.id %}')">
            Reopen sprint
          </a>
      </li>
      {% end_permission %}

      {% if has_closed_sprints %}
        <li>
          <a href="#" onclick="$('.project_li.closed_project').show(); $(this).hide(); return false;">
            Show closed sprints
          </a>
        </li>
      {% endif %}

      {% comment %}
     <div class="btn">
        <div class="to_expand_form_on_click" style="display:block"  onclick="imp.projects.show_project_card_as_popup(this, '{% url 'get_project_card_for_business'  business_id=business.id project_id=project.id  %}');return false; "> 
          Show Project Card
        </div>	
      </div>

      <div class="" id="b_card_{{business.id}}"  style="position:absolute;z-index:100">		  
      </div>
      {% endcomment %}

      {% comment %}
      <li>
        <a href="#" onclick="imp.project_card_thinking(this);$('#b_card_{{business.id}}').load('{% url 'get_project_card_indexed' business_id=business.id index=1 %}'); return false;">
          All sprints
        </a>
      </li>
      {% endcomment %}


    </li>

    </ul>
  </div>
</div>

