{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}

<div class="project_card_top_level" business_id="{{ project.business.id }}" project_id="{{ project.id }}">

  <div id="project_id_{{project.id}}">

    <div class="sprint_name">{{ project.name }} ({{project.id}})</div>

    {% has_permission has_view_issues project.business %}
       <div {% ifequal 0 project.issues|length %}style="color:red"{% endifequal %}>
         {{ project.issues.count }} issues
       </div>
     <br/>
     {% end_permission %}
     Last modified {% if project.stats.end_time %} {{ project.stats.end_time|timesince }} ago {% endif %}
    <br/>

    {% has_permission has_view_budget project.business %}
       Budget: R{{project.budget|floatformat:"0"|intcomma}}          
    {% end_permission %}

    <br/>
    {% has_permission has_view_invoices project.business %}
         Invoiced: <input disabled type="checkbox" id="check_project_id_{{project.id}}" {% if project.stats.invoiced %} checked {% endif %} >
         Paid: <input disabled type="checkbox" {% if project.stats.paid %} checked {% endif %} >
    {% end_permission %}
    <br/>

  </div>         

  {% has_permission has_view_ctc_billable_rates project.business %}
  <p>
         CTC R{{ project.stats.ctc|floatformat:"0"|intcomma }}
         /
         Billable R{{ project.stats.billed|floatformat:"0"|intcomma }}
  </p>

  {% end_permission %}



  {% has_permission has_view_budget project.business %}
    {% if project.has_budget %}
    <div class="traffic_bar">
      <div style="width:{{project.stats.percentage_spent}}%" class="{{project.stats.budget_traffic_class}}">
        {% if project.stats.amount_under_budget > 0 %}
             R{{project.stats.amount_under_budget|floatformat:"0"|intcomma}}&nbsp;left
        {% else %}
             R{{project.stats.amount_over_budget|floatformat:"0"|intcomma}}&nbsp;over
        {% endif %}
      </div>
    </div>
    {% else %}
    <div style="color:red">No budget</div>
    {% endif %}
  {% end_permission %}

  <div style="clear:left;" class="traffic_bar">
    <div style="width:{{project.stats.percent_dev_done|floatformat:"0"}}%;" class="{{project.stats.percent_dev_done_traffic_class}}">
      {{project.stats.percent_dev_done|floatformat:"0"}}%&nbsp;points&nbsp;dev_done
    </div>
  </div>
  <div style="clear:left;" class="traffic_bar">
    <div style="width:{{project.stats.percent_tested|floatformat:"0"}}%;" class="{{project.stats.percent_tested_traffic_class}}">
      {{project.stats.percent_tested|floatformat:"0"}}%&nbsp;points&nbsp;tested
    </div>
  </div>

  </div>

  {% has_permission has_view_ctc_billable_rates project.business %}
  
  <br />
  <hr />
  <h1>Estimated Total Sprint Cost</h1>
  <table>
    <thead>
      <th>User</th>
      <th>Points</th>
      <th>Ratio</th>
      <th>Velocity</th>
      <th>Total CTC</th>
      <th>Total Billed</th>
    </thead>
    <tbody>
      {% for user, estimate in project.cost_per_developer.items %}
      <tr>
	<td>{{ user.username }}</td>
	<td>{{ estimate.points }}</td>
	<td>{{ estimate.rate.work_ratio|floatformat:"1"|intcomma }}</td>
	<td>{{ estimate.rate.velocity|floatformat:"1"|intcomma }}</td>
	<td>R{{ estimate.total_ctc|floatformat:"0"|intcomma }}</td>
	<td>R{{ estimate.total_billed|floatformat:"0"|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr/>

  <h1>Current Sprint Details</h1>
  <table>
    <thead>
      <th>User</th>
      <th>Velocity</th>
      <th>Ratio</th>
    </thead>
    <tbody>
      {% for user, estimate in project.cost_per_developer.items %}
      <tr>
	<td>{{ user.username }}</td>
	<td>{{ estimate.velocity|floatformat:"1"|intcomma }}</td>
	<td>{{ estimate.work_ratio|floatformat:"1"|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <br/>
    <hr/>
    <br/>
    <h1>Features</h1>
    <table>
      <thead>
        <th></th>
        <th>ctc</th>
        <th>billable</th>
      </thead>
      <tbody>
        {% for data in project.costs_by_feature.values %} 
        <tr>
          <th>{{data.name}}</th>
          <td>R{{data.ctc|floatformat:"0"|intcomma}}</td>
          <td>R{{data.billable|floatformat:"0"|intcomma}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% end_permission %}


  <hr/>
  <div class="toggle_graphs_section">
    <div class="graph">
      <h1>hours by user</h1>
      <div class="{{project.id}}_graph_hours_by_user" style="height:300px;width:300px;"></div>
      <div style="clear:both"></div>
      <hr/>
    </div>
    <div style="clear:both"></div>
    <div class="graph">
      <h1>ctc per user</h1>
      <div class="{{project.id}}_graph_ctc_by_user" style="height:300px;width:300px;"></div>
      <div style="clear:both"></div>
      <hr/>
    </div>
    <div style="clear:both"></div>
    <div class="graph">
      <h1>billable per user</h1>
      <div class="{{project.id}}_graph_billable_by_user" style="height:300px;width:300px;"></div>
      <div style="clear:both"></div>
      <hr/>
    </div>
    <div class="graph">
      <h1>profit per user</h1>
      <div class="{{project.id}}_graph_profit_by_user" style="height:300px;width:300px;"></div>
      <div style="clear:both"></div>
      <hr/>
    </div>
    <div style="clear:both"></div>
    <div class="graph">
      <h1>ctc per feature</h1>
      <div class="{{project.id}}_graph_ctc_by_feature" style="height:300px;width:300px;"></div>
      <div style="clear:both"></div>
      <hr/>
    </div>
    <div style="clear:both"></div>
    <div class="graph">
      <h1>billable per feature</h1>
      <div class="{{project.id}}_graph_billable_by_feature" style="height:300px;width:300px;"></div>
      <div style="clear:both"></div>
      <hr/>
    </div>
    <div style="clear:both"></div>
  </div>

  <script>
    $.plot(".{{project.id}}_graph_hours_by_user",
           [ {%spaceless%} 
               {% for username,amounts in project.users_and_hours.users.items %} 
                 { label:"{{username}}", 
                   data: {{amounts.hours}}
                 },
               {% endfor %} 
             {%endspaceless%}
           ],
           { series: { pie: { show: true } },
             legend: { show: false} } );
    $.plot(".{{project.id}}_graph_ctc_by_user",
           [ {%spaceless%} 
               {% for username,amounts in project.users_and_hours.users.items %} 
                 { label:"{{username}}", 
                     data: {{amounts.revenue}}
                   },
                 {% endfor %} 
               {%endspaceless%}
             ],
             { series: { pie: { show: true } },
               legend: { show: false} } );
      $.plot(".{{project.id}}_graph_billable_by_user",
               [ {%spaceless%} 
                   {% for username,amounts in project.users_and_hours.users.items %} 
                     { label:"{{username}}", 
                       data: {{amounts.billed}}
                     },
                   {% endfor %} 
                 {%endspaceless%}
               ],
               { series: { pie: { show: true } },
                 legend: { show: false} } );
      $.plot(".{{project.id}}_graph_profit_by_user",
               [ {%spaceless%} 
                   {% for username,amounts in project.users_and_hours.users.items %} 
                     { label:"{{username}}", 
                       data: {{amounts.profit}}
                     },
                   {% endfor %} 
                 {%endspaceless%}
               ],
               { series: { pie: { show: true } },
                 legend: { show: false} } );      $.plot(".{{project.id}}_graph_ctc_by_feature",
               [ {%spaceless%} 
                   {% for data in project.costs_by_feature.values %} 
                     { label:"{{data.name}}", 
                       data: {{data.ctc}}
                     },
                   {% endfor %} 
                 {%endspaceless%}
               ],
               { series: { pie: { show: true } },
                 legend: { show: false} } );
      $.plot(".{{project.id}}_graph_billable_by_feature",
               [ {%spaceless%} 
                   {% for data in project.costs_by_feature.values %} 
                     { label:"{{data.name}}", 
                       data: {{data.billable}}
                     },
                   {% endfor %} 
                 {%endspaceless%}
               ],
               { series: { pie: { show: true } },
                 legend: { show: false} } );

    </script>

</div>

<div style="clear:both"></div>