{% load timepiece_tags %}

{% if project.id %}

<li class="divider"></li>

{% if perms.timepiece.change_project %}
<li class='menu_item' >
  <a href="#" onclick="imp.popup_page('{% url 'edit_project' project_id=project.id %}'); return false;">
    Edit sprint
  </a>
</li>
{% endif %}

{% has_permission has_edit_project_states project.business %}
<li class="menu_item">
  <a href="#" onclick="imp.edit_project_status(event, $('.project_li[list_project_id={{project.id}}]')); $(this).parents('.nav-link.open').removeClass('open'); return false;">
    Change sprint status
  </a>
</li>
{% end_permission %}

{% comment %}
{% has_permission has_view_ctc_billable_rates project.business %}
<li class='menu_item' >
  <a href="{% url 'sprint_export' project.id %}">Export</a>
</li>
{% end_permission %}
{% endcomment %}

{% has_permission has_view_project_card project.business %}
<li class='menu_item' >
  <a href="#" onclick="imp.popup_page('{% url 'sprint_report_settings' project.id %}?only_these_issues='+imp.get_selected_issue_ids_for_get($(this).parents('.project_li'))); return false;">
    Generate quote
  </a>
</li>
{% end_permission %}

{% comment %}
{% has_permission has_edit_project_detail project.business %}
<li class='menu_item' >
  <a href="#" onclick="window.open('{%url 'project_detail' project.business.id%}')">
    Breakdown
  </a>
</li>
{% end_permission %}
{% endcomment %}

{% has_permission has_edit_budget project.business %}
<li class='menu_item' >
  <a href="#" onclick="imp.popup_page('{% url 'edit_project_budget' project.id %}'); return false;">
    Budget
  </a>
</li>
{% end_permission %}

{% has_permission has_edit_deadlines project.business %}
<li class='menu_item' >
  <a href="#" onclick="imp.popup_page('{% url 'edit_project_deadlines' project.id %}'); return false;">
    Deadlines
  </a>
</li>
{% end_permission %}

{% has_permission has_edit_invoices project.business %}
{% if project.business.client.id %}
<li class='menu_item' >
  <a href="#" onclick="window.open('{% url 'invoicing:invoices' %}?client={{project.business.client.id}}&project={{project.id}}')">
    Invoices
  </a>
</li>
{% endif %}
{% end_permission %}

{% has_permission has_edit_ctc_billable_rates project.business %}
<li class='menu_item' >
  <a href="#" onclick="imp.popup_page('{% url 'view_project_rates' project.id %}'); return false;">
    Rates
  </a>
</li>
{% end_permission %}

{% comment %}
{% has_permission has_view_actual_hours project.business %}
<li class='menu_item' >
  <a href="#" onclick="window.open('{% url 'show_timeline' project.id %}')">
    Timeline
  </a>
</li>
{% end_permission %}
{% endcomment %}

{% if perms.timepiece.view_project_cards %}
<li class='menu_item'>
  <a onclick="imp.projects.show_project_card_as_popup(event,'{% url 'get_project_card_for_business'  business_id=project.business.id project_id=project.id %}');return false" href='#' target_id=".issue_detail" project_card_url="{% url 'get_project_card_for_business'  business_id=business.id project_id=project.id  %}" business_id="{{ business.id }}" project_id="{{ project.id }}" title="Project card">
    Project card
  </a>
</li>
{% endif %}

{%  has_permission has_edit_permissions business  %}
<li class='menu_item' >
  <a href="#" onclick="window.open('{% url 'show_permissions' business.id %}')">
    Permissions
  </a> 
</li>
{% end_permission %}



<li class="divider"></li>

{% has_permission has_add_issue project.business %}
<li class="menu_item commonly_used parent_li_of_form_on_click">

  <a href="#" class="to_expand_form_on_click" onclick="imp.do_form_show(this , '{% url 'add_issue' project.id %}' )" title="Add issue">
    <img src="{{STATIC_URL}}images/icons/add.png">Add issue</a>
  </a>
</li>
{% end_permission %}

<li class='menu_item commonly_used'>
  <a href="{% url 'project_list' project.id %}" onclick="imp.refresh_project({{project.id}}); return false;" title="Refresh issues">
    <img src="{{STATIC_URL}}images/icons/arrow_refresh.png">Refresh</a>
  </a>
</li>

<li class='menu_item' >
  <a href="#" onclick="imp.popup_page('{% url 'auto_issue_sort' project.id %}'); return false;">
    Bulk sort
  </a>
</li>

{% ifequal project.business.sync_with "jira" %}
{% include "jira/project_menu.html" %}
{% endifequal %}

{% has_permission has_view_ctc_billable_rates project.business %}
<li class='menu_item' >
  <a href="#" onclick="imp.toggle_show_numbers();return false;">
    Show/hide money
  </a>
</li>
{% end_permission %}

{% has_permission has_see_other_user_points project.business %}
<li class='menu_item' >
  <a href="#" all_shown="{% cookie 'default_show_all_user_columns' 'false' %}" class="toggle_show_all_users_trigger" onclick="imp.toggle_show_all_users(this, '{{current_user.username}}');return false;">
    Show/hide all users
  </a>
</li>
{% end_permission %}

<li class='menu_item' >
  <a href="#" onclick="imp.toggle_show_adhoc_issues(); return false;">
    Show/hide ad-hoc issues
  </a>
</li>

{% comment %}
<li class='menu_item' >
  <a href="#" onclick="window.open('{% url 'create_project' %}?business_id={{ business.id }}');return false;">New sprint</a>
</li>
{% endcomment %}

{% endif %}
