{% comment %}
{% load static %}
{% with businesses.get_checklist_summary as checklists %}
<th>
  <h2>
    {% if checklists.traffic_ok|length == 0 %}
    <img src="{% static 'images/timepiece/icons/bullet_green.png' %}"/>
    {% else %}
    <img src="{% static 'images/timepiece/icons/bullet_red.png' %}"/>
    {% endif %}
  </h2>
</th>

<th>
  <h2>
    {% if checklists.dev_ok|length == 0 %}
    <img src="{% static 'images/timepiece/icons/bullet_green.png' %}"/>
    {% else %}
    <img src="{% static 'images/timepiece/icons/bullet_red.png' %}"/>
    {% endif %}
  </h2>
</th>

<th>
  <h2>
    {% if checklists.finance_ok|length == 0 %}
    <img src="{% static 'images/timepiece/icons/bullet_green.png' %}"/>
    {% else %}
    <img src="{% static 'images/timepiece/icons/bullet_red.png' %}"/>
    {% endif %}
  </h2>
</th>

{% endwith %}

{% endcomment %}
