{% load timepiece_tags %}

{% if business %}

  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {% has_permission has_do_traffic_checklist business %}
    {% include "timepiece/project/_checklist_status_icon_traffic.html" %}
    {% end_permission %}

    {% has_permission has_do_dev_checklist business %}
    {% include "timepiece/project/_checklist_status_icon_dev.html" %}
    {% end_permission %}

    {% has_permission has_do_finance_checklist business %}
    {% include "timepiece/project/_checklist_status_icon_finance.html" %}
    {% end_permission %}
    <b class="caret"></b>
  </a>

  <ul class="dropdown-menu">

    {% has_permission has_do_traffic_checklist business %}
    <li>
      <a href="#" onclick="imp.popup_page('{% url 'traffic_checklist' business.id %}'); return false;">
	Traffic
        {% include "timepiece/project/_checklist_status_icon_traffic.html" %}
      </a>
    </li>
    {% end_permission %}
    {% has_permission has_do_dev_checklist business %}
    <li>
      <a href="#" onclick="imp.popup_page('{% url 'dev_checklist' business.id %}'); return false;">
	Dev
        {% include "timepiece/project/_checklist_status_icon_dev.html" %}
      </a>
    </li>
    {% end_permission %}
    {% has_permission has_do_finance_checklist business %}
    <li>
      <a href="#" onclick="imp.popup_page('{% url 'finance_checklist' business.id %}'); return false;">
	Finance
        {% include "timepiece/project/_checklist_status_icon_finance.html" %}
      </a>
    </li>
    {% end_permission %}
  </ul>
{% endif %}