{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}
{% load bootstrap_toolkit %}

<div class="new_dyn_form_container">



<form id="create-edit-project" class="form-horizontal" action="" method="post" accept-charset="utf-8" onsubmit="return imp.on_project_form_submit(this,'{% url 'add_project' business.id %}');">
  {% csrf_token %}
  {{ project_form.errors }}
  {{ project_form|as_bootstrap:"horizontal" }}
  <div class="form-actions">
    <input class="btn btn-primary" type='submit' name='submit' value='Save' />
    <input class="btn" type='button' value='Cancel' onclick='history.go(-1)' />
  </div>
</form>

</div>
