{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}
{% load bootstrap_toolkit %}

<div class="new_dyn_form_container">



<form id="create-edit-project" class="form-horizontal" action="" method="post" accept-charset="utf-8" onsubmit="return imp.on_project_form_submit(this,'{% url 'add_project' business.id %}');">
  {% csrf_token %}

  <div class="project_form_name_class">
    {{ project_form.name.label }} {{ project_form.name }}
  </div>

  <div class="project_form_description_class">
    {{ project_form.description.label }} {{ project_form.description }}
  </div>

  {% has_permission has_edit_budget project.business %}
  <div class="project_form_budget_class">
    {{ project_form.budget.label }} {{ project_form.budget }}
  </div>
  {% end_permission %}

  <div class="form-actions">
    <input class="btn btn-primary" type='submit' name='submit' value='Save' />
    <input class="btn" type='button' value='Cancel' onclick='history.go(-1)' />
  </div>
</form>

</div>
