{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% prepare_project_stats current_user project %}

		<tr>

                  <th> 
                    <div class="issue_checkbox_cell_toggle">
                      <a href="#" class="show" onclick="imp.show_issue_checkboxes(this); return false;">
                        <img src="{{STATIC_URL}}images/bullet_toggle_plus.png"/>
                      </a>
                      <a href="#" style="display:none" class="hide" onclick="imp.hide_issue_checkboxes(this); return false;">
                        <img src="{{STATIC_URL}}images/bullet_toggle_minus.png"/>
                      </a>
                    </div>
                  </th>

                <th>#</th>
                <th>Subject</th>
                <th>Assigned to</th>
                <th>Feature</th>
                <th>Status</th>

		{% has_permission has_see_other_user_points project.business %}
                  {% with issues_forms.forms|first as first_form %}
		    {% for user, per_user in first_form.instance.representation.per_user.items %}
  	                <th data-username="{{ user.username }}" class="estimates_cell">
                         {{ user.username }}
		        </th>
		    {% endfor %}
		  {% endwith %}

                  {% for user in users_with_time_but_no_estimates_in_this_project %}
                    <th data-username="{{ user.username }}" class="estimates_cell">{{ user }}</th>
                  {% endfor %}
		  
		{% end_permission %}

  		{% has_not_permission can_see_other_user_points project.business %}
                  {% user_can_estimate_own_points current_user project.business %}
                    <th data-username="{{ user.username }}" class="estimates_cell">				  
                      {{ current_user.username }}
                    </th>
                  {% end_can_estimate %}
		{% end_permission %}

		{% has_permission has_view_ctc_billable_rates  project.business %}
                  {% has_permission has_view_ctc_rates project.business %}
                  <th class="money_cell money_ctc">ctc</th>
                  {% end_permission %}
                  <th class="money_cell">billable</th>
		{% end_permission %}

		{% has_permission has_delete_issue project.business %}
		<th ></th>
		{% end_permission %}
		</tr>

		{% if project.id %}
                <tr>
                  <td><div class="issue_checkbox_cell"></div></td>
                  <td>
                      <div class="secret_link issue_number" onclick="imp.show_issue_detail(null, '{% url 'all_timesheet_entries' project.id %}');">
                        show
                      </div>
                  </td>
                  <td>
                    all timesheet entries for this sprint
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                  
		  {% has_permission has_see_other_user_points project.business %}
		    {% with issues_forms.forms|first as first_form %}
		      {% for user, per_user in first_form.instance.representation.per_user.items %}
                        {% user_can_estimate_own_points user project.business %}
		          <th class="estimates_cell">
			    {% running_progress_for_user_in_sprint user project %}
                          </th>
                        {% end_can_estimate %}
		      {% endfor %}
                      {% for user in users_with_time_but_no_estimates_in_this_project %}
                        <th class="estimates_cell">{% get_all_hours_for_project user project %} / {% get_all_points_for_project user project %}</th>
                      {% endfor %}
		    {% endwith %}
		  {% end_permission %}

		  {% has_not_permission can_see_other_user_points project.business %}
                    {% user_can_estimate_own_points current_user project.business %}
		      <th class="estimates_cell">
                        {% running_progress_for_user_in_sprint user project %}
                      </th>
                    {% end_can_estimate %}
		  {% end_permission %}

		  {% has_permission has_view_ctc_billable_rates project.business %}

                  {% has_permission has_view_ctc_rates project.business %}
                  <th class="money_cell money_ctc">
                    <div class="secret_link" onclick="imp.show_issue_detail(null, '{% url 'all_timesheet_entries' project.id %}');">
                      <i>R{{total_ctc|floatformat:"0"|intcomma}}</i>
                    </div>
                  </th>
                  {% end_permission %}

                  <th class="money_cell">
                    <div class="secret_link" onclick="imp.show_issue_detail(null, '{% url 'all_timesheet_entries' project.id %}');">
                      <i>R{{total_billable|floatformat:"0"|intcomma}}</i>
                    </div>
                  </th>


                  <th class="">
                    <div class="secret_link" onclick="imp.show_issue_detail(null, '{% url 'all_timesheet_entries' project.id %}');">

                    </div>
                  </th>

		  {% end_permission %}
                </tr>
		{% endif %}

		{% if project.id %}
                <tr>
                  <td><div class="issue_checkbox_cell"></div></td>
                  <td>
                    <div class="secret_link issue_number" onclick="imp.show_issue_detail(null, '{% url 'unassigned_timesheet_entries' project.id %}');">
                      show
                    </div>
                  </td>

                  <td>
                      Adhoc timesheet entries for this sprint
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>

		  {% has_permission has_see_other_user_points project.business %}
		    {% with issues_forms.forms|first as first_form %}
		      {% for user, per_user in first_form.instance.representation.per_user.items %}
		          <td class="estimates_cell">{% get_unassigned_hours_for_project user project %}</td>
		      {% endfor %}
                      {% for user in users_with_time_but_no_estimates_in_this_project %}
                        <td class="estimates_cell">{% get_unassigned_hours_for_project user project %}</td>
                      {% endfor %}
		    {% endwith %}
		  {% end_permission %}

		  {% has_not_permission can_see_other_user_points project.business %}
                    {% user_can_estimate_own_points current_user project.business %}
		      <td class="estimates_cell">{% get_unassigned_hours_for_project current_user project %} / </td>
                    {% end_can_estimate %}
		  {% end_permission %}

                      {% comment %}
                  {% has_permission has_view_actual_hours  project.business %} 
                    <td class="estimates_cell">
                      <div class="secret_link" onclick="imp.show_issue_detail(null, '{% url 'unassigned_timesheet_entries' project.id %}');">
                        {{unassigned_timesheet_entries_hours|floatformat:"0"|intcomma}}
                      </div>
                    </td>
                  {% end_permission %}
                    {% endcomment %}

		  {% has_permission has_view_ctc_billable_rates project.business %}
                  {% has_permission has_view_ctc_rates project.business %}
                  <td class="money_cell money_ctc">
                    <div class="secret_link" onclick="imp.show_issue_detail(null, '{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_ctc|floatformat:"0"|intcomma}}
                    </div>
                  </td>
                  {% end_permission %}
		  
                  <td class="money_cell">
		    <div class="secret_link" onclick="imp.show_issue_detail(null, '{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_billable|floatformat:"0"|intcomma}}
                    </div>
                  </td>

                  <td class="" style="width:50px;" >
                    <div class="secret_link">
                    </div>
                  </td>


		  {% end_permission %}

                </tr>
		{% endif %}
