{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}

                 <tr class="issue_instance_row" project_id="{{project.id}}" id="-1" >                    
                   <td><div class="issue_checkbox_cell"></div></td>
		   <td> 
		     <div style="position:relative">
		       
		     </div>
		     <div class="secret_link issue_number">

		     </div>
		   </td> 
                   <td class="issue_subject" colspan="99">
		     <div class="edit_issue_subject"  >
                       <i>Drag here from other sprints</i>
                     </div>
                   </td>
                   
                 </tr>
