{% load timepiece_tags %}
{% load humanize %}
{% load bootstrap_toolkit %}

<tr class="issue_instance_row {{issue.status_as_class}} {% if issue.adhoc %}adhoc_issue_row{% endif %}" assigned_to="{{issue.assigned_to.username}}"  id="{{issue.pk}}" refresh_url="{% url 'get_issue_row' issue.pk %}" status="{{issue.status}}" feature="{{issue.feature.name|default:None}}">                    

  <td class="issue_checkbox_td">
    <div class="issue_checkbox_cell" style="width:100%; display:none;">
      <input type="checkbox" name="issue_checked_{{issue.pk}}" {% if issue.pk in selected_issue_ids %}checked="checked"{% endif %} /> <!-- Code for checkbox on left hand side -->
    </div>
  </td>

  <td class="issue_number_cell"> 
    <div style="width:100%;position:relative">
      {% comment %}
      <div class="issue_action_menu_container">
        &nbsp;
        <img class="issue_action_menu_img" style="display:none" src="{{STATIC_URL}}/images/icons/script_go.png" onclick="return imp.show_issue_action_menu(this, {{issue.id}});"/> 
      </div>
      {% endcomment %}
      <div class="emacs_copy_container">
        &nbsp;
        <img class="emacs_copy_img" style="display:none" src="{{STATIC_URL}}/images/icons/emacs.png" onclick="return imp.select_text_for_emacs('*** issue{{issue.number}} {{issue.subject|escapejs}}');"/> 
      </div>
      <div class="drag_img_container">
        &nbsp;
        <img class="drag_img" style="display:none" src="{{STATIC_URL}}/images/icons/drag.png"/> 
      </div>
      <div style="float:left">
	<img style="display:none" style="position:absolute" class="loading_issue_indicator" id="loading_issue_{{issue.id}}" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>
      </div>
      <div class="secret_link issue_number{% if issue.interface_plugin_number %} jira_issue_number{% endif %}" onclick="imp.show_issue_detail({{issue.pk}}, '{% url 'issue_detail' issue.pk %}');">
	{{issue.number}}
      </div> 
    </div>
  </td> 

  <td class="issue_subject">
    <div class="issue_row_icon_bar" >
      {% if issue.adhoc %}
      <a href="#" onclick="imp.on_clear_adhoc_issue(this, {{issue.id}}, '{% url 'clear_issue_adhoc_status' issue.id %}' ); return false;">
        <img src="{{STATIC_URL}}images/icons/auto_created_issue.png" title="This is an adhoc issue. Click to accept as a new standard issue, or leave to indicate an ad-hoc issue." />
      </a>
      {% endif %}
    </div>
    <div class="edit_issue_subject" {% has_permission has_edit_subject project.business %} onclick= "imp.clickable_subject_box(this, '{% url 'issue_subject_update' %}',{{ issue.pk }})" {% end_permission %} >
      {{issue.subject}}
    </div>
  </td>

  <td class="assigned_col" {% has_permission has_assign_user project.business %} onclick="return imp.show_inline_editor(this);"{% end_permission %} url_for_update="{% url 'issue_assigned_to_update' %}" issue_id="{{issue.id}}" url_for_options="{% url 'issue_users' issue.id %}" selected_value="{{issue.assigned_to.id}}">


    <div class="styled-select">		     
      <div class="readonly_value"> 
        {{ issue.assigned_to.username }}
      </div>
      {% has_permission has_assign_user project.business %}
      <div class="inline_editor" style="display:none">
        Filter: <br/><input class="filter" type="text" name="filter"/>
        <div class='transient_selection'>
        </div>
      </div>
      {% end_permission %}
    </div>
  </td>

  <td class="feature_col" {% has_permission has_edit_issue_feature project.business %} onclick="return imp.show_inline_editor(this);" style="z-index:100;" {% end_permission %} url_for_update="{% url 'update_issue_with_feature' %}" issue_id="{{issue.id}}" url_for_options="{% url 'business_features' business.id %}" selected_value="{{issue.feature.id}}" >

    <div class="styled-select">		     
      <div class="readonly_value"> 
        {{ issue.feature.name|default_if_none:"" }}
      </div>
      {% has_permission has_edit_issue_feature project.business %}
      <div id="dialog" class="inline_editor" supports_enter_for_submit="true" style="display:none">
        Add new feature or Filter existing features: <br/><input class="filter" id="feature_box" type="text" name="new_feature"/>
        <div class='transient_selection' width="100%">
        </div>
        <br/>
      </div>
      {% end_permission %}
    </div>
  </td>

  <td class="status_col" {% has_permission has_edit_issue_states project.business %} onclick="return imp.show_inline_editor(this);"{% end_permission %} url_for_update="{% url 'issue_status_update' %}" issue_id="{{issue.id}}" url_for_options="{% url 'allowed_issue_stati' issue.id %}" selected_value="{{issue.status}}">
    <div class="styled-select">		     
      <div style="white-space: nowrap;">
        <div class="readonly_value"> 
          {{ issue.status_name }}
        </div>
      </div>
      {% has_permission has_edit_issue_states project.business %}
      <div class="inline_editor" style="display:none">
        Filter: <br/><input class="filter" type="text" name="new_feature"/>
        <div class='transient_selection'>
        </div>
      </div>
      {% end_permission %}
    </div>
  </td>
  
  {% has_permission has_see_other_user_points project.business %}
  {% for user, per_user in issue.representation.per_user.items %}
  {% include "timepiece/project/_issue_points_completed.html" %}
  {% endfor %}
  {% for user in users_with_time_but_no_estimates_in_this_project %}
  <td class="estimates_cell" data-username="{{user.username}}">{% get_hours_for_issue user issue %}</td>
  {% endfor %}
  {% end_permission %}

  {% has_not_permission can_see_other_user_points project.business %}
  {% user_can_estimate_own_points current_user project.business %}
  {% include "timepiece/project/_issue_points_completed.html" with per_user=issue.representation.current_user_issue_data %}
  {% end_can_estimate %}
  {% end_permission %}

  {% comment %}
  {% has_permission has_view_actual_hours  project.business %} 
  <td  class="estimates_cell" data-username="{{user.username}}">
    <div class="secret_link"  onclick="imp.show_issue_detail({{issue.pk}}, '{% url 'issue_detail' issue.pk %}');">
      {{issue.hours|default_if_none:""}}
    </div>
  </td>
  {% end_permission %}
  {% endcomment %}

  {% has_permission has_view_ctc_billable_rates project.business  %}

  {% has_permission has_view_ctc_rates project.business %}
  <td  class="money_cell money_ctc">
    <div class="secret_link"  onclick="imp.show_issue_detail({{issue.pk}}, '{% url 'issue_detail' issue.pk %}');">
      R{{issue.representation.ctc|floatformat:"0"|intcomma}}
    </div>
  </td>
{% end_permission %}

  <td  class="money_cell">
      <div class="secret_link {% if issue.is_fixed_cost %} fixed_cost {% endif %}"  onclick="imp.show_issue_detail({{issue.pk}}, '{% url 'issue_detail' issue.pk %}');">
          R{{issue.representation.billable|floatformat:"0"|intcomma}}
      </div>
  </td>
  {% end_permission %}		  
  {% has_permission has_delete_issue project.business %}
  
  <td class="issue_delete" onclick="if (!confirm('Are you sure you want to delete this issue?')){ return false; }; imp.delete_issue_from_issues_list(this, '{% url 'delete_issue' project.id %}' , {{ issue.pk}} )">		    
      <img src="{{STATIC_URL}}/images/timepiece/icons/cross.png"/>

  </td>
  {% end_permission  %}
</tr>

{%comment%}
<script>

</script>
{%endcomment%}
