{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}

                 <tr class="issue_instance_row {{issue.status_as_class}}" id="{{issue.pk}}" refresh_url="{% url 'get_issue_row' issue.pk %}">                    
		   <td> 
                     <img  style="float:left" src="{{STATIC_URL}}/images/icons/arrow_inout.png"/> 
		     <div style="position:relative">
		       <img style="display:none" style="position:absolute" class="loading_issue_indicator" id="loading_issue_{{issue.id}}" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>
		     </div>
		     <div class="secret_link issue_number" style="margin-left:50%" onclick="imp.show_issue_detail(this, '{% url 'issue_detail' issue.pk %}');">
		       {{issue.number}}
		     </div> 
		   </td> 
                   <td class="issue_subject">
		     <div class="edit_issue_subject"  {% has_permission has_edit_subject project.business %} onclick="imp.clickable_subject_box(this, '{% url 'issue_subject_update' %}',{{ issue.pk }})" {% end_permission %} >
                      {{issue.subject}}
                     </div>
                   </td>
                   <td class="styled-select">
                     <div class="edit_issue_subject selectme" id="{{issue.pk}}"  onclick="imp.select_business_feature(this, {{ issue.pk }}, '{% url 'business_features' project.business.id %}', '{% url 'update_issue_with_feature' issue.pk %}', '{% url 'add_feature' project.business.id %}' )" >
                       {{issue.feature.name}}
                     </div>
                   </td>
                   <td>
                     <div class="styled-select">		     
                       <div class="selectme"  {% has_permission has_edit_issue_states project.business %} onclick="imp.dynamic_option_selection(this,{{issue.pk}}, {{issue.representation.options|safe}}, '{% url 'issue_status_update' %}');" {% end_permission %} > 
                         
                         {{ issue.status }}
                       </div>
                     </div>
                   </td>
                   {% has_permission has_see_other_user_points project.business %}
		    {% for user,per_user in issue.representation.per_user %}
                        {% include "timepiece/project/_issue_points_completed.html" %}
		    {% endfor %}
		  {% end_permission %}

                  {% has_not_permission has_see_other_user_points project.business %}
		    {% for user,per_user in issue.representation.per_user %}
                      {% user_can_estimate_own_points user project.business %}
                        {% include "timepiece/project/_issue_points_completed.html" %}                        
                      {% end_can_estimate %}
		    {% endfor %}
  	          {% end_permission %}

                  {% has_permission has_view_actual_hours  project.business %} 
                    <td class="">
                      <div class="secret_link"  onclick="imp.show_issue_detail(this, '{% url 'issue_detail' issue.pk %}');">
                        {{issue.hours|default_if_none:"-"}}
                      </div>
                    </td>
                  {% end_permission %}

		  {% has_permission has_view_ctc_billable_rates project.business  %}
                  <td class="">
                    <div class="secret_link"  onclick="imp.show_issue_detail(this, '{% url 'issue_detail' issue.pk %}');">
                      R{{issue.ctc|floatformat:"0"|intcomma}}
                    </div>
                  </td>
                  <td class="">
                    <div class="secret_link"  onclick="imp.show_issue_detail(this, '{% url 'issue_detail' issue.pk %}');">
                      R{{issue.billable|floatformat:"0"|intcomma}}
                    </div>
                  </td>
		  {% end_permission %}		  
		  {% has_permission has_delete_issue project.business %}
                  <td class="issue_delete" onclick="if (!confirm('Are you sure you want to delete this issue?')){ return false; }; imp.delete_issue_from_issues_list(this, '{% url 'delete_issue' project.id %}' , {{ issue.pk}} )">		    
		      <img src="{{STATIC_URL}}/images/timepiece/icons/delete.png"/>
                  </td>
		  {% end_permission  %}
                 </tr>
