{% load timepiece_tags %}

<td class="estimates_cell">
  {% user_can_estimate_own_points user project.business %}
    {% is_same_user user current_user%}
      <div onclick="imp.clickable_time_estimate(this, '{% url 'issue_points_update' %}',{{ user.id }}, {{issue.id}})" >
    {% end_is_same_user %}
  {% end_can_estimate %}

    <div style="float:left" class="short_traffic">
	{% if per_user.has_hours %}
	  <div class="special_traffic_container">
	    <div class="special_traffic_colourbar {{per_user.bar_color}}" style="width:{{ per_user.completion_width }}%;" >
	      &nbsp;
	    </div>
	  <div class="special_traffic_text">
	{% endif %}

	      <span class="edit_issue_subject">
		{{ per_user|points_and_stuff }}
	      </span>
	{% if per_user.has_hours %}
	    </div>
	  </div>
	{% endif %}
    </div>

  </div>		     

  {% user_can_estimate_own_points user project.business %}
    {% is_same_user user current_user %}
      </div>
    {% end_is_same_user %}
  {% end_can_estimate %}


</td>
