{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% for business in businesses %}
  {% has_permission has_view_project_card business %}
    <tr class='{{name}}_business_row' style="{% if expand == 0 %}display:none{%endif%}">
      <td style="cursor:pointer;" onclick="window.location='{% url 'business_issues' business.id %}'; return false">
        <a href="{% url 'business_issues' business.id %}">{{ business }}</a>
      </td>
      {% comment %}
      <td>
        {% has_permission has_edit_project_detail business %}
        <a href="{% url 'project_detail' business.id %}">Breakdown</a>
        {% end_permission %}
      </td>
      {% endcomment %}

      {% if business %}
        {% has_permission has_view_ctc_billable_rates business %}
            <td>
              {% has_permission has_view_invoices business %}
              <a target="_blank" href="{% url 'business_cost_summary' business.id %}">Cost summary</a>
              {% end_permission %}
            </td>
        {% end_permission %}
      {% endif %}

      <td>
        {% has_permission has_edit_project_detail business %}
        <a href="{% url 'view_business_documents' business.id %}">Documents</a>
	{% end_permission %}
      </td>

      <td>
        {% if user.is_superuser %}
        <a href="{% url 'show_permissions' business.id %}">Permissions</a>
        {% endif %}
      </td>

      {% if business and name == 'active' or name == 'pending' or name == 'hopeful' %}
      {% has_permission has_do_traffic_checklist business %}
      <td>
	  {% if not business.has_recent_traffic_checklist %}
	    <img src="{{STATIC_URL}}images/timepiece/icons/bullet_red.png"/>
	  {% elif not business.has_recent_passed_traffic_checklist %}
	    <img src="{{STATIC_URL}}images/timepiece/icons/bullet_orange.png"/>
	  {% else %}
	    <img src="{{STATIC_URL}}images/timepiece/icons/tick.png"/>
	  {% endif %}
	  {% for owner in business.get_traffic_owners %}
	   {{owner}}
	  {% endfor %}
      </td>
      {% end_permission %}
      {% has_permission has_do_dev_checklist business %}
      <td>
	{% if not business.has_recent_dev_checklist %}
	  <img src="{{STATIC_URL}}images/timepiece/icons/bullet_red.png"/>
	{% elif not business.has_recent_passed_dev_checklist %}
	  <img src="{{STATIC_URL}}images/timepiece/icons/bullet_orange.png"/>
	{% else %}
	  <img src="{{STATIC_URL}}images/timepiece/icons/tick.png"/>
	{% endif %}
	{% for owner in business.get_dev_owners %}
	{{owner}}
	{% endfor %}
      </td>
      {% end_permission %}
      {% has_permission has_do_finance_checklist business %}
      <td>
	{% if not business.has_recent_finance_checklist %}
	  <img src="{{STATIC_URL}}images/timepiece/icons/bullet_red.png"/>
	{% elif not business.has_recent_passed_finance_checklist %}
	  <img src="{{STATIC_URL}}images/timepiece/icons/bullet_orange.png"/>
	{% else %}
	  <img src="{{STATIC_URL}}images/timepiece/icons/tick.png"/>
	{% endif %}
	{% for owner in business.get_finance_owners %}
	{{owner}}
	{% endfor %}
      </td>
      {% end_permission %}
      {% endif %}

    </tr>
  {% end_permission %}
{% endfor %}
