{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

<li class="project_li {% if project.is_open %}open_project{%else%}closed_project{% endif %}" list_project_id="{{ project.id }}" {% if not project.is_preloaded and not project.is_open%}style="display:none"{% endif %} >
  <div class="project_table project_table_appearance">    
    <div class="project_table_row project_coloured_row">
      <div class="project_table_cell project_expand" {%comment%}style="border:1px solid {{project.colour}}"{%endcomment%} preloaded="{{ project.is_preloaded }}" onclick="imp.projects.load_or_display_issues(this, '{% url 'get_project_detail' project.id %}')"  >  
        <div class="project_title">
          <div class="emacs_copy_container">
              &nbsp;
            <img class="emacs_copy_img" style="display:none" src="{{STATIC_URL}}/images/icons/emacs.png" onclick="return imp.select_text_for_emacs('** sprint\#{{project.id}} {{project.name|escapejs}}');"/> 
          </div>
          <div class="draggable" style="float:left">
            <div class="drag_img_container">
              &nbsp;
              <img class="drag_img" style="display:none" src="{{STATIC_URL}}/images/icons/drag.png"/> 
            </div>
          </div>
          <span class="project_number">#{{project.id}}</span> - {{project.business.name}} - {{ project }}
            <div class="project_title_menu">

              {% comment %}
              {%  has_permission has_create_sprint business  %}
                    <a href="#" class="menu_close_sprint" {% if not project.is_open %}style="display:none"{% endif %} onclick="return imp.close_sprint(this, '{{project}}', '{% url 'close_project' project.id %}')">
                      Close
                    </a> 
                    <a href="#" class="menu_reopen_sprint" {% if project.is_open %}style="display:none"{% endif %} onclick="return imp.reopen_sprint(this, '{{project}}', '{% url 'open_project' project.id %}')">
                      Reopen
                    </a>
                     &nbsp; / &nbsp;
              {% end_permission %}
                    {% endcomment %}


		    <a {% has_permission has_edit_project_states project.business %}onclick="return imp.edit_project_status(event, this);"{% end_permission %} url_for_update="{% url 'project_status_update' project.id %}" url_for_options="{% url 'allowed_project_stati' project.id %}" selected_value="{{project.status}}">
                      <span class="readonly_value"> 
                        ({{ project.status2 }})
                      </span>

                      {% has_permission has_edit_project_states project.business %}
                      <div class="inline_editor" style="display:none">
                        <div class='transient_selection'>
                        </div>
                      </div>
                      {% end_permission %}
                    </a>

              {% if perms.timepiece.view_project_cards %}      
              <a onclick="imp.projects.show_project_card_as_popup(event,'{% url 'get_project_card_for_business'  business_id=project.business.id project_id=project.id %}');return false" href='#' target_id=".issue_detail" project_card_url="{% url 'get_project_card_for_business'  business_id=business.id project_id=project.id  %}" business_id="{{ business.id }}" project_id="{{ project.id }}">
                Card
              </a>
              {% endif %}
              

                          </div>
                          <span class="project_description">{{ project.short_description }}</span>
			  {% comment %}<div class="project_colour_square" style="background-color:{{ project.colour }}"></div>{% endcomment %}

            

        </div>
        <div id="b_card_{{business.id}}">
        </div>       
      </div> 

    </div>
    <div class="project_table_row project_contents">
      <div class="project_table_cell information" project_id="{{project.id}}">
        <img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>
      </div>
    </div>
  </div>
</li>
