{% load url from future %}
{% load humanize %}

{% load bootstrap_toolkit %}
{% load timepiece_tags %}

<li class="project_li {% if project.is_open %}open_project{%else%}closed_project{% endif %}" list_project_id="{{ project.id }}" {% if not project.is_open%}style="display:none"{% endif %} >
  <div class="project_table project_table_appearance">    
    <div class="project_table_row project_coloured_row">
      <div class="project_table_cell project_expand" preloaded="{{ project.is_preloaded }}" onclick="imp.projects.load_or_display_issues(this, '{% url 'get_project_detail' project.id %}')"  >  
        <div class="draggable">
          <img class="drag_img" style="display:none" src="{{STATIC_URL}}/images/icons/drag.png"/> 
        </div>
        <div class="project_title">
          <span class="project_number">#{{project.id}}</span> - {{project.business.name}} - {{ project }}{% if project.work_ratio %}) ({{ project.work_ratio.display }}){% endif %}
            <a onclick="imp.projects.show_project_card_as_popup(event,'{% url 'get_project_card_for_business'  business_id=project.business.id project_id=project.id %}');return false" href='#' target_id=".issue_detail" project_card_url="{% url 'get_project_card_for_business'  business_id=business.id project_id=project.id  %}" business_id="{{ business.id }}" project_id="{{ project.id }}">
          Card
            </a>
        </div>
        <div id="b_card_{{business.id}}">
        </div>       
      </div> 

    </div>
    <div class="project_table_row project_contents">
      <div class="project_table_cell information">
        <img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>
      </div>
    </div>
  </div>
</li>
