
{% load url from future %}
{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

<div class="project_detail">
<img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>
<script src="{{STATIC_URL}}timepiece/js/issues.js"></script>


<div class="row-fluid">
    <div class="span12">
        <h2>{{project.business.name}} - {{ project }}</h2>
        <ul class="unstyled subnav">
            {% if perms.timepiece.change_project %}
                <li><a href='{% url 'edit_project' project_id=project.id %}'>Edit project</a></li>
                <li><a href="{% url 'delete_project' project.id %}">Delete project</a></li>
            {% endif %}
            {% if perms.timepiece.view_businesses %}
                <li><a href='{% url 'view_business' business=project.business.id %}'>Return to {{ project.business.name }}</a></li>
            {% endif %}

            {% if perms.timepiece.view_project_time_sheet %}
                <li><a href='{% url 'project_time_sheet' project.id %}'>Project Time Sheet</a></li>
            {% endif %}

            <li><a href='{% url 'project_issues' project.id %}'>Issues</a></li>

            <li>
	      {% has_permission has_add_issue project.business %}

              <div class="btn">
		<div class="to_expand_form_on_click" style="display:block"  onclick="imp.do_form_show(this , '{% url 'add_issue' project.id %}' )">
		  Add Issue
		</div>	
              </div>
		<div class="new_issue_form to_edit_expanded_form" style="display:none;position:absolute;z-index:100">		  
		</div>

	      {% end_permission %}

            </li>
        </ul>
    </div>
</div>


{% if issues_forms.forms %}
<div class="row-fluid">
  <div class="issues">
    <div class="issues_list">
      
      <form method="POST" action="">
        <table>
          <tbody class="issue_list_body" id="{{project_id}}" update_order_url="{% url 'sortable_update' project.id  %}">
            {% for form in issues_forms.forms %}
            {% with form.instance as issue %}
            {% include "timepiece/project/_issue_entry_row.html" %}
            {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </form>      
    </div>

    <div class="issue_pane">
      <div class="issue_detail">
      </div>
    </div>

  </div>
</div>

{% else %}

  No issues

{% endif %}
</div>

