{% load humanize %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}

<table>

    {% ifequal settings.include_exclude_vat "exclude_vat"%}
    <tr>
      <th>
        All cost amounts in this document are VAT Exclusive.
        <br/>
        VAT will be added to issued invoices.
      </th>
    </tr>
  {% endifequal %}

  {% ifequal settings.include_exclude_vat "include_vat"%}
    <tr>
      <th>
        All cost amounts in this document are VAT Inclusive.
      </th>
    </tr>
  {% endifequal %}

    {% if settings.show_breakdown %}
    <tr>
      <td>Development</td>
      <td></td>
      <td style="text-align:right">
        R{{ project.new_stats.per_role.developer.adjusted_points_billable|floatformat:"0"|intcomma }}
      </td>
    </tr>
    {% if project.new_stats.per_role.manager.projected_estimated_billable and project.new_stats.per_role.tester.projected_estimated_billable %}
    <tr>
      <td>Management</td>
      <td></td>
      <td style="text-align:right">
        R{{ project.new_stats.per_role.manager.adjusted_points_billable|floatformat:"0"|intcomma }}
      </td>
    </tr>
    <tr>
      <td>QA and testing</td>
      <td></td>
      <td style="text-align:right">R{{ project.new_stats.per_role.tester.adjusted_points_billable|floatformat:"0"|intcomma }}</td>
    </tr>
    {% else %}
    <tr>
      <td>Management and QA</td>
      <td></td>
      <td style="text-align:right">
        R{{ project.new_stats.per_role.manager_and_tester_combined.adjusted_points_billable|floatformat:"0"|intcomma }}
      </td>
    </tr>
    {% endif %}
    {% endif %}
  </tr>
  <tr>
    <td><hr/></td>
    <td><hr/></td>
    <td><hr/></td>
  </tr>

  <tr>
    <th>
      {% ifequal settings.preamble_type "billable" %}
      Total estimated cost
      {% else %}
      Total quoted cost
      {% endifequal %}
    </th>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <th style="text-align:right">R{{ project.new_stats.total.total_quote_cost|floatformat:"0"|intcomma }}</th>
    
  </tr>
  <tr>
    <td><hr/></td>
    <td><hr/></td>
    <td><hr/></td>
  </tr>

  {% if settings.show_breakdown %}
  <tr>
    <td colspan="2">
      With a typical scope creep of {{estimate_stats.ratio_scope_creep}}%
    </td>
    <td style="text-align:right">R{{ estimate_stats.total_estimate_max|floatformat:"0"|intcomma }}</td>
  </tr>
  {% endif %}
</table>
