{% extends "timepiece/project/base.html" %}

{% load url from future %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block title %}Documents for {{business}}{% endblock %}

{% block content %}

<h1>Documents for {{business}}</h1>

{% for doc in documents %}
<p>
<h2>{{doc.filename}}</h2>
Created on {{doc.created_at}} by {{doc.created_by}}<br/>
Type : {{doc.doc_type}}<br/>
<a href="{% url 'download_business_document' doc.token %}">Download</a><br/>
Comments:
<pre>
{{doc.comments}}
</pre>
<a class="btn" onclick="if ( ! confirm('Are you sure you want to delete this document?' ) ) { return false; }" href="{% url 'delete_business_document' doc.token %}">Delete</a>

<br/>

</p>
<hr/>
{% empty %}
<h2>No documents</h2>
{% endfor %}

<div class="new_document">
  <button class="btn" onclick="$(this).parent().find('.new_document_container').show(); $(this).hide(); return false">Upload new document</button>
  <div style="display:none" class="new_document_container">
    <h3>New document</h3>
    <form method="POST" action="{% url 'view_business_documents' business.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ new_doc_form|as_bootstrap:"horizontal" }}
      <input class="btn" type="submit" name="upload"/>
    </form>
  </div>
</div>
{% endblock %}

