{% extends "timepiece/project/base.html" %}

{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block title %}Documents for {{business}}{% endblock %}
{% block content %}

<h1>Documents for {{business}}</h1>

<table class="table table-striped">
  <thead>
    <th>filename</th>
    <th>business - sprint</th>
    <th>modified at</th>
    <th>modified by</th>
    <th>type</th>
    <th>comments</th>
    <th></th>
    <th></th>
  </thead>

  <tbody>

    {% for doc in documents %}
    <tr>
      <td><a href="{% url 'download_business_document' doc.token %}">{{doc.filename}}</a></td>
      <td>{{doc.project.business}} - {{doc.project}}</td>
      <td>{{doc.modified_at}}</td>
      <td>{{doc.modified_by}}</td>
      <td>{{doc.doc_type}}</td>
      <td><pre>{{doc.comments|slice:":30"}}</pre></td>
      <td><a class="btn" href="{% url 'edit_business_document' doc.token %}">Edit</a></td>
      <td><a class="btn" onclick="if ( ! confirm('Are you sure you want to delete this document?' ) ) { return false; }" href="{% url 'delete_business_document' doc.token %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="999"><h2>No documents</h2></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br/>

<div class="new_document">
  <button class="btn" onclick="$(this).parent().find('.new_document_container').show(); $(this).hide(); return false">Upload new document</button>
  <div style="display:none" class="new_document_container">
    <h3>New document</h3>
    <form method="POST" action="{% url 'view_business_documents' business.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ new_doc_form }}
      <input class="btn" type="submit" value="upload"/>
    </form>
  </div>
</div>

<div class="generate_document">
  <button class="btn" onclick="$(this).parent().find('.new_document_container').show(); $(this).hide(); return false">Generate document</button>
  <div style="display:none" class="new_document_container">
    <h3>New document</h3>
    <form method="POST" action="{% url 'generate_preview_business_document' business.id %}">
      {% csrf_token %}
      <pre>
        In the content, paste any text content.
        Separate pages with \pagebreak
        Make headings with hashes
      </pre>
      {{ generate_doc_form }}
      <input class="btn" type="submit" value="preview" name="preview"/>
    </form>
  </div>
</div>
{% endblock %}

