{% extends "timepiece/project/base.html" %}

{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block title %}Cost summary for {{business}}{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/projects.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/issues.js"></script>
 {% endblock extrajs %}

{% block content %}

<div style="display:none">
  <div class="project_card_dialog_container">
    <div class="dialog_content"></div>
  </div>
</div>

<h1>Cost summary for {{business}}</h1>

<table class="table">
  <thead>
    <th>Sprint</th>
    <th>Status</th>
    <th>Budget</th>
    <th>Spendable budget</th>
    {% comment %}
    {% if bp.has_view_ctc_billable_rates %}
    <th>ctc (based on hours)</th>
    {% endif %}
    {% endcomment %}
    <th>Actual</th>
    <th>Invoiced (exVAT)</th>
    <th>Paid</th>
    <th>Owed</th>
    <th></th>
  </thead>
  <tbody>
  {% for project_info in project_infos %}
    <tr>
      <td>
        <a href="{% url 'project_list' project_info.project.id %}">{{project_info.project}}</a>
      </td>
      <td>{{project_info.status}}</td>
      <td>R{{project_info.budget|floatformat:"0"|intcomma}}</td>
      <td>R{{project_info.spendable_budget|floatformat:"0"|intcomma}}</td>
      {% comment %}
      {% if bp.has_view_ctc_billable_rates %}
      <td>R{{project_info.ctc|floatformat:"0"|intcomma}}</td>
      {% endif %}
      {% endcomment %}
      <td>R{{project_info.billable_core_rate|floatformat:"0"|intcomma}}</td>
      <td>R{{project_info.invoiced|floatformat:"0"|intcomma}}</td>
      <td>R{{project_info.paid|floatformat:"0"|intcomma}}</td>
      <td>R{{project_info.owed|floatformat:"0"|intcomma}}</td>
      <td>
        <a class="btn btn-primary" href="#" onclick="imp.projects.show_project_cost_summary({{project_info.project.id}}, '{% url 'project_cost_summary' project_info.project.id %}'); return false;">
          Breakdown
        </a>
      </td>
    </tr>
  {% endfor %}

    <tr>
      <td>Unspecified</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>R{{sundry_totals.invoiced|floatformat:"0"|intcomma}}</td>
      <td>R{{sundry_totals.paid|floatformat:"0"|intcomma}}</td>
      <td>R{{sundry_totals.owed|floatformat:"0"|intcomma}}</td>
    </tr>
  </tbody>

  <thead>
    <th></th>
    <th></th>
    <th>R{{project_totals.budget|floatformat:"0"|intcomma}}</th>
    <th>R{{project_totals.spendable_budget|floatformat:"0"|intcomma}}</th>
    {% comment %}
    <th>R{{project_totals.ctc|floatformat:"0"|intcomma}}</th>
    {% endcomment %}
    <th>R{{project_totals.billable|floatformat:"0"|intcomma}}</th>
    <th>R{{project_totals.invoiced|floatformat:"0"|intcomma}}</th>
    <th>R{{project_totals.paid|floatformat:"0"|intcomma}}</th>
    <th>R{{project_totals.owed|floatformat:"0"|intcomma}}</th>
  </thead>
</table>

{% endblock %}

