{% load timepiece_tags %}
{% load humanize %}
{% load bootstrap_toolkit %}

<div class="new_dyn_form_container">

  <form id="create-edit-project" class="form-horizontal new_sprint_form" action="" method="post" accept-charset="utf-8" onsubmit="return imp.on_project_form_submit(this,'{% url 'add_project' business.id %}');">
    {% csrf_token %}

    <fieldset>
      <div class="project_form_name_class">
        <label for="{{project_form.name.auto_id}}">{{ project_form.name.label }}</label> {{ project_form.name }}
      </div>

      <div class="project_form_name_class">
        <label for="{{project_form.short_description.auto_id}}">{{ project_form.short_description.label }}</label> {{ project_form.short_description }}
      </div>

      <div class="project_form_description_class">
        <label for="{{project_form.description.auto_id}}">{{ project_form.description.label }}</label> {{ project_form.description }}
      </div>

      {% has_permission has_edit_budget project.business %}
      <div class="project_form_budget_class">
        <label for="{{project_form.budget.auto_id}}">{{ project_form.budget.label }}</label> {{ project_form.budget }}
      </div>
      {% end_permission %}
    </fieldset>
    <div class="form-actions">
      <input class="btn primary" type='submit' name='submit' value='Save' />
      <input class="btn" type='button' value='Cancel' onclick='return imp.on_project_form_cancel(this);' />
    </div>
  </form>

</div>
