{% load humanize %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}

<div class="checklist">
  <h1>{{business.name}}</h1>

  <h2>Finance Checklist</h2>

  {{msg}}

  <form class="form-horizontal" action="{% url 'finance_checklist' business.id %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.errors }}

    <table>

      <thead>
	<tr>
	  <th>{{checklist.modified_at|date:"D d-M-Y H:m"}} </th>
	  {% for checklist in previous_checklists %}
	  <td><div class="previous_checklist">{{checklist.modified_at|date:"D d-M-Y H:m"}} </div></td>
	  {% endfor %}
	</tr>
	<tr>
	  <th>{{user}}</th>
	  {% for checklist in previous_checklists %}
	  <td><div class="previous_checklist"> {{checklist.modified_by}} <div class="previous_checklist"></td>
	  {% endfor %}
        </tr>
      </thead>

      <tbody>
	<tr>
	  <td>
            <img src="{{STATIC_URL}}images/icons/{% if checklist.passed %}tick{% else %}cross{% endif %}.png"/>
          </td>
	  {% for old_checklist in previous_checklists %}
	  <td>
            <div class="previous_checklist">
              <img src="{{STATIC_URL}}images/icons/{% if old_checklist.passed %}tick{% else %}cross{% endif %}.png"/>
            <div class="previous_checklist">
	  </td>
	  {% endfor %}
	</tr>
	<tr>
	  <td colspan="99"></td>
	</tr>

        <tr>
          <td>
            <div class="current_checklist_column">
              {% include "timepiece/project/_checklist_items.html" with checklist=checklist %}
            </div>
          </td>
          {% for previous_checklist in previous_checklists %}
          <td>
            <div class="previous_checklist">
              {% include "timepiece/project/_checklist_items.html" with checklist=previous_checklist %}
            </div>
          </td>
          {% endfor %}
        </tr>

	<tr>
	  <td>
            {{form.comments}}
            {{form.recalculate_all.label}} {{form.recalculate_all}}
            <input class="btn btn-primary" type='submit' name='submit' value='Save' onclick='imp.submit_popup_form(this, function() { imp.refresh_checklist_navigation({{business.id}}); }, {display_results:true}); return false;' />

          </td>
	  {% for previous_checklist in previous_checklists %}
	  <td>
            <div class="previous_checklist">
              {{ previous_checklist.comments }}
            </div>
          </td>
	  {% endfor %}
	</tr>

      </tbody>
    </table>

</div>
