<h2>#{{issue.id}} {{issue.subject}}</h2>

<div class="issue_status">{{issue.status}}</div>
<div class="edit_description" > {{issue.description}} </div>


{% ifequal 0 issue.related_entries|length %}
  No timesheet entries
{% else %}
  <div class="issue_entries">
    <h3>Timesheet entries</h3>
    <table>
      <tbody>
        {% for entry in issue.related_entries %}
        <tr>
          <td>{{entry.user}}</td>
          <td>{{entry.start_time|date:'Y-m-d (D)'}}</td>
          <td>{{entry.hours}}</td>
          <td class="issue_subject">
            {% ifequal 0 entry.extended_comments|length %}
              {{entry.comments}}
            {% else %}
              <div class="secret_link" onclick="$(this).parent().find('.extended_comments').toggle()">
                {{entry.comments}}
              </div>
              <div class="extended_comments" style="display:none">
                {{entry.extended_comments|linebreaks}}
              </div>
            {% endifequal %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endifequal %}


<script>
imp.call_server = function(issue_id, subject) {
}

$('.edit_description').click(function() {
    var button = $(this),
        commentField = $('<textarea/>');
    
    commentField
    .css({
            position: 'absolute',
            width: 200,
            height: 100,
            left: button.offset().left, 
             top: button.offset().top 
        })    
        .val(button.data('textContent') || button.html() )
        .keypress(function(e) {
            if (e.which === 13) {
                e.preventDefault();
                button.data('textContent', this.value);
                $(this).data($(this).val());
                button.html(button.data('textContent'));
		var return_url = '{% url issue_detail_update %}'
                $.ajax({type:"POST",
                        url: return_url,
                        data : { issue_id: {{ issue.id }}, new_description: button.data('textContent') },
                        dataType:"json"});
                $(this).remove();
            }
        })
        .appendTo(document.body);
});
</script>
