{% extends "timepiece/project/base.html" %}
{% load url from future %}
{% load humanize %}
{% block title %}Project Issues{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block content %}

<script src="{{STATIC_URL}}timepiece/js/issues.js"></script>

<img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>

<div class="row-fluid">
    <div class="span12">
        <h2>{{project.business.name}} - {{ project }}</h2>
        <ul class="unstyled subnav">
            {% if perms.timepiece.change_project %}
                <li><a href='{% url 'edit_project' project_id=project.id %}'>Edit project</a></li>
                <li><a href="{% url 'delete_project' project.id %}">Delete project</a></li>
            {% endif %}
            {% if perms.timepiece.view_businesses %}
                <li><a href='{% url 'view_business' business=project.business.id %}'>Return to {{ project.business.name }}</a></li>
            {% endif %}

            {% if perms.timepiece.view_project_time_sheet %}
                <li><a href='{% url 'project_time_sheet' project.id %}'>Project Time Sheet</a></li>
            {% endif %}

            <li><a href='{% url 'project_issues' project.id %}'>Issues</a></li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">

        <div class="issues">
          <div class="issues_list">
            
	    <form method="POST" action="">
		{{ issues_forms.management_form }}
            <table>

              <thead>
                <th>#</th>
                <th>Status</th>

                <th><div>Points {{ project.business.primary_points_users|first}}</div></th>
		<th>
		  {% has_permission has_see_other_user_points project.business %}
		  <div>
		    {% for user in project.business.users %} 		       
		    <span>{{ user.username }}</span>
		    {% endfor %} 
		  </div>
		  {% end_permission %}
		  {% has_not_permission has_see_other_user_points project.business %}
  		    <span>{{ current_user.username }} </span>
		  {% end_permission %}
                </th>
                <th>Hours</th>
		{% has_permission has_view_ctc_billable_rates  project.business %}
                <th>ctc</th>
                <th>billable</th>
                <th>% complete</th>
		{% end_permission %}
                <th>Subject</th>
		{% has_permission has_delete_issue project.business %}
		<th>Delete</th>
		{% end_permission %}
              </thead>

              <tbody>

                <tr>
                  <td>
                  </td>
                  <td></td>
                  <td class="number">-</td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      <i>{{total_hours|floatformat:"0"|intcomma}}</i>
                    </div>
                  </td>
		  {% has_permission has_view_ctc_billable_rates project.business %}
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      <i>R{{total_ctc|floatformat:"0"|intcomma}}</i>
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      <i>R{{total_billable|floatformat:"0"|intcomma}}</i>
                    </div>
                  </td>


                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      <i>all timesheet entries for this sprint</i>
                    </div>
                  </td>

                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">

                    </div>
                  </td>

		  {% end_permission %}
                </tr>

                <tr>
                  <td>
                  </td>
                  <td></td>
                  <td class="number">-</td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      {{unassigned_timesheet_entries_hours|floatformat:"0"|intcomma}}
                    </div>
                  </td>
		  {% has_permission has_view_ctc_billable_rates project.business %}
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_ctc|floatformat:"0"|intcomma}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_billable|floatformat:"0"|intcomma}}
                    </div>
                  </td>

                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      <i>unassigned timesheet entries for this sprint</i>
                    </div>
                  </td>

                  <td class="number">
                    <div class="secret_link">
                    </div>
                  </td>


		  {% end_permission %}
                </tr>

		{% for form in issues_forms.forms %}
                 <tr >                    
		   <td> 
		     <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' form.instance.pk %}');">
		       {{form.instance.number}}
		     </div>
		  </td> 
		  <td>
		    <div class="styled-select">
		      <div class="selectme {{form.instance.status_appearance}}" onclick="imp.status_toggle_form_show(this,{{form.instance.pk}}, {{form.instance.options}}, '{% url 'issue_status_update' %}');"> 
			{{ form.instance.status }}
		      </div>
		    </div>
		  </td>
                  <td class="number">                    	    
		    <span class="secret_link">
		    {{ form.instance.story_points }}
		    </span>
		    {% has_permission has_view_ctc_billable_rates project.business %}		    		    
		    <p>
		    <span class="secret_link">
		       (R {% current_user_issue_cost form.instance.story_points %})
		    </span>
		    </p>
		    {% end_permission %}
                  </td>
                  <td class="number">                    
		    {% has_permission has_see_other_user_points project.business %}
		     {% for issue_points in form.instance.get_points %}
		      <span class="secret_link" onclick="imp.clickable_text_box(this, '{% url 'issue_points_update' %}',{{ issue_points.id }})" > 
		        {{ issue_points.points|default_if_none:"-" }} 
		      </span>
		      {% endfor %}
		    {% end_permission %}
		    {% has_not_permission has_see_other_user_points project.business  %}
		      <span class="secret_link" onclick="imp.clickable_text_box(this, '{% url 'issue_points_update' %}','{% get_points_current_user_id form.instance.pk %}')" > 
			{% get_points_current_user form.instance.pk %}
		      </span>		    
		    {% end_permission %}
                  </td>
                  <td class="number">
                    <div class="secret_link"  onclick="imp.show_issue_detail('{% url 'issue_detail' form.instance.pk %}');">
                      {{form.instance.hours|default_if_none:"-"}}
                    </div>
                  </td>
		  {% has_permission has_view_ctc_billable_rates project.business  %}
                  <td class="number">
                    <div class="secret_link"  onclick="imp.show_issue_detail('{% url 'issue_detail' form.instance.pk %}');">
                      R{{form.instance.ctc|floatformat:"0"|intcomma}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link"  onclick="imp.show_issue_detail('{% url 'issue_detail' form.instance.pk %}');">
                      R{{form.instance.billable|floatformat:"0"|intcomma}}
                    </div>
                  </td>

                  <td >
		    <div class="short_traffic">
		      <div style="clear:left;" class="traffic_bar">			
			<div style="width:{{ form.instance.completion }}%;" class={{form.instance.bar_color}}>  
			  {{ form.instance.display_value }}
			</div>
		      </div>
		    </div>
                  </td>

		  {% end_permission %}		  
                  <td class="issue_subject">
		    <div class="edit_issue_subject"  {% has_permission has_edit_subject project.business %} onclick="imp.clickable_text_box(this, '{% url 'issue_subject_update' %}',{{ form.instance.pk }})" {% end_permission %} >
                      {{form.instance.subject}}
                    </div>
                  </td>
		  {% has_permission has_delete_issue project.business %}
                  <td class="issue_subject" onclick="imp.ajax_call(this, '{% url 'delete_issue' project.id %}' , {{ form.instance.pk}} )">		    
		      X
                  </td>
		  {% end_permission  %}
                 </tr>
		 
		{% endfor %}

              </tbody>
            </table>
	  </form>	    

          </div>
          <div class="issue_pane">
            <div class="issue_detail">
            </div>
          </div>
	  {% has_permission has_add_issue project.business %}
          <div class="btn" onclick="imp.toggle_form_show(this)">
	    <div class="to_click" style="display:block">
	      Add Issue
	    </div>
	    <div class="to_edit" style="display:none">
	      <form method="POST" action='{% url "add_issue" project.id %}'>
		{% csrf_token %}
		{{ new_issue_form|as_bootstrap:"inline" }}
		<input class="btn" type="submit" name="submit" id="submit" value="Add" />
	      </form>
	    </div>	    
          </div>
	  {% end_permission %}
        </div>
    </div>
</div>

{% endblock %}
