{% extends "timepiece/project/base.html" %}
{% load url from future %}
{% load humanize %}
{% block title %}Project Issues{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block content %}

<script src="{{STATIC_URL}}timepiece/js/issues.js"></script>

<img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>

<div class="row-fluid">
    <div class="span12">
        <h2>{{project.business.name}} - {{ project }}</h2>
        <ul class="unstyled subnav">
            {% if perms.timepiece.change_project %}
                <li><a href='{% url 'edit_project' project_id=project.id %}'>Edit project</a></li>
                <li><a href="{% url 'delete_project' project.id %}">Delete project</a></li>
            {% endif %}
            {% if perms.timepiece.view_businesses %}
                <li><a href='{% url 'view_business' business=project.business.id %}'>Return to {{ project.business.name }}</a></li>
            {% endif %}

            {% if perms.timepiece.view_project_time_sheet %}
                <li><a href='{% url 'project_time_sheet' project.id %}'>Project Time Sheet</a></li>
            {% endif %}

            <li><a href='{% url 'project_issues' project.id %}'>Issues</a></li>

            <li>
	      {% has_permission has_add_issue project.business %}

	      <div class="btn">
		<div class="to_click" style="display:block"  onclick="imp.do_form_show(this , '{% url 'add_issue' project.id %}' )">
		  Add Issue
		</div>		  
		<div class="new_issue_form to_edit" style="display:none;position:absolute;z-index:100">		  
		</div>
	      </div>

	      {% end_permission %}

            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">

        <div class="issues">
          <div class="issues_list">
            
	    <form method="POST" action="">
		{{ issues_forms.management_form }}
            <table>

              <thead>
		<tr>
                <th>#</th>
                <th>Subject</th>
                <th>Status</th>
   
		{% has_permission has_see_other_user_points project.business %}
		  {% with issues_forms.forms|first as first_form %}
		    {% for user, per_user in first_form.instance.representation.per_user %}
                      {% user_can_estimate_own_points user project.business %}
  	                <th >
		          {{ user.username }}'s estimate
		        </th>
                      {% end_can_estimate %}
		    {% endfor %}
		  {% endwith %}
		{% end_permission %}

  		{% has_not_permission has_see_other_user_points project.business %}
                  {% user_can_estimate_own_points current_user project.business %}
                    <th >				  
                      {{ current_user.username }}'s estimate
                    </th>
                  {% end_can_estimate %}
		{% end_permission %}

                {% has_permission has_view_actual_hours  project.business %} 
                  <th >Actual Hours</th>
                {% end_permission %}

		{% has_permission has_view_ctc_billable_rates  project.business %}
                  <th >Actual ctc</th>
                  <th >Actual billable</th>
		{% end_permission %}

		{% has_permission has_delete_issue project.business %}
		<th ></th>
		{% end_permission %}
		</tr>

                <tr>
                  <td>
                    <div class="secret_link issue_number" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      show
                    </div>
                  </td>
                  <td>
                    all timesheet entries for this sprint
                  </td>

                  <th></th>
                  
		  {% has_permission has_see_other_user_points project.business %}
		    {% with issues_forms.forms|first as first_form %}
		      {% for user, per_user in first_form.instance.representation.per_user %}
                        {% user_can_estimate_own_points user project.business %}
		          <th>-</th>
                        {% end_can_estimate %}
		      {% endfor %}
		    {% endwith %}
		  {% end_permission %}

		  {% has_not_permission has_see_other_user_points project.business %}
                    {% user_can_estimate_own_points current_user project.business %}
		      <th>-</th>
                    {% end_can_estimate %}
		  {% end_permission %}


                  {% has_permission has_view_actual_hours  project.business %} 
                    <th class="">
                      <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                        <i>{{total_hours|floatformat:"0"|intcomma}}</i>
                      </div>
                    </th>
                  {% end_permission %}

		  {% has_permission has_view_ctc_billable_rates project.business %}
                  <th class="">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      <i>R{{total_ctc|floatformat:"0"|intcomma}}</i>
                    </div>
                  </th>
                  <th class="">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">
                      <i>R{{total_billable|floatformat:"0"|intcomma}}</i>
                    </div>
                  </th>


                  <th class="">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'all_timesheet_entries' project.id %}');">

                    </div>
                  </th>

		  {% end_permission %}
                </tr>

                <tr>
                  <td>
                    <div class="secret_link issue_number" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      show
                    </div>
                  </td>
                  <td>
                      unassigned timesheet entries for this sprint
                  </td>
                  <th></th>

		  {% has_permission has_see_other_user_points project.business %}
		    {% with issues_forms.forms|first as first_form %}
		      {% for user, per_user in first_form.instance.representation.per_user %}
                        {% user_can_estimate_own_points user project.business %}
		          <th>-</th>
                        {% end_can_estimate %}
		      {% endfor %}
		    {% endwith %}
		  {% end_permission %}

		  {% has_not_permission has_see_other_user_points project.business %}
                    {% user_can_estimate_own_points current_user project.business %}
		      <th>-</th>
                    {% end_can_estimate %}
		  {% end_permission %}

                  {% has_permission has_view_actual_hours  project.business %} 
                    <th class="">
                      <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                        {{unassigned_timesheet_entries_hours|floatformat:"0"|intcomma}}
                      </div>
                    </th>
                  {% end_permission %}

		  {% has_permission has_view_ctc_billable_rates project.business %}
                  <th class="">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_ctc|floatformat:"0"|intcomma}}
                    </div>
                  </th>
                  <th class="">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_billable|floatformat:"0"|intcomma}}
                    </div>
                  </th>

                  <th class="">
                    <div class="secret_link">
                    </div>
                  </th>


		  {% end_permission %}
                </tr>
	      </thead>
	      <tbody class="issue_list_body" update_order_url="{% url 'sortable_update'  %}">

		{% for form in issues_forms.forms %}
		{% with form.instance as issue %}
		{% include "timepiece/project/_issue_entry_row.html" %}
		{% endwith %}
		{% endfor %}
		
              </tbody>
            </table>
	  </form>	    

          </div>
          <div class="issue_pane">
            <div class="issue_detail">
            </div>
          </div>
	  
        </div>
    </div>
</div>

{% endblock %}
