{% load timepiece_tags %}

<script>
  imp.loggedin_username="{{current_user.username}}";
</script>

<div class="issue_detail_container">

  <h2 class="issue_detail_title">#{{issue.number}} {{issue.subject}}</h2>

      <div class="clock_container">
	&nbsp;
	{% if is_clocked_in %}
	<button class="btn btn-info" onclick="return imp.clock_out(this, {{current_user.id}}, {{issue.id}}, '{% url 'issue_clock_out' %}');">
	  clock out
	  <img style="display:none" class="clock_img" src="{{STATIC_URL}}/images/icons/clock_out.png" title="clock out"/>
	</button>
	{% else %}
	<button class="btn btn-info" onclick="return imp.clock_in(this, {{current_user.id}}, {{issue.id}}, '{% url 'issue_clock_in' %}');">
	  clock in
	  <img style="display:none" class="clock_img" src="{{STATIC_URL}}/images/icons/clock_in.png" title="clock in"/>
	</button>
	{% endif %}
      </div>
  
  {% if issue.id %}
    <div class="change_issue_number">
      <div class="small_button btn title" onclick="$(this).parents('.change_issue_number').find('.content').toggle(); return false;">Change number</div>
      <div class="content" style="display:none">
        <form method="POST" action="{% url 'edit_issue_number' issue.id %}">
          {% csrf_token %}
          {{ issue_number_form }}
          (next issue number is {{project.next_issue_number}})
          <button class="small_button btn" onclick="return imp.post_issue_number_form(this, {{issue.id}});">save</button>
        </form>
      </div>
    {% endif %}

  {% if issue.interface_plugin_number %}
      <div class="small_button btn title" onclick="imp.sync_from_remote({{issue.id}}, '{% url 'jira:sync_issue_from_jira' issue.id %}')">Sync fetch</div>
  {% endif %}

  {% if issue.id %}
  <div class="issue_details_sub_heading creation_details">
    <p>
      Created on: {{ issue.created|date:'D d-M-Y H:i:s' }} <br />
      Modified: {{ issue.modified|date:'D d-M-Y H:i:s' }} <br/>
      {% has_permission has_view_actual_hours project.business %}
        {% has_permission has_see_other_user_points project.business %}
          Likely estimate: {{ issue.best_hours_estimate.0 }} hours by {{issue.best_hours_estimate.1}} <br/>
        {% end_permission %}
      {% end_permission %}

      {% if issue.due_date %}
        Due date: {{ issue.due_date|date:'D d-M-Y' }} <br/>
      {% endif %}
    </p>
  </div>
  {% endif %}
  {% if user.is_superuser %}
    {% for dup in issue.issue_number_duplicates_in_business %}
    <div>
      Warning: has duplicate: 
      <span class="secret_link issue_number" onclick="imp.show_issue_detail({{dup.pk}}, '{% url 'issue_detail' dup.pk %}');">{{issue.number}}</span>
      {{dup.subject}}
    </div>
    {% endfor %}
    
    
  {% endif %}

  {% comment %}
  <div class="issue_status" style="margin-bottom:10px"><h3>{{issue.status}}</h3></div> 
  {% endcomment %}

    {% if issue.pk %} {% has_permission has_view_ctc_billable_rates project.business %}
    <div class="money_cell fixed_cost_section">
        <div class="show_fixed_cost_button">
            {% if issue.fixed_amount %}
                <div>Fixed amount: {{ issue.fixed_amount }}</div>
            {% endif %}
            {% if issue.fixed_ctc_amount %}
                <div>Fixed CTC amount: {{ issue.fixed_ctc_amount }}</div>
            {% endif %}
            <a class=" btn small_button" href="#" onclick="$('.fixed_cost_panel').show(); $('.show_fixed_cost_button').hide(); return false;">
                <img src="{{ STATIC_URL }}/images/timepiece/icons/comment_add.png" title="Fixed cost"/> </a>
        </div>
        <div class="fixed_cost_panel" style="display:none">
            <div>Fixed Amount</div>
            <input type="text" name="fixed_amount" data-url="{% url 'issue_fixed_cost_update' issue.pk %}" value="{{ issue.fixed_amount|default:'' }}" /><br/>
            <div>Fixed CTC Amount</div>
            <input type="text" name="fixed_ctc_amount" value="{{ issue.fixed_ctc_amount|default:'' }}" /><br/>
            <input type="button" class="btn small_button" onclick="imp.on_set_issue_fixed_cost($('input[name=fixed_amount]'), $('input[name=fixed_ctc_amount]'));" value="save"/>
            <input type="button" class="btn small_button" onclick="$('.fixed_cost_section .show_fixed_cost_button').show(); $(this).parents('.fixed_cost_panel').hide(); return false;" value="cancel"/>
        </div>
    </div>

    {% end_permission %} {% endif %}


  {% if supports_description %}
  <div>
    <div class="edit_description" >
      <div class="static_div">
        {% has_permission has_edit_description issue.project.business %}
	<div class="small_button btn" onclick="imp.clickable_description_box($(this).parent(), '{% url 'issue_detail_update' %}',{{ issue.id }})">
          <img src="{{STATIC_URL}}images/timepiece/icons/note_edit.png" title="Edit description"/>
	</div>
	{% end_permission %}
          <div class="markdown_content" style="display:none">{{issue.description}}</div>
          <div class="content">{% if issue.description %} {{issue.description|asmarkdown|with_issue_links|safe}}</div>
        {% else %}No issue detail{% endif %}

      </div>
      <a href="http://daringfireball.net/projects/markdown/syntax" class="markdown_help" target="_blank" style="display:none">markdown syntax</a>
    </div>
    <div class="issue_comments">
      <br/>
      {% if issue.comments_in_order.count %}
      <h3>Comments, most recent first</h3>
      {% endif %}
      {% for comment in issue.comments_in_order %}
        <div class="comment_section edit_comment_section">
          <div class="creation_details">
	    {{comment.modified}}
	    {{comment.author}}
	   </div>
           
	   <div class="markdown_content">
	     {{comment.comment|asmarkdown|with_issue_links|safe}}
           </div>
           
           {% has_permission has_add_issue_comment issue.project.business %}
           <div class="edit_comment" style="display:none">
             <textarea name="comment" data-url="{% url 'edit_issue_comment' comment.pk %}">{{comment.comment}}</textarea>
             <input type="button" class="small_button btn" onclick="imp.on_edit_issue_comment($(this), '{% url 'edit_issue_comment' comment.pk %}');" value="save"/>
             <input type="button" class="small_button btn" onclick="$(this).parents('.comment_section').find('.edit_comment_button').show(); $(this).parents('.comment_section').find('.markdown_content').show(); $(this).parents('.edi prot_comment').hide(); return false;" value="cancel"/>
           </div>

           <a class="edit_comment_button small_button btn" href="#" onclick="$(this).parent().find('.edit_comment').show(); $(this).hide(); $(this).parents('.comment_section').find('.markdown_content').hide(); return false;">
             <img src="{{STATIC_URL}}images/icons/comment_edit.png"/>
           </a>
           <a class="delete_comment_button small_button btn" href="#" onclick="return imp.delete_issue_comment('{% url 'delete_issue_comment' comment.pk %}');">
             <img src="{{STATIC_URL}}/images/timepiece/icons/comment_delete.png"/>
           </a>
        {% end_permission %}
        </div>
	<hr/>
      {% endfor %}



        {% has_permission has_add_issue_comment issue.project.business %}
        <div class="comment_section">
          <a class="new_comment_button btn small_button" href="#" onclick="$(this).parent().find('.new_comment').show(); $(this).hide(); return false;">
            <img src="{{STATIC_URL}}/images/timepiece/icons/comment_add.png"/>
          </a>
          <div class="new_comment" style="display:none">
	    <textarea name="comment" data-url="{% url 'add_issue_comment' issue.pk %}"></textarea>
	    <input type="button" class="btn small_button" onclick="imp.on_add_issue_comment($(this), '{% url 'add_issue_comment' issue.id %}');" value="save"/>
	    <input type="button" class="btn small_button" onclick="$(this).parents('.comment_section').find('.new_comment_button').show(); $(this).parents('.new_comment').hide(); return false;" value="cancel"/>
          </div>
        </div>
        {% end_permission %}
    </div>


































  </div>
  {% endif %}

  {% if issue.pk %}
    {% has_permission has_edit_description issue.project.business %}
      <br/>
      {% for attachment in issue.attachments.all %}
        <ul class="unstyled">
          <li>
            <a target="_blank" href={{ attachment.attachment.url }}>{{attachment.name}}</a>
            <img class="secret_link" onclick="return imp.delete_issue_attachment('{% url 'delete_issue_attachment' attachment.id %}');" src="{{STATIC_URL}}/images/timepiece/icons/cross.png"/>
          </li>
        </ul>
      {% endfor %}

      <div class="attachment_section">
        <a href="#" class="small_button btn" onclick="return imp.attach_upload_issue_attachment($(this));">
          <img src="{{STATIC_URL}}images/timepiece/icons/attach.png"/>
        </a>
        <div class="new_attachment" style="display:none">
          <input type="file" name="attachment" data-url="{% url 'add_issue_attachment' issue.pk %}"/>
        </div>
       

        {% end_permission %}
        
  {% endif %}
  <hr/>
        
  {% has_permission has_view_actual_hours project.business %}
    <a href="#" class="btn small_button" onclick="$(this).parent().find('.timesheet_entries').toggle(); return false;">
      <img src="{{STATIC_URL}}images/icons/clock.png"/>
    </a>
    <div class="timesheet_entries" {% if not issue.auto_expand_timesheet_entries %}style="display:none"{% endif %}>
      <h3>Timesheet entries</h3>
      <a href="{{ timesheet_export_url }}">
	csv
      </a>
      {% ifequal 0 issue.related_entries|length %}
        No timesheet entries
      {% else %}
        <div class="issue_entries">
          <table>
            <tbody>
              {% for entry in issue.sorted_related_entries %}
              <tr>
                <td>
		  {% if entry.user == current_user %}
		    <a target="_blank" href="{% url 'quick_clocker_edit_entry' entry.id %}">
		      #{{entry.id}}
		    </a>
		    {% else %}
		    #{{entry.id}}
		    {% endif %}
		</td>
                <td>{{entry.user}}</td>
                <td>{{entry.start_time|date:'Y-m-d (D)'}}</td>
                <td>{{entry.hours}}</td>
                <td class="issue_subject">
                  {% ifequal 0 entry.extended_comments|length %}
                    {{entry.comments}}
                  {% else %}
                    <div class="secret_link" onclick="$(this).parent().find('.extended_comments').toggle()">
                      {{entry.comments}}
                    </div>
                    <div class="extended_comments" style="display:none">
                      {{entry.extended_comments|linebreaks}}
                    </div>
                  {% endifequal %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endifequal %}
    </div>
  {% end_permission %}

    {% if issue.pk %}
    <a href="#" class="btn small_button" onclick="return imp.show_issue_history('{% url 'show_issue_history' issue.pk %}')">
      <img src="{{STATIC_URL}}/images/icons/report.png"/>
    </a>
    {% endif %}

</div>
