{% extends "timepiece/project/base.html" %}
{% load url from future %}
{% load humanize %}
{% block title %}Project Issues{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block content %}

<script src="{{STATIC_URL}}timepiece/js/issues.js"></script>

<img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>

<div class="row-fluid">
    <div class="span12">
        <h2>{{project.business.name}} - {{ project }}</h2>
        <ul class="unstyled subnav">
            {% if perms.timepiece.change_project %}
                <li><a href='{% url 'edit_project' project_id=project.id %}'>Edit project</a></li>
                <li><a href="{% url 'delete_project' project.id %}">Delete project</a></li>
            {% endif %}
            {% if perms.timepiece.view_businesses %}
                <li><a href='{% url 'view_business' business=project.business.id %}'>Return to {{ project.business.name }}</a></li>
            {% endif %}

            {% if perms.timepiece.view_project_time_sheet %}
                <li><a href='{% url 'project_time_sheet' project.id %}'>Project Time Sheet</a></li>
            {% endif %}

            <li><a href='{% url 'project_issues' project.id %}'>Issues</a></li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">

        {% if issues %}

        <div class="issues">
          <div class="issues_list">
            <table>

              <thead>
                <th>#</th>
                <th>Status</th>
                <th>Points</th>
                <th>Hours</th>
                <th>ctc</th>
                <th>billable</th>
                <th>Subject</th>
              </thead>

              <tbody>

                <tr>
                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      na
                    </div>
                  </td>
                  <td></td>
                  <td class="number">-</td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      {{unassigned_timesheet_entries_hours}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_ctc}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      R{{unassigned_timesheet_entries_billable}}
                    </div>
                  </td>
                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'unassigned_timesheet_entries' project.id %}');">
                      unassigned timesheet entries
                    </div>
                  </td>
                </tr>
                {% for issue in issues %}

                <tr class="{{issue.css_class}}">
                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      {{issue.number}}
                    </div>
                  </td>
                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      {{issue.status}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      {{issue.story_points|default_if_none:"-"}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      {{issue.hours|default_if_none:"-"}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      R{{issue.ctc|floatformat:"0"|intcomma}}
                    </div>
                  </td>
                  <td class="number">
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      R{{issue.billable|floatformat:"0"|intcomma}}
                    </div>
                  </td>
                  <td>
                    <div class="secret_link" onclick="imp.show_issue_detail('{% url 'issue_detail' issue.id %}');">
                      {{issue.subject}}
                    </div>
                  </td>
                </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>

          <div class="issue_pane">
            <div class="issue_detail">
            </div>
          </div>

        </div>

        {% else %}
        No issues
        {% endif %}
    </div>
</div>

{% endblock %}