{% load timepiece_tags %}
<h2>#{{issue.id}} {{issue.subject}}</h2>

<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}timepiece/js/issues.js"></script>

<div class="issue_status" style="margin-bottom:10px">{{issue.status}}</div> 

<div class="edit_description" >

  <div class="static_div" {% has_permission has_edit_description issue.project.business %} onclick="imp.clickable_description_box(this, '{% url issue_detail_update %}',{{ issue.id }})" {% end_permission %} >
    {% if issue.description %} {{issue.description|linebreaksbr}} 
    {% else %} No issue detail
    {% endif %}
  </div>
</div>

{% ifequal 0 issue.related_entries|length %}
  No timesheet entries
{% else %}
  <div class="issue_entries">
    <h3>Timesheet entries</h3>
    <table>
      <tbody>
        {% for entry in issue.related_entries %}
        <tr>
          <td>#{{entry.id}}</td>
          <td>{{entry.user}}</td>
          <td>{{entry.start_time|date:'Y-m-d (D)'}}</td>
          <td>{{entry.hours}}</td>
          <td class="issue_subject">
            {% ifequal 0 entry.extended_comments|length %}
              {{entry.comments}}
            {% else %}
              <div class="secret_link" onclick="$(this).parent().find('.extended_comments').toggle()">
                {{entry.comments}}
              </div>
              <div class="extended_comments" style="display:none">
                {{entry.extended_comments|linebreaks}}
              </div>
            {% endifequal %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endifequal %}


