{% extends "timepiece/project/base.html" %}
{% block title %}Projects{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/project_hours/rates.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/project_hours/expenses.js"></script>
 {% endblock extrajs %}

 {% block content %}

     <div class="row-fluid">

       <table class='table table-striped table-bordered table-condensed project_list'>
         <tbody>

           <tr>
             <th colspan="9">
               <h2>Active projects</h2>
               <div class="tip">has at least one sprint in state {{active_project_states}}</div>
             </th>
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=active_businesses %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>

           <tr>
             <th colspan="9">
               <h2>Pending projects</h2>
               <div class="tip">has at least one sprint in state {{pending_project_states}} and no active sprints</div>
             </th>
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=pending_businesses %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>

           <tr>
             <th colspan="9">
               <h2>Closed projects</h2>
               <div class="tip">has only sprints in state {{closed_project_states}}</div>
             </th>
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=closed_businesses %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>
         </tbody>
       </table>
    </div>
{% endblock %}


