{% extends "timepiece/project/base.html" %}
{% block title %}Projects{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/project_hours/rates.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/project_hours/expenses.js"></script>
 {% endblock extrajs %}

 {% block content %}

     <div class="row-fluid">

       <table class='table no_borders project_list'>

	 <thead>
	   <tr>
	     <td></td>
	     <td></td>
	     <td></td>
	     <td></td>
	     <td>Traffic Checklist</td>
	     <td>Dev Checklist</td>
	     <td>Finance Checklist</td>
	   </tr>
	 </thead>

         <tbody>

           {% if active_businesses|length > 0 %}
           <tr>
             <th colspan="4">
               <h2 style="cursor:pointer" onclick="$('.active_business_row').toggle(); return false;">Active projects ({{active_businesses|length}})</h2>
               <div class="tip">has at least one sprint in [{{active_project_states}}]</div>
             </th>
	     {% include "timepiece/project/_checklist_failures_for_businesses.html" with businesses=active_businesses %}
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=active_businesses name='active' expand=1 %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>
           {% endif %}

           {% if pending_businesses|length > 0 %}
           <tr>
             <th colspan="4">
               <h2 style="cursor:pointer" onclick="$('.pending_business_row').toggle(); return false;">Pending projects ({{pending_businesses|length}})</h2>
               <div class="tip">has at least one sprint in [{{pending_project_states}}] and has no active sprints</div>
             </th>
	     {% include "timepiece/project/_checklist_failures_for_businesses.html" with businesses=pending_businesses %}
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=pending_businesses name='pending' expand=0 %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>
           {% endif %}

           {% if hopeful_businesses|length > 0 %}
           <tr>
             <th colspan="4">
               <h2 style="cursor:pointer" onclick="$('.hopeful_business_row').toggle(); return false;">Hopeful projects ({{hopeful_businesses|length}})</h2>
               <div class="tip">has at least one sprint in [{{hopeful_project_states}}]</div>
               <div class="tip">these are potential leads to be followed up</div>
             </th>
	     {% include "timepiece/project/_checklist_failures_for_businesses.html" with businesses=hopeful_businesses %}
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=hopeful_businesses name='hopeful' expand=0 %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>
           {% endif %}

           {% if closed_businesses|length > 0 %}
           <tr>
             <th colspan="9">
               <h2 style="cursor:pointer" onclick="$('.closed_business_row').toggle(); return false;">Closed projects ({{closed_businesses|length}})</h2>
               <div class="tip">has only sprints in state [{{closed_project_states}}]</div>
             </th>
           </tr>
             {% include "timepiece/project/_list_businesses.html" with businesses=closed_businesses name='closed' expand=0 %}
           <tr>
             <th colspan="9">
               &nbsp;
             </th>
           </tr>
           {% endif %}
         </tbody>
       </table>
    </div>
{% endblock %}


