{% extends "timepiece/project/base.html" %}
{% load humanize %}
{% block title %}{{business.name}}{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'markitup/sets/markdown/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'markitup/skins/markitup/style.css' %}">

{% endblock %}

{% block crumbs %}
{% endblock %}

{% block extrajs %}
<script src="{% static 'timepiece/js/jquery.splitter-0.20.0.js' %}"></script>
<script src="{% static 'timepiece/js/projects.js' %}"></script>
<script src="{% static 'timepiece/js/issues.js' %}"></script>

<script type="text/javascript" src="{% static 'markitup/jquery.markitup.js' %}"></script>
<script type="text/javascript" src="{% static 'markitup/sets/markdown/set.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'timepiece/css/jquery.splitter.css' %}" />

{% endblock extrajs %}

{% block extra_content_class %}maximize_size{% endblock %}

{% block content %}

<div class="current_sprint_details">
</div>

{% if business %}
<div class="parent_li_of_form_on_click">
  
  {% has_permission has_create_sprint business %}  
  <div class="new_issue_form to_edit_expanded_form" style="display:none;position:absolute;z-index:100">		  
  </div>
{% end_permission %}

  
</div>
{% endif %}



<div class="content_container">
  <div class="project_menu">

    <div class="project_actions">
    </div>
    <div class="hidden_project_list" style="display:none">
    </div>
    <div class="project_list" project_sort_url="{% url 'sortable_project_update' %}" move_issue_to_project_url="{% url 'move_issue_to_project' %}" >
      {% for project in projects %}

      {% include "timepiece/project/_project_list_item.html" %}
      
      {% endfor %}
    </div>
  </div>
  <div class="splitter_container">
    <div class="splitter">
      <div class="splitter-left">


        {% ifequal business.sync_with "jira" %}
        <div class="jira_info">
	  Jira is enabled for this project. Support is limited to:
	  <ul>
	    <li>Adds a 'sync jira' menu option to the Sprints main menu. This fetches all latest issues and sprints and imports them. Over-writes any local settings, except for time entries</li>
	    <li>New issues are correctly created  (note there are two assigned user fields, the jira user will override the default user)</li>
	    <li>In this version the following fields are correctly synced to Jira: subject, description, state, assigned user</li>
	  </ul>
	  <div style="clear:both"></div>
        </div>
        {% endifequal %}
        
        <ul class="issue_list open">
          
          <div class="project_table_row project_contents">
            <div class="project_table_cell information">
              <img style="display:none" class="loading" src="{% static 'images/icons/loadingAnimation.gif' %}"/>
            </div>
          </div>
          
          <div class="issue_list_content"></div>

        </ul>
        
      </div>

      <div class="splitter-right">
        <div class="issue_detail">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display:none">
  <div class="project_card_dialog_container">
    <div class="dialog_content"></div>
  </div>
</div>

<script>
imp.initial_highlight_issue_id='{{highlight_issue_id}}';
imp.active_business_id='{{business.id}}';

</script>

{% endblock %}
