{% extends "timepiece/project/base.html" %}
{% load url from future %}
{% load humanize %}
{% block title %}Project Issues{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block content %}
<script src="{{STATIC_URL}}timepiece/js/projects.js"></script>
<script src="{{STATIC_URL}}timepiece/js/issues.js"></script>

<ul class="project_list" project_sort_url="{% url 'sortable_project_update' %}" style="list-style-type:none;">
  {% for project in projects %} 
  <li class="project_li" list_project_id="{{ project.id }}" >
  <div class="project_table project_table_appearance">    
    <div class="project_table_row project_coloured_row">
      <div class="project_table_cell project_expand" preloaded="{{ project.is_preloaded }}" onclick="imp.projects.load_or_display_issues(this, '{% url 'get_project_detail' project.id %}', '{% url 'sortable_issue_update' project.id  %}')"  >  <img style="float:left" class="loading" src="{{STATIC_URL}}/images/icons/bullet_arrow_down.png"/> {{project.name}}  
      </div> 
    </div>
    <div class="project_table_row project_contents">

      <div class="project_table_cell information">
        <img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>
      </div>


    </div>
  </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
