{% extends "timepiece/project/base.html" %}
{% load url from future %}
{% load humanize %}
{% block title %}Project Issues{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block content %}
<script src="{{STATIC_URL}}timepiece/js/projects.js"></script>
<img style="display:none" class="loading" src="{{STATIC_URL}}/images/icons/loadingAnimation.gif"/>

<div class="projects">
  <div class="project_table">
    {% for project in projects %}    
    <div class="project_table_row">
      <div class="project_table_cell project_expand">V</div> <div  class="project_table_cell"> {{project.name}} </div> 
    </div>
    {% endfor %}

    {% comment %}
    <table>
      <thead>
      </thead>
      
      <tbody>
        {% for project in projects %}
        <tr>
          <td>V</td> <td> {{project.name}} </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endcomment %}
  </div>
</div>

      {% endblock %}