{% extends "timepiece/graphs/base.html" %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block extramedia %}
{{ add_user_form.media }}
{% endblock %}

{% block title %}{{ project }} - {{project.business.name}}{% endblock %}

{% block crumbs %}
    {{ block.super }}
{% endblock crumbs %}

{% block content %}
Insert graph here


<script>
  plot_charts = [
  {% for user,days_hours in daily_hours %} 
  {data: [ {%spaceless%} 
		   { label:"{{user}}", 
		     data: [ {% for date, hours in days_hours %} 
		                [ {{date|epoch}},{{hours}}], {% endfor %} ],
		     lines: {show: true, steps:true},
		     {# points: {show: true}, #}
	           },
	       {%endspaceless%}
	     ],
  options: {xaxis: {mode: "time",
                    {% if from_date %}
                     min: {{from_date|epoch}},
                    {% endif %}
                   {% if to_date %}
                     max: {{to_date|epoch}},
                    {% endif %}
                   timeformat: "%d %b %y",
		   },
	    grid: {markings: [{yaxis: {from: 8, to:8}, color: "#adff2f"}]}},
   divid: "#graph{{user}}",
   },

   {% endfor %}
   ];

</script>
<div style="width:100%">
  <div id="graphuser_username" style="width:100%;height:300px"></div><br /><br />
</div>
{% endblock %}
