{% extends "timepiece/person/base.html" %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% block extramedia %}
  {{ add_user_form.media }}
{% endblock %}

{% block title %}Permissions{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span12">
          <br/><br/><br/><br/>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h2>People - {{business.name}}</h2>
        </div>
    </div>
    {% has_permission can_edit_permissions last_project.business %}
    <div class="row-fluid">

        <div class="span12">
	    <form method="POST" action="{% url 'show_permissions' business_id=business.id %}">
	      {% csrf_token %}
	        {{ permission_forms.management_form }}

                {% if permission_forms.errors %}
                {{permission_forms.errors}}
                {% endif %}
	      
	      <h3>Safe fields</h3>
	      <table class='permissions_list table table-striped table-bordered table-condensed'>
		<thead>
		  <tr>
		    <th> user </th>
		    {% for field in permission_forms.forms.0 %}

		      {% if field.field.widget.attrs.class == 'safe' and not field.is_hidden %}		      
 		       <th>{{ field.label }}</th>
		      {% endif %}
		    {% endfor %} 
		  </tr>
		</thead>
		<tbody>
		    {% for form in permission_forms.forms %}
		    <tr>
		      <td>{{ form.id }}{{ form.instance.user.username}} </td>
		      {% for field in form %}
			{% if field.field.widget.attrs.class == 'safe' and not field.is_hidden %}		      
			 <td>{{field.errors}}{{ field }}</td>
			{% endif %}
		      {% endfor %} 

		    </tr>
		    {% endfor %}		  
		</tbody>
	      </table>

	      <h3>Medium fields</h3>
	      <table class='permissions_list table table-striped table-bordered table-condensed'>
		<thead>
		  <tr>
		    <th> user </th>
		    {% for field in permission_forms.forms.0 %}

		      {% if field.field.widget.attrs.class == 'medium-safe' and not field.is_hidden %}		      
 		       <th>{{ field.label }}</th>
		      {% endif %}
		    {% endfor %} 
		  </tr>
		</thead>
		<tbody>
		    {% for form in permission_forms.forms %}
		    <tr>
		      <td>{{ form.id }}{{ form.instance.user.username}} </td>
		      {% for field in form %}
		        {% if field.field.widget.attrs.class == 'medium-safe' and not field.is_hidden %}		      
			 <td>{{field.errors}}{{ field }}</td>
			{% endif %}
		      {% endfor %} 

		    </tr>
		    {% endfor %}		  
		</tbody>

	      </table>

	      <h3>Unsafe fields</h3>
	      <table class='permissions_list table table-striped table-bordered table-condensed'>
		<thead>
		  <tr>
		    <th> user </th>
		    {% for field in permission_forms.forms.0 %}

		      {% if field.field.widget.attrs.class == 'unsafe' and not field.is_hidden %}		      
 		       <th>{{ field.label }}</th>
		      {% endif %}
		    {% endfor %} 
		  </tr>
		</thead>
		<tbody>
		    {% for form in permission_forms.forms %}
		    <tr>
		      <td>{{ form.id }}{{ form.instance.user.username}} </td>
		      {% for field in form %}
		        {% if field.field.widget.attrs.class == 'unsafe' and not field.is_hidden %}		      
			 <td>{{field.errors}}{{ field }}</td>
			{% endif %}
		      {% endfor %} 

		    </tr>
		    {% endfor %}		  
		</tbody>

	      </table>


	      <input type="submit" value="save"/>
	    </form>
	    
	    {% if last_project %}
            {% if perms.timepiece.add_projectrelationship %}
	    <form class="form-inline" action="{% url 'add_user_to_project' project_id=last_project.id %}?next={% url 'show_permissions' business_id=business.id %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ add_user_form }}
                <input class="btn" type="submit" name="submit" id="submit" value="Add" />
            </form>
            {% endif %}
	    {% else %}
	    Cannot add permissions until a sprint exists.
	    {% endif %}
        </div>
    </div>
    {% end_permission %}
    {% has_not_permission can_edit_permissions last_project.business %}
    You do not have permission to update permissions
    {% end_permission %}
{% endblock %}
