{% extends "timepiece/base_report.html" %}
{% load humanize %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}

{% block report_heading_extra %}Summary{% endblock %}

{% block content %}
{{ form.errors }}

<div class="sprint_report">

  {% ifequal "html" output_format %}
    <form method="GET" action="{% url 'sprint_report' project.id %}">
      <div style="display:none">
        {{ form }}
        <input type="hidden" name="report_type" value="Summary"/>
        <input type="hidden" name="output_format" value="pdf"/>
        <input type="hidden" name="authenticate_token" value="{{user.profile.authenticate_token}}"/>
        <input type="hidden" name="authenticate_username" value="{{user.username}}"/>
      </div>
      <input style="position: fixed; right:100px; top: 100px;" type="submit" value="Print"/>
    </form>
  {% endifequal %}

  <div style="text-align:center" >
    <h3>{{project.business.name}} - {{project.name}}</h3>
    {{project.short_description}}
     <hr/>
     <br/>
   </div>

{% if settings.start_end_time %}
  {% if settings.start %}
    This summary is for the following date range only, which might not
    include all work in the sprint.

    From {{ settings.start }} to {{ settings.end }}
  {% else %}
    <br/>
    {% if project.stats.start_time %}Started on the {{ project.stats.start_time|date:"d F Y H:m" }} at {{ project.stats.start_time|date:"H:m" }}  {% endif %}
      <br/>
      {% if project.stats.end_time %}Finished on the {{ project.stats.end_time|date:"d F Y H:m" }} at {{ project.stats.end_time|date:"H:m" }}  {% endif %}
    <br/>
  {% endif %}
{% endif %}
<br/>

<div class="page_break""></div>  
<h3>Costing</h3>

{% if settings.billable or settings.ctc %}

<p>
The amounts in this sprint are based on the actual time taken, as tracked
daily by each individual working on the project.
</p>

  <p class="executive_summary">


      {% if settings.billable %}
      {% if settings.ctc %}Cost to company: R{{ project.stats.ctc|floatformat:2|intcomma }}	<br/>
      {% endif %}
      Billable: R{{ project.stats.billed|floatformat:2|intcomma }}
      {% endif %}
  </p>
{% endif %}


{% if settings.include_billable_per_user %}
  {% if project.stats.cost_per_developer.items|length > 0 %}
    {% if settings.billable or settings.ctc %}
          <table>
            <thead>
              <th>User</th>
              {% if settings.view_actual_hours %}
              <th>Hours</th>
              {% endif %}
              {% if settings.ctc %}
              <th>Ctc</th>
              {% endif %}
              {% if settings.billable %}
              <th>Billable</th>
              {% endif %}
            </thead>
            <tbody>
              {% for user, costs in project.stats.cost_per_developer.items %}
              <tr>
                <td>{{ user.username }}</td>
                {% if settings.view_actual_hours %}
                <td>{{ costs.hours }}</td>
                {% endif %}
                {% if settings.ctc %}
                <td>R{{ costs.ctc|floatformat:2|intcomma }}</td>
                {% endif %}
                {% if settings.billable %}
                <td>R{{ costs.billable|floatformat:2|intcomma }}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
    {% endif %}
  {% endif %}      
{% endif %}

{% if settings.include_features %}
      <h3>Features</h3>
      <table>
	<thead>
	  <th></th>
	  {% if settings.ctc %}
	  <th>ctc</th>
	  {% endif %}
	  {% if settings.billable %}
	  <th>Billable</th>
	  {% endif %}
	</thead>
	<tbody>
	  {% for data in project.costs_by_feature.values %} 
	  <tr>
	    <th>{{data.name}}</th>
	    {% if settings.ctc %}
	    <td>R{{data.ctc|floatformat:2|intcomma}}</td>
	    {% endif %}
	    {% if settings.billable %}
	    <td>R{{data.billable|floatformat:2|intcomma}}</td>
	    {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
{% endif %}

      

      <div class="toggle_graphs_section">
	{% if settings.view_actual_hours %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">hours by user</h3>
	    <div class="graph_hours_by_user" style="height:250px;width:250px;"></div>
	  </div>
	{% endif %}
	
	{% if settings.ctc %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">ctc per user</h3>
	    <div class="graph_ctc_by_user" style="height:250px;width:250px;"></div>
	    
	  </div>
	  {% endif %}
          {% if settings.include_billable_per_user %}
	    {% if settings.billable %}
	      <div class="graph" style="float:left">
	        <h3 style="text-align:center">Billable per user</h3>
	        <div class="graph_billable_by_user" style="height:250px;width:250px;"></div>
	      </div>
            {% endif %}
            {% if settings.ctc and settings.billable %}
              <div class="graph" style="float:left">
                <h3 style="text-align:center">Profit per user</h3>
                <div class="graph_profit_by_user" style="height:250px;width:250px;"></div>
              </div>
            {% endif %}
          {% endif %}

        {% if settings.include_features %}
          <div style="clear:both"></div>
          {% if settings.ctc %}
            <div class="graph" style="float:left">
              <h3 style="text-align:center">Ctc per feature</h3>
              <div class="graph_ctc_by_feature" style="height:250px;width:250px;"></div>

            </div>
          {% endif %}
          {% if settings.billable %}
            <div class="graph" style="float:left">
              <h3 style="text-align:center">Billable per feature</h3>
              <div class="graph_billable_by_feature" style="height:250px;width:250px;"></div>
            </div>
          {% endif %}
          <div style="clear:both"></div>

          </div>
        {% endif %}

      <script>

	{% if settings.view_actual_hours %}

	  $.plot(".graph_hours_by_user",
		 [ {%spaceless%} 
		     {% for username,amounts in project.stats.users_and_hours.users.items %} 
		       { label:"{{username}}", 
			 data: {{amounts.hours}}
		       },
		     {% endfor %} 
		   {%endspaceless%}
		 ],
		 { series: { pie: { show: true } },
		   legend: { show: false} } );
        {% endif %}

	{% if settings.ctc %}
	$.plot(".graph_ctc_by_user",
	       [ {%spaceless%} 
		   {% for username,amounts in project.stats.users_and_hours.users.items %} 
		     { label:"{{username}}", 
			 data: {{amounts.revenue}}
		       },
		     {% endfor %} 
		   {%endspaceless%}
		 ],
		 { series: { pie: { show: true } },
		   legend: { show: false} } );
	{% endif %}
	
	{% if settings.billable and settings.include_billable_per_user %}
	  $.plot(".graph_billable_by_user",
		   [ {%spaceless%} 
		       {% for username,amounts in project.stats.users_and_hours.users.items %} 
			 { label:"{{username}}", 
			   data: {{amounts.billed}}
			 },
		       {% endfor %} 
		     {%endspaceless%}
		   ],
		   { series: { pie: { show: true } },
		     legend: { show: false} } );

        {% endif %}

	{% if settings.include_features %}
      
	  {% if settings.ctc %}
	    $.plot(".graph_profit_by_user",
		     [ {%spaceless%} 
			 {% for username,amounts in project.stats.users_and_hours.users.items %} 
			   { label:"{{username}}", 
			     data: {{amounts.profit}}
			   },
			 {% endfor %} 
		       {%endspaceless%}
		     ],
		     { series: { pie: { show: true } },
		       legend: { show: false} } );      $.plot(".graph_ctc_by_feature",
		     [ {%spaceless%} 
			 {% for data in project.costs_by_feature.values %} 
			   { label:"{{data.name}}", 
			     data: {{data.ctc}}
			   },
			 {% endfor %} 
		       {%endspaceless%}
		     ],
		     { series: { pie: { show: true } },
		       legend: { show: false} } );
	  {% endif %}
	  {% if settings.billable %}
	    $.plot(".graph_billable_by_feature",
		     [ {%spaceless%} 
			 {% for data in project.costs_by_feature.values %} 
			   { label:"{{data.name}}", 
			     data: {{data.billable}}
			   },
			 {% endfor %} 
		       {%endspaceless%}
		     ],
		     { series: { pie: { show: true } },
		       legend: { show: false} } );

	    {% endif %}

	  {% endif %}

	</script>


<div class="page_break""></div>  

  <h3>Issues</h3>
  <table class="issues">
    <thead>
      <th>#</th>
      <th style="min-width:50%">Subject</th>
      {% if settings.issue_assignee %}
      <th>Assigned</th>
      {% endif %}
      {% if settings.include_features %} 
      <th>Feature</th>
      {% endif %}
      {% if settings.issue_status %}
      <th>Status</th>
      {% endif %}
      {% if settings.view_actual_hours %}
      <th>Hours</th>
      {% endif %}
      {% if settings.ctc %}
      <th>Ctc</th>
      {% endif %}
      {% if settings.billable %}
      <th>Billable</th>
      {% endif %}
    </thead>

    <tbody>
      {% for issue in issues %}

	{% if not settings.only_issues_with_time or issue.hours %}

	<tr>
	  <td> <a href="#issue_description_{{issue.id}}">{{issue.number}}</a> </td>
	  <td> {{issue.subject}} </td>
	  {% if settings.issue_assignee %}
	    <td> {{issue.assigned_to.get_full_name|default_if_none:""}} </td>
	  {% endif %}
	  {% if settings.include_features %}
	  <td> {{issue.feature|default_if_none:""}}</td>
	  {% endif %}
	  {% if settings.issue_status %}
	    <td> {{ issue.status }}</td>
	  {% endif %}
	  {% if settings.view_actual_hours %}
	  <td> {{issue.hours|default_if_none:""}} </td>
	  {% endif %}
	  {% if settings.ctc %}
	  <td>R{{issue.ctc|floatformat:2|intcomma}}</td>
	  {% endif %}
	  {% if settings.billable %}
	  <td>R{{issue.billable|floatformat:2|intcomma}}</td>
	  {% endif %}
	</tr>
	{% endif %}
      {% endfor %}
      {% if project.stats.unassigned.costs.hours > 0 %}
      <tr>
	<td></td>
	<td>non specific time</td>
	{% if settings.include_features %}
	<td></td>
	{% endif %}
	{% if settings.view_actual_hours %}
	<td>{{project.stats.unassigned.costs.hours|floatformat:2|intcomma}}</td>
	{% endif %}
	{% if settings.ctc %}
	<td>R{{project.stats.unassigned.costs.ctc|floatformat:2|intcomma}}</td>
	{% endif %}
	{% if settings.billable %}
	<td>R{{project.stats.unassigned.costs.billable|floatformat:2|intcomma}}</td>
	{% endif %}
      </tr>
      {% endif %}
    </tbody>
  </table>

<div class="page_break"></div>

  <div class="issue_descriptions">
    <h3>Issue descriptions</h3>

    {% for issue in issues %}

    {% if not settings.only_issues_with_time or issue.hours %}

    <h4 id="issue_description_{{issue.id}}">{{issue.number}} - {{issue.subject}}</h4>
    {{issue.description|asmarkdown|safe}}

    <div class="issue_comments">
      <br/>
      {% for comment in issue.comments_in_order %}
      <div class="creation_details">
	{{comment.created}}
	{{comment.author}}
      </div>
      <div class="markdown_content">{{comment.comment|asmarkdown|safe}}</div>
      <hr/>
      {% endfor %}
    </div>

    {% endif %}

    {% endfor %}

    {% if project.stats.unassigned.comments|length > 0 %}
    <h4 id="issue_description_unassigned">non specific time</h4>
    <ul>
      {% for comment in project.stats.unassigned.comments %}
      <li>{{comment.comments|safe}}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>



</div>

{% endblock %}
