{% extends "timepiece/base_report.html" %}
{% load humanize %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}

{{ form.errors }}

{% block content %}

<div class="sprint_report">

  <input style="position: fixed; right:100px; top: 100px;" class="btn" type="button" value="Print" onClick="$(this).hide(); window.print(); ">
  <div class="clear:both"/>

     <h4><b><i>{{ project.description }}</i></b></h4>
     <br/>
     <br/>
  
{% if settings.billable or settings.ctc %}
  <p class="executive_summary">


      {% if settings.billable %}
      {% if settings.ctc %}Cost to company: R{{ project.stats.ctc|floatformat:"0"|intcomma }}	<br/>
      {% endif %}
      Billable: R{{ project.stats.billed|floatformat:"0"|intcomma }}
      {% endif %}
  </p>
{% endif %}

  <br/>
      {% if project.stats.start_time %}Started on the {{ project.stats.start_time|date:"d F Y H:m" }} at {{ project.stats.start_time|date:"H:m" }}  {% endif %}
      <br/>
      {% if project.stats.end_time %}Finished on the {{ project.stats.end_time|date:"d F Y H:m" }} at {{ project.stats.end_time|date:"H:m" }}  {% endif %}
<br/>
<br/>

{% if settings.billable or settings.ctc %}
<h3>Costs per person</h3>
      <table>
	<thead>
	  <th>User</th>
	  {% if settings.view_actual_hours %}
	  <th>Hours</th>
	  {% endif %}
	  {% if settings.ctc %}
	  <th>ctc</th>
	  {% endif %}
	  {% if settings.billable %}
	  <th>billable</th>
	  {% endif %}
	</thead>
	<tbody>
	  {% for user, costs in project.cost_per_developer.items %}
	  <tr>
	    <td>{{ user.username }}</td>
	    {% if settings.view_actual_hours %}
	    <td>{{ costs.hours }}</td>
	    {% endif %}
	    {% if settings.ctc %}
	    <td>R{{ costs.ctc|floatformat:"1"|intcomma }}</td>
	    {% endif %}
	    {% if settings.billable %}
	    <td>R{{ costs.billable|floatformat:"1"|intcomma }}</td>
	    {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
{% endif %}
      

      <h3>Features</h3>
      <table>
	<thead>
	  <th></th>
	  {% if settings.ctc %}
	  <th>ctc</th>
	  {% endif %}
	  {% if settings.billable %}
	  <th>billable</th>
	  {% endif %}
	</thead>
	<tbody>
	  {% for data in project.costs_by_feature.values %} 
	  <tr>
	    <th>{{data.name}}</th>
	    {% if settings.ctc %}
	    <td>R{{data.ctc|floatformat:"0"|intcomma}}</td>
	    {% endif %}
	    {% if settings.billable %}
	    <td>R{{data.billable|floatformat:"0"|intcomma}}</td>
	    {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>


      

      <br style="page-break-before: always;" clear="all" /> 
      <div class="toggle_graphs_section">
	{% if settings.view_actual_hours %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">hours by user</h3>
	    <div class="{{project.id}}_graph_hours_by_user" style="height:300px;width:300px;"></div>
	  </div>
	{% endif %}
	
	{% if settings.ctc %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">ctc per user</h3>
	    <div class="{{project.id}}_graph_ctc_by_user" style="height:300px;width:300px;"></div>
	    
	  </div>
	  {% endif %}
	  {% if settings.billable %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">billable per user</h3>
	    <div class="{{project.id}}_graph_billable_by_user" style="height:300px;width:300px;"></div>
	  </div>
	  {% endif %}
	  {% if settings.ctc and settings.billable %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">profit per user</h3>
	    <div class="{{project.id}}_graph_profit_by_user" style="height:300px;width:300px;"></div>
	    
	  </div>
	{% endif %}

	<div style="clear:both"></div>
	


	{% if settings.ctc %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">ctc per feature</h3>
	    <div class="{{project.id}}_graph_ctc_by_feature" style="height:300px;width:300px;"></div>
	    
	  </div>
	{% endif %}
	{% if settings.billable %}
	  <div class="graph" style="float:left">
	    <h3 style="text-align:center">billable per feature</h3>
	    <div class="{{project.id}}_graph_billable_by_feature" style="height:300px;width:300px;"></div>
	  </div>
	{% endif %}
        <div style="clear:both"></div>
	
      </div>

      <script>
	$.plot(".{{project.id}}_graph_hours_by_user",
	       [ {%spaceless%} 
		   {% for username,amounts in project.users_and_hours.users.items %} 
		     { label:"{{username}}", 
		       data: {{amounts.hours}}
		     },
		   {% endfor %} 
		 {%endspaceless%}
	       ],
	       { series: { pie: { show: true } },
		 legend: { show: false} } );

	{% if settings.ctc %}
	$.plot(".{{project.id}}_graph_ctc_by_user",
	       [ {%spaceless%} 
		   {% for username,amounts in project.users_and_hours.users.items %} 
		     { label:"{{username}}", 
			 data: {{amounts.revenue}}
		       },
		     {% endfor %} 
		   {%endspaceless%}
		 ],
		 { series: { pie: { show: true } },
		   legend: { show: false} } );
	{% endif %}
	{% if settings.billable %}
	  $.plot(".{{project.id}}_graph_billable_by_user",
		   [ {%spaceless%} 
		       {% for username,amounts in project.users_and_hours.users.items %} 
			 { label:"{{username}}", 
			   data: {{amounts.billed}}
			 },
		       {% endfor %} 
		     {%endspaceless%}
		   ],
		   { series: { pie: { show: true } },
		     legend: { show: false} } );

          {% endif %}
	  {% if settings.ctc %}
	  $.plot(".{{project.id}}_graph_profit_by_user",
		   [ {%spaceless%} 
		       {% for username,amounts in project.users_and_hours.users.items %} 
			 { label:"{{username}}", 
			   data: {{amounts.profit}}
			 },
		       {% endfor %} 
		     {%endspaceless%}
		   ],
		   { series: { pie: { show: true } },
		     legend: { show: false} } );      $.plot(".{{project.id}}_graph_ctc_by_feature",
		   [ {%spaceless%} 
		       {% for data in project.costs_by_feature.values %} 
			 { label:"{{data.name}}", 
			   data: {{data.ctc}}
			 },
		       {% endfor %} 
		     {%endspaceless%}
		   ],
		   { series: { pie: { show: true } },
		     legend: { show: false} } );
	  {% endif %}
	  {% if settings.billable %}
	  $.plot(".{{project.id}}_graph_billable_by_feature",
		   [ {%spaceless%} 
		       {% for data in project.costs_by_feature.values %} 
			 { label:"{{data.name}}", 
			   data: {{data.billable}}
			 },
		       {% endfor %} 
		     {%endspaceless%}
		   ],
		   { series: { pie: { show: true } },
		     legend: { show: false} } );

	  {% endif %}

	</script>

	<br style="page-break-before: always;" clear="all" /> 
      <h3>Issues</h3>
  <table>
    <thead>
      <th>#</th>
      <th>Subject</th>
      <th>Assigned</th>
      <th>Feature</th>
      <th>Status</th>
      {% if settings.view_actual_hours %}
      <th>Hours</th>
      {% endif %}
      {% if settings.ctc %}
      <th>Ctc</th>
      {% endif %}
      {% if settings.billable %}
      <th>Billable</th>
      {% endif %}
    </thead>

    <tbody>
      {% for issue in issues %}
      <tr>
	<td> <a href="#issue_description_{{issue.id}}">{{issue.number}}</a> </td>
	<td> {{issue.subject}} </td>
	<td> {{issue.assigned_to.get_full_name|default_if_none:""}} </td>
	<td> {{issue.feature|default_if_none:""}}</td>
	<td> {{ issue.status }}</td>
	{% if settings.view_actual_hours %}
	<td> {{issue.hours|default_if_none:""}} </td>
	{% endif %}
	{% if settings.ctc %}
	<td>R{{issue.ctc|floatformat:"0"|intcomma}}</td>
	{% endif %}
	{% if settings.billable %}
	<td>R{{issue.billable|floatformat:"0"|intcomma}}</td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <br style="page-break-before: always;" clear="all" /> 
  <div class="issue_descriptions">
    <h3>Issue descriptions</h3>
    {% for issue in issues %}
    <h4 id="issue_description_{{issue.id}}">{{issue.number}} - {{issue.subject}}</h4>
    {{issue.description|asmarkdown|safe}}
    {% endfor %}

  </div>



</div>

{% endblock %}
