{% load humanize %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}

<div class="report_settings">
  <h1>{{project.business.name}} - {{project.name}}</h1>

  <form target="_blank" method="POST" action="{% url 'sprint_report' project.id %}">

    {% if issue_ids %}
      <input type="hidden" name="issues" value="{{issue_ids}}"/>
    {% endif %}

    <p>
    <h3>Report type</h3>
      Quote: <input type="radio" name="report_type" value="Quote" onclick="$('.report_type_quote').show(); $('.report_type_invoice').hide();"/>
      <br/>
      Invoice: <input type="radio" name="report_type" value="Invoice" onclick="$('.report_type_invoice').show(); $('.report_type_quote').hide();"/>
      <br/>
    </p>

    <div class="report_type_quote" style="display:none">
      <h3>Quote settings</h3>
      {{ quote_form }}
    </div>

    <div class="report_type_invoice" style="display:none">
      <h3>Invoice settings</h3>
      {{ invoice_form }}
    </div>

    <hr/>

    <input type="submit" value="Generate"/>

  </form>

</div>
