{% load humanize %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}

<div class="checklist">
  <h1>{{project.business.name}} - {{project.name}}</h1>
  <h2>Traffic Checklist</h2>

  {{msg}}

  <form class="form-horizontal" action="{% url 'traffic_checklist' project.id %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.errors }}

    <table>

      <thead>
	<tr>
	  <th> </th>
	  <th>today</th>
	  {% for checklist in previous_checklists %}
	  <th> {{checklist.created_at|date:"d M Y H:m"}} </th>
	  {% endfor %}
	</tr>
	<tr>
	  <th></th>
	  <th>{{user}}</th>
	  {% for checklist in previous_checklists %}
	  <th> {{checklist.created_by}} </th>
	{% endfor %}
      </thead>

      <tbody>
	<tr>
	  <td>Passed</td>
	  <td></td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.passed %}tick{% else %}cross{% endif %}.png"/>
	  </td>
	  {% endfor %}
	</tr>
	<tr>
	  <td colspan="99"></td>
	</tr>
	<tr>
	  <td>Has there been a new release to the client's staging server recently?</td>
	  <td>{{form.have_made_new_staging_release_today}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.have_made_new_staging_release_today %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Have issues been created for all client emails (for this project)?</td>
	  <td>{{form.has_incoming_issues_created}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_incoming_issues_created %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Have all new issues been estimated?</td>
	  <td>{{form.are_all_issues_estimated}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.are_all_issues_estimated %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Are all issues assigned to a sprint (ie moved out of incoming)?</td>
	  <td>{{form.have_incoming_issues_beenallocated}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.have_incoming_issues_beenallocated %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>If there have been changes to the sprint which may have caused a requote, have the affected issues been reviewed?</td>
	  <td>{{form.is_requote_required}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.is_requote_required %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>If there is a re-quote on the sprint, has it been sent to the client (if any)?</td>
	  <td>{{form.have_pending_requotes_been_sent}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.have_pending_requotes_been_sent %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>If this is a new sprint requiring quoting, has a quote been generated and checked (if any)?</td>
	  <td>{{form.is_quote_required}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.is_quote_required %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Have all pending quotes for this sprint been sent (if any)?</td>
	  <td>{{form.have_all_new_quotes_been_sent}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.have_all_new_quotes_been_sent %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Are there any quotes which are waiting for acceptance from the client?</td>
	  <td>{{form.has_existing_quotes_waiting_for_acceptance}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_existing_quotes_waiting_for_acceptance %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Have all quotes from the client been accepted (if any)?</td>
	  <td>{{form.has_existing_quoted_accepted}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_existing_quoted_accepted %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>If this sprint complete, are there any unsent invoices for this sprint?</td>
	  <td>{{form.has_sprints_to_invoice}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_sprints_to_invoice %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Are all dev_done issues being tested?</td>
	  <td>{{form.has_issues_for_testing}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_issues_for_testing %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Is the deadline for handing this sprint for client testing known?</td>
	  <td>{{form.has_deadline_been_set}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_deadline_been_set %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Is the deadline clear with the client?</td>
	  <td>{{form.is_deadline_clear_to_client}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.is_deadline_clear_to_client %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Has the client had any communication recently (within the last 5 days)?</td>
	  <td>{{form.has_communicated_with_client_this_week}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.has_communicated_with_client_this_week %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>
	<tr>
	  <td>Is the total required time per developer assigned to the calendar for this sprint?</td>
	  <td>{{form.all_calendar_entries_assigned_per_developer}}</td>
	  {% for checklist in previous_checklists %}
	  <td><img src="{{STATIC_URL}}images/icons/{% if checklist.all_calendar_entries_assigned_per_developer %}tick{% else %}cross{% endif %}.png"/></td>
	  {% endfor %}
	</tr>

	<tr>
	  <td></td>
	  <td>      
            <input class="btn btn-primary" type='submit' name='submit' value='Save' onclick='imp.submit_popup_form(this); return false;' />
	  </td>
	</tr>

      </tbody>
    </table>

</div>
