{% load timepiece_tags %}
<div class="user_notifications">

{% for notification in notifications %}

  <div class="notification_card notification_{{notification.id}}">

    {% if notification.notification_type == "daily_calendar" %}
     
      <div id="chart_{{notification.id}}"></div>

      <script>
       
	 var el = $("#chart_{{notification.id}}");
	 el.css({width:0.8*$(".notification_{{notification.id}}").width(),
		 height:200});

	 var plot = $.plot(el, 
			   [ 
			     { label:"",
			       data: [ [{{notification.user_graph_from_date|epoch}},8],
				       [{{notification.user_graph_to_date|epoch}},8]
			       ],
			       lines: {show: true, steps: false},
			       points: {show: false},
			     },
			     { label:"Timesheet Graph", 
			       data: [
				 {% for entry in notification.get_hours_for_user_graph %} 
				 {%spaceless%} 
				 [ {{entry.0|epoch}},
				   {{entry.1}}
				 ],
				 {%endspaceless%}{% endfor %} 
			       ],
			       lines: {show: true, steps: true},
			       points: {show: false},
			     }
			   ],
			   {
			     xaxis: { 
			       mode: "time",
			       timeformat: "%a %d %b %y",
	                       min: {{notification.user_graph_from_date|epoch}},
			       max: {{notification.user_graph_to_date|epoch}},
			     },
			     legend: { position: "se" },
			     bars: {
			       show: true
			     }
			   }
	 );
      </script>


    {% elif notification.notification_type == "planned_for_today" %}
      <h2>Calendar for today</h2>
      {% for event in notification.get_planned_events_for_today %}
      <div>
	{{event.event_type}} : {{event.start}} for {{event.hours}} hours : {{event.project.business}} : {{event.description}}
      </div>
      {% empty %}
      No planned items
      {% endfor %}
    {% else %}
      {{notification.msg}}
    {% endif %}

  </div>

{% endfor %}

  <button class="btn btn-primary" onclick="return imp.seen_all_user_notifications('{% url 'seen_all_user_notifications' %}');">
    Close
  </button>

</div>