{% load humanize %}
{% load timepiece_tags %}

<div class="rate_info">
  <h1>{{project.business.name}} - {{project.name}}</h1>
  <h2>Rates</h2>

  <table>

    <thead>
      <tr>
        <th>Username</th>
        <th>Hours</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>CTC Rate</th>
        {% end_permission %}
        <th>Billed Rate</th>
	<th>Work Ratio</th>
	<th>Velocity (bigger is slower)</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>CTC</th>
        {% end_permission %}
        <th>Billed</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>Profit</th>
        {% end_permission %}
      </tr>
    </thead>

    <tbody>
      {% for user_name,rate_info in users_and_hours.users.items %}
      <tr>
        <td>{{user_name}}</td>
        <td>{{rate_info.hours}}</td>
        {% has_permission has_view_ctc_rates project.business %}
        <td>
          <div class="editable_rate rate_info_amount_{{user_name}}">R{{rate_info.rate.amount|floatformat:"0"|intcomma}}</div>
        </td>
        {% end_permission %}
        <td>
          <div class="editable_rate rate_info_billable_amount_{{user_name}}">R{{rate_info.rate.billable_amount|floatformat:"0"|intcomma}}</div>
        </td>
	<td>
	  <div class="editable_rate rate_info_work_ratio_{{user_name}}">{{rate_info.work_ratio|percentage}}</div>
	</td>
	<td>
	  <div class="editable_rate rate_info_velocity_{{user_name}}">{{rate_info.velocity|floatformat:"1"|intcomma}}</div>
	</td>
        {% has_permission has_view_ctc_rates project.business %}
        <td>R{{rate_info.revenue|floatformat:"0"|intcomma}}</td>
        {% end_permission %}
        <td>R{{rate_info.billed|floatformat:"0"|intcomma}}</td>
        {% has_permission has_view_ctc_rates project.business %}
        <td>R{{rate_info.profit|floatformat:"0"|intcomma}}</td>
        {% end_permission %}
      </tr>
      {% endfor %}

      <tr>
        <th></th>
        <th>{{users_and_hours.totals.hours}}</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th></th>
        {% end_permission %}
        <th></th>
	<th></th>
        <th></th>
	<th</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>R{{users_and_hours.totals.revenue|floatformat:"0"|intcomma}}</th>
        {% end_permission %}
        <th>R{{users_and_hours.totals.billed|floatformat:"0"|intcomma}}</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>R{{users_and_hours.totals.profit|floatformat:"0"|intcomma}}</th>
        {% end_permission %}
      </tr>

    </tbody>

  </table>

  <a href="#" class="secret_link" onclick="$(this).parents('.project_card_dialog_container').find('.dialog_content').load('{{recalculate_url}}');">
      recalculate
  </a>

</div>

<script>

  var imp = imp || {};
  imp.make_editable_rate = function(clazz, user_name, field_name) {
    var el = $(".rate_info");
    el.find("."+clazz).editInPlace({url: "{% url 'edit_project_rate' project.id %}",
                                params: "field_name="+field_name+"&user_name="+user_name});
  }

  {% for user_name,rate_info in users_and_hours.users.items %}
    imp.make_editable_rate("rate_info_amount_{{user_name}}","{{user_name}}","amount");
    imp.make_editable_rate("rate_info_billable_amount_{{user_name}}","{{user_name}}","billable_amount");
    imp.make_editable_rate("rate_info_work_ratio_{{user_name}}","{{user_name}}","work_ratio");
    imp.make_editable_rate("rate_info_velocity_{{user_name}}","{{user_name}}","velocity");
  {% endfor %}

</script>