{% load humanize %}
{% load timepiece_tags %}

<div class="rate_info">
  <h1>{{project.business.name}} - {{project.name}}</h1>
  <h2>Rates</h2>

  <table>

    <thead>
      <tr>
        <th>Username</th>
        <th>Hours</th>
        <th>Time tracking mode</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>CTC Rate</th>
        {% end_permission %}
        <th>Billed Rate</th>
	<th>Work Ratio</th>
	<th>Velocity (bigger is slower)</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>CTC</th>
        {% end_permission %}
        <th>Billed</th>
      </tr>
    </thead>

    <tbody>
      {% for user_name,rate_info in users_and_hours.users.items %}
      <tr>
        <td>{{user_name}}</td>
        <td>{{rate_info.hours}}</td>
        <td>
          <div class="editable_rate rate_info_time_tracking_mode_{{user_name}}">
            {{rate_info.rate.time_tracking_mode}}
          </div>
        </td>
        {% has_permission has_view_ctc_rates project.business %}
        <td>
          <div class="editable_rate rate_info_amount_{{user_name}}">R{{rate_info.rate.amount|floatformat:"0"|intcomma}}</div>
        </td>
        {% end_permission %}
        <td>
          <div class="editable_rate rate_info_billable_amount_{{user_name}}">R{{rate_info.rate.billable_amount|floatformat:"0"|intcomma}}</div>
        </td>
	<td>
	  <div class="editable_rate rate_info_work_ratio_{{user_name}}">{{rate_info.work_ratio|percentage}}</div>
	</td>
	<td>
	  <div class="editable_rate rate_info_velocity_{{user_name}}">{{rate_info.velocity|floatformat:"1"|intcomma}}</div>
	</td>
        {% has_permission has_view_ctc_rates project.business %}
        <td>R{{rate_info.revenue|floatformat:"0"|intcomma}}</td>
        {% end_permission %}
        <td>R{{rate_info.billed|floatformat:"0"|intcomma}}</td>
      </tr>
      {% endfor %}

      <tr>
        <th></th>
        <th>{{users_and_hours.totals.hours}}</th>
        <th></th>
        {% has_permission has_view_ctc_rates project.business %}
        <th></th>
        {% end_permission %}
        <th></th>
	<th></th>
        <th></th>
	<th</th>
        {% has_permission has_view_ctc_rates project.business %}
        <th>R{{users_and_hours.totals.revenue|floatformat:"0"|intcomma}}</th>
        {% end_permission %}
        <th>R{{users_and_hours.totals.billed|floatformat:"0"|intcomma}}</th>
      </tr>

    </tbody>

  </table>

  <h3>Ratios</h3>
  <p>
    These are all in the range 0 to 1. They all relate to estimated
    development hours, after adjusting for each developer's velocity.
  </p>
  <p>
    For example, a value of 0.5 for management, means there will be
    half an hour of management for every developer hour in the sprint.
  </p>
  <table>
    <tr>
      <td>Ratio of management</td>
      <td>
        <div class="editable_rate project__ratio_management">{{project.ratio_management}}</div>
      </td>
    </tr>
    <tr>
      <td>Ratio of testing</td>
      <td>
        <div class="editable_rate project__ratio_testing">{{project.ratio_testing}}</div>
      </td>
    </tr>
    <tr>
      <td>
        Ratio of scope creep
        (this ratio is applied to the total sprint size after previous ratios are taken into account)
      </td>
      <td>
        <div class="editable_rate project__ratio_scope_creep">{{project.ratio_scope_creep}}</div>
      </td>

    </tr>
    <tr>
      <td>
        Commission percentage
        (this ratio is applied to each user rate at the start of all calculations)
      </td>
      <td>
        <div class="editable_rate project__commission_percentage">{{project.commission_percentage}}</div>
      </td>

    </tr>
  </table>
  
</div>

<script>

  var imp = imp || {};
  imp.make_editinplace = function(clazz, user_name, field_name, field_type, kwargs) {
    var el = $(".rate_info");
    args = {url: "{% url 'edit_project_rate' project.id %}",
            params: "field_name="+field_name+"&user_name="+user_name}
    if ( field_type ) {
      args['field_type'] = field_type;
      if ( field_type == 'select' ) {
        args['select_options'] = kwargs.select_options;
        args['select_text'] = kwargs.select_text;
      }
    }
    el.find("."+clazz).editInPlace(args);
  }

  {% for user_name,rate_info in users_and_hours.users.items %}
    imp.make_editinplace("rate_info_amount_{{user_name}}","{{user_name}}","amount");
    imp.make_editinplace("rate_info_billable_amount_{{user_name}}","{{user_name}}","billable_amount");
    imp.make_editinplace("rate_info_velocity_{{user_name}}","{{user_name}}","velocity");
    imp.make_editinplace("rate_info_time_tracking_mode_{{user_name}}","{{user_name}}","time_tracking_mode", "select", 
                         { select_options:"{{time_tracking_mode_options}}",
                           select_text:"Choose a time tracking mode" });
  {% endfor %}
 imp.make_editinplace("project__ratio_management",null,"project__ratio_management");
 imp.make_editinplace("project__ratio_testing",null,"project__ratio_testing");
 imp.make_editinplace("project__ratio_scope_creep",null,"project__ratio_scope_creep");
 imp.make_editinplace("project__commission_percentage",null,"project__commission_percentage");


</script>
