venv
*#
*pyc
*~
src/*.pid
*.log
logs
src/implicitdesign/local_settings.py
src/static_collected
src/implicitdesign/media/unknown_redmine_entries
src/implicitdesign/media/issue_attachments
temp
src/phantompdf/phantomjs
.project
.pydevproject
*.pyc
data.db
dev.db
.settings
app/.sass-cache
.sass-cache/
django_central_station.egg-info
dist
.idea
reports/coverage_html
.coverage
db_backups
*flymake*
*\#*
src/implicitdesign/media/project_documents
scripts/old_imports
