venv
*#
*pyc
*~
src/*.pid
*.log
logs
incoming_caldav_changes
src/static_collected
src/implicitdesign/media/unknown_redmine_entries
src/implicitdesign/media/issue_attachments
temp
src/phantompdf/phantomjs
.project
.pydevproject
*.pyc
data.db
dev.db
.settings
app/.sass-cache
.sass-cache/
django_central_station.egg-info
dist
.idea
reports/coverage_html
.coverage
db_backups
*flymake*
*\#*
src/implicitdesign/media/project_documents
scripts/old_imports
src/implicitdesign/media/
/static
local_settings.py
*.iml
.idea
*flymake*
node_modules
design/node_modules/.bin
.DS_Store
venv
npm-debug.log
.sass-cache
src/imptime/static/css/imptime.css
src/imptime/static/js/imptime.js
external_config
src/django-colorful
src/unicodecsv
devops/secret
.tern-project
.tern-port
docs/doc/_book/
tadd.
deploy/deployer_temp