Django==1.4.1
Fabric==1.4.3
MySQL-python==1.2.3
PIL==1.1.7
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.12
celery==3.0.5
distribute==0.6.24
django-appconf==0.5
django-bootstrap-toolkit==2.5.4
django-celery==3.0.4
django-compressor==1.1.2
django-filebrowser==3.5.0
django-grappelli==2.4.0
django-pagination==1.0.7
-e git+https://github.com/cyberdelia/django-pipeline.git@d238058ab8c29e41f9160c1c8db7452fee1abed6#egg=django_pipeline-dev
django-selectable==0.4.1
html5lib==0.95
kombu==2.3.2
psycopg2==2.4.1
pyPdf==1.13
pycrypto==2.6
python-dateutil==1.5
pytz==2012c
reportlab==2.5
ssh==1.7.14
wsgiref==0.1.2
-e git+https://github.com/gtp/xhtml2pdf.git@21d47242cb7c136945b1ab15a125571a7d01ea72#egg=xhtml2pdf-dev
