Babel==2.1.1
Django==1.8.5
Fabric==1.10.2
GitPython==1.0.1
Jinja2==2.8
Markdown==2.6.2
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==3.0.0
PyPDF2==1.25.1
Pygments==2.0.2
Radicale==1.0.1
South==1.0.2
Sphinx==1.3.1
Werkzeug==0.10.4
Whoosh==2.7.0
alabaster==0.7.6
amqp==1.4.7
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
async==0.6.2
billiard==3.3.0.20
caldav==0.4.0
celery==3.1.18
coverage==4.0.1
decorator==4.0.4
django-annoying==0.8.4
django-api-docs==1.1.1
django-appconf==1.0.1
django-bootstrap-toolkit==2.15.0
django-bootstrap3==6.2.2
django-celery==3.1.17
django-classy-tags==0.6.2
-e git+https://github.com/charettes/django-colorful.git@7b6c2db476f3a69a97745cd471284e616cf62eb1#egg=django_colorful-dev
django-compressor==1.5
django-cors-headers==1.1.0
django-crispy-forms==1.5.2
django-debug-toolbar==1.4
django-downtime==1.0.4
django-endless-pagination==2.0
django-extensions==1.5.7
django-filebrowser==3.6.1
django-grappelli==2.7.1
django-haystack==2.4.0
django-knowledge==0.2.0
django-kombu==0.9.4
django-mptt==0.7.4
django-notify==1.1.2
django-nyt==0.9.7.3
django-pagination==1.0.7
django-picklefield==0.3.2
django-pipeline==1.5.4
django-sekizai==0.8.2
django-selectable==0.9.0
django-tastypie==0.12.2
docutils==0.12
ecdsa==0.13
factory-boy==2.5.2
funcsigs==0.4
futures==3.0.3
gitdb==0.6.4
hadrian==2.0
html5lib==0.9999999
ipython==4.0.0
ipython-genutils==0.1.0
jsonpickle==0.9.2
kombu==3.0.28
lxml==3.4.4
mimeparse==0.1.3
mock==1.3.0
nltk==3.1
nose==1.3.7
numpy==1.10.1
oauthlib==1.0.3
paramiko==1.15.3
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
pyPdf==1.13
pycrypto==2.6.1
pyparsing==2.0.3
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.6
reportlab==3.2.0
requests==2.8.1
requests-oauthlib==0.5.0
selenium==2.48.0
simplegeneric==0.8.1
six==1.10.0
smmap==0.9.0
snowballstemmer==1.2.0
sorl-thumbnail==12.3
sphinx-rtd-theme==0.1.9
sqlparse==0.1.16
ssh==1.8.0
tendo==0.2.8
tlslite==0.4.9
traitlets==4.0.0
-e git+https://github.com/jdunck/python-unicodecsv.git@13a300d82d8002e1db141540830e10f3c8dd7606#egg=unicodecsv-dev
vobject==0.6.6
wsgiref==0.1.2
xhtml2pdf==0.0.6
