*
!design/.babelrc
!design/actions
!design/components
!design/containers
!design/gulp
!design/images
!design/middleware
!design/reducers
!design/sass
!design/store
!design/babelrc
!design/gulpfile.js
!design/index_react.html
!design/index_react.js
!design/package.json
!design/routes.js
!design/server.js
!design/webpack.config.js
!docker
!logs
!presentation
!remote_configs
!scripts
!static_collected

