{% extends "timepiece/business/base.html" %}
{% block title %}{% if not business %}Create Project{% else %}Edit {{ business }}{% endif %}{% endblock %}
{% load bootstrap_toolkit %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span>
        {% if not business %}
            <a href="{% url 'create_business' %}">Create Project</a>
        {% else %}
            <a href="{% url 'edit_business' business.pk %}">Edit Project</a>
        {% endif %}
    </li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% if not business %}Create Project{% else %}Edit {{ business.name }}{% endif %}</h2>

            <br style="clear: both;" />

            <form id="create-edit-business" class="form-horizontal" action="" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ business_form }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Save" name="submit">
                    <input class="btn" type="button" onclick="history.go(-1)" value="Cancel">
		                {% ifequal business.sync_with 'jira' %}
		                  <a class="btn" href="{% url 'jira:settings' business.id %}"/>Jira settings</a>
		                {% endifequal %}
        
                    
        
                </div>
            </form>

	    

        </div>
    </div>
{% endblock %}
