/* LOGIN FORM */

body form#login-form {
    background: #eee;
}

form#login-form {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

form#login-form #content-main {
    width: 100%;
}

form#login-form {
    margin-top: 1em;
}

form#login-form .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

form#login-form .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

form#login-form .form-row #id_username, form#login-form .form-row #id_password {
    width: 14em;
}

form#login-form span.help {
    font-size: 10px;
    display: block;
}

form#login-form .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
}

form#login-form .password-reset-link {
    text-align: center;
}

.form-row {
    margin-bottom: 1em;
}

form#login-form {
    font-size: 16px;
    width: 400px;
    margin: 100px auto;
    padding: 10px;
}

.submit-row {
    text-align: center;
}

#login-form input {
    width: 100%;
}
