{% extends "timepiece/base.html" %}

{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% load scheduler_tags %}

{% block title %}Scheduler{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}timepiece/js/scheduler.js" type="text/javascript"></script>
{% endblock extrajs %}

{% block content %}

<h1>
  Scheduler : {{date|date:'M Y'}}
  <img src="{{STATIC_URL}}images/icons/calendar.png" onclick="$('.filter').slideToggle(); return false;"/>
</h1>

<div class="scheduler">

  <div class="pane filter" style="display:none">
    <form method="GET" action="{% url 'scheduler' %}">
      {{ schedule_filter_form|as_bootstrap:"horizontal" }}
      <input type="submit" class="btn btn-info" value="filter"/>
    </form>
  </div>

  <div class="pane">

    <table class='fixed-header'>

      <thead>
        <tr>
          <th></th>
          {% for user in users %}
          <th>{{user.username}}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for business in businesses %}
        <tr>
          <th>{{business.name}}</th>
          {% for user in users %}
          <td>
            <input class='scheduled_hours' type="text" value="{% scheduled_time user business %}" onchange="return scheduler.on_set_schedule($(this), '{% url 'schedule_edit' business.id user.id date|date:'Ymd' %}');";/>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>

    </table>
  
  </div>

</div>
{% endblock %}