{% extends "timepiece/base.html" %}

{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% load scheduler_tags %}
{% load static %}

{% block title %}Scheduler{% endblock %}

{% block extrajs %}
<script src="{% static 'timepiece/js/scheduler.js' %}" type="text/javascript"></script>
{% endblock extrajs %}

{% block content %}

<h1>
  Scheduler : {{date|date:'M Y'}}
  <img src="{% static 'images/icons/calendar.png" onclick="$('.filter').slideToggle(); return false;"/>

  {% has_permission has_view_ctc_billable_rates user.profile.best_business_for_permissions %}
  <img src="{% static 'images/icons/money.png' %}" onclick="$('.money').toggle(); return false;"/>
  {% end_permission %}
  
</h1>

{% if public_holidays|length > 0 %}
Holidays: 
<ul>
  {% for public_holiday in public_holidays %}
  <li>{{ public_holiday.name }} : {{public_holiday.applies_on|date:"d M Y"}}</li>
  {% endfor %}
</ul>
{% endif %}

<fieldset>
  <title>Legend</title>
  For cells with hours, the format is: actual / scheduled
  <br/>
  If the cell only has a single number, it's the scheduled number and there are no actuals yet
  <br/>
  You can capture days by ending the number with a 'd', eg 5d will convert to 40 hours.
  <br/>
  The calculated numbers are rounded to keep the table tidy, this can cause small rounding display anomalies.
</fieldset>

<div class="scheduler">

  <div class="pane filter" style="display:none">
    <form method="GET" action="{% url 'scheduler' %}">
      {{ schedule_filter_form }}
      <input type="submit" class="btn btn-info" value="filter"/>
    </form>
  </div>

  <div class="pane" style="max-height: 700px; overflow: auto">

    <table class='table table-condensed fixed-header'>

      <thead>
        <tr>
          <th></th>
          <td></td>
          {% has_permission has_view_ctc_billable_rates user.profile.best_business_for_permissions %}
          <td class="money" style="display:none"></td>
          {% end_permission %}
          {% for user in users %}
          <th>
            {{user.username}}
            <span class="scheduled_status_msg_{{user.id}}">
              {% scheduled_status user %}
            </span>
          </th>
          {% endfor %}
        </tr>

        <tr>
          <th></th>
          <td>
            {% actual_total_time %}
            <span class="scheduled_total_hours">
              {% scheduled_total_time %}
            </span>
            <br/>
            (max {% possible_total_time %})
          </td>
          {% has_permission has_view_ctc_billable_rates user.profile.best_business_for_permissions %}
          <td class="money" style="display:none"></td>
          {% end_permission %}
          {% for user in users %}
          <td class='total_for_user_container_{{user.id}} {% css_class_for_over_schedule user.id %}'>
            {% actual_total_user_time user %}
            <span class="total_for_user_{{user.id}}">
              {% scheduled_total_user_time user %}
            </span>
            <br/>
            (max {% possible_total_user_time user %})
          </td>
          {% endfor %}
        </tr>

        {% has_permission has_view_ctc_billable_rates user.profile.best_business_for_permissions %}
        <tr class="money" style="display:none">
          <th></th>
          <td></td>
          <td>
            {% actual_total_billable %}
            <span class="scheduled_total_billable">
              {% scheduled_total_billable %}
            </span>
          </td>
          {% for user in users %}
          <td>
            {% actual_total_user_billable user %}
            <span class="billable_for_user_{{user.id}}">
              {% scheduled_total_user_billable user %}
            </span>
          </td>
          {% endfor %}
        </tr>
        {% end_permission %}
      </thead>

      <tbody>
        {% for business in businesses %}
        <tr>
          <th>{{business.name}}</th>
          <th>
            {% actual_total_business_time business %}
            <span class="total_for_business_{{business.id}}">
              {% scheduled_total_business_time business %}
            </span>
          </th>
          {% has_permission has_view_ctc_billable_rates business %}
          <th class="money" style="display:none">
            {% actual_total_business_billable business %}
            <span class="billable_for_business_{{business.id}}">
              {% scheduled_total_business_billable business %}
            </span>
          </th>
          {% end_permission %}
          {% for user in users %}
          <td>
            {% actual_time user business %}
            <input class='scheduled_hours' type="text" value="{% scheduled_time user business %}" onchange="return scheduler.on_set_schedule($(this), {{user.id}}, {{business.id}}, '{% url 'schedule_edit' business.id user.id date|date:'Ymd' %}');";/>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>

    </table>
  
  </div>

</div>
{% endblock %}
