/* LOGIN FORM */


#login #content.container-fluid {
    background: transparent;
}

#login .main_navigation_bar {
    background: transparent;
}


form#login-form {

    min-width: 300px;
    font-size: 16px;
    width: 350px;
    margin: 100px auto;
    padding: 10px;
}


form#login-form #content-main {
    width: 100%;
}

form#login-form {
    font-size: 20px;
    margin-top: 1em;

}

form#login-form .form-row {
    padding: 4px 0;
    margin-bottom:.2em;
}

form#login-form .form-row label {
    color: #222;
}

form#login-form .form-row #id_username,
form#login-form .form-row #id_password {
    background: transparent;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    height: 40px;
    margin: 5px 0;
    width: 100%;
    border-radius: 1px;
    border: 0px;
    border-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.3);
    padding: 8px;
    padding-left: 42px;

}

form#login-form span.help {
    font-size: 10px;
    display: block;
}

form#login-form .submit-row {
    text-align:center;
}
form#login-form .submit-row  input{
    background-image: none;
    background-color: #62acde;
    border-radius: 0 !important;
    border: 0px;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    margin-bottom:1em;
    padding: 5px;
    width: 100%;

}

form#login-form .submit-row  input:hover{
    background-color: #2b8aab;
    border:none;
}

form#login-form #reset-block {
    padding-top: 20px;
    text-align: center;
}


/* ------------------------------------------------ */
.centred_placeholder::-webkit-input-placeholder {
    text-align: center;
    font-size: 14px;
    color: #eee;
    font-weight: normal;
    transform: translate(-16px, 3px);
}

:-moz-placeholder {
    /* older Firefox*/
    font-size: 12px;
    color: #eee;
    font-weight: normal;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    color: #eee;
    font-weight: normal;
}

:-ms-input-placeholder {
    font-size: 12px;
    color: #eee;
    font-weight: normal;
}

/* ------------------------------------------------ */

body {
    background: url('../img/login/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_navigation_bar {
    background-color: #17112d;
    width: 100%;

    min-height: 40px;
    height: 90px;
    line-height: 90px;

    padding-left: 0px;
    padding-right: 0px;

    text-align: center;
}


.nagivation_head {
    vertical-align: middle;
    min-width: 600px;
    width: 60%;
    margin: 0px auto;
    text-align: left;
}


.nagivation_head a.home {
    color: white;
    font-weight: normal;
    font-size: 30px;
}

.password_reset {
    color: white;
    font-size: 16px;
}

.login-user-icon {
    background: url('../img/login/login-user.png') no-repeat 10px 50%;
}

.login-password-icon {
    background: url('../img/login/login-password.png') no-repeat 10px 50%;
}