/* LOGIN FORM */


form#login-form {

    min-width: 300px;
    font-size: 16px;
    width: 400px;
    margin: 100px auto;
    padding: 10px;
}


form#login-form #content-main {
    width: 100%;
}

form#login-form {
    font-size: 20px;
    margin-top: 1em;
    
}

form#login-form .form-row {
    padding: 4px 0;
    margin-bottom:.2em;
}

form#login-form .form-row label {
    color: #222;
}

form#login-form .form-row #id_username, form#login-form .form-row #id_password {
    box-shadow: none;
    color: #575757 !important;
    font-size: 20px;
    font-weight: 400;
    height:50px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}

form#login-form span.help {
    font-size: 10px;
    display: block;
}

form#login-form .submit-row {
    text-align:center;
}
form#login-form .submit-row  input{
    background-image: none;
    background-color: #4fb2d3;
    border-radius: 0 !important;
    font-size: 20px;
    height: 40px;
    margin-bottom:1em;
    padding: 5px;
    text-transform: uppercase;
    width: 100%;
    
}

form#login-form .submit-row  input:hover{
    background-color: #2b8aab;
    border:none;    
}

form#login-form #reset-block {
    padding-top: 20px;
    text-align: center;
}

