{% extends 'djiki/base.html' %}
{% load i18n djiki_tags %}
{% load url from future %}
{% block title %}{{ page.title }} | {{ block.super }}{% endblock %}
{% block djiki_actions %}
<ul class="page_menu">
	<li><a href="{% url 'wiki:djiki-page-view' page.title|urlize_title %}">{% trans "View" %}</a></li>
	<li><a href="{% url 'wiki:djiki-page-edit' page.title|urlize_title %}" rel="nofollow">{% trans "Edit" %}</a></li>
	{% comment %}<li><a href="{% url 'wiki:djiki-page-history' page.title|urlize_title %}" rel="nofollow">{% trans "History" %}</a></li>{% comment %}
	{% comment %}<li><a href="{% url 'wiki:djiki-page-view' page.title|urlize_title %}?raw=1" rel="nofollow">{% trans "Get source" %}</a></li>{% endcomment %}
	{% comment %}<li><a href="{% url 'wiki:djiki-image-new' %}" rel="nofollow">{% trans "Upload" %}</a></li>{% endcomment %}
</ul>
<div style="clear:both"></div>
<hr/>
<br/>
{% endblock %}
