{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}

{% block title %}Aggregated and redmine timesheets{% endblock %}

{% block content %}

    <h2>Redmine timesheets</h2>

    {% if error %}
      <div class="error">{{error}}</div>
    {% endif %}

    <form method="get" action="{% url 'incremental_timesheets_by_project' %}">
      {% csrf_token %}
      {{ form }}

      <input type="submit" value="generate"/>
    </form>

    {% if report %}
      <pre>
	{% for line in report %}
	  {{ line }}
	{% endfor %}
      </pre>
    {% endif %}

{% endblock %}
