{% load bootstrap3 %}
{% load add_class %}
{% load currency %}

{% csrf_token %}

{% if form.errors %}<div class="error">{{form.errors}}</div>{% endif %}
{% if items_formset.errors %}<div class="error">{{items_formset.errors}}</div>{% endif %}
{% if payments_formset.errors %}<div class="error">{{payments_formset.errors}}</div>{% endif %}

<h3>Invoice details</h3>
<div class="col-md-4">

  <div class='form-group{% if form.errors.invoice_number%} has-error{%endif%}'>
    <div class="col-md-6">
      Invoice Number
    </div>
    <div class="col-md-6">
      {{ form.invoice_number|add_class:'form-control' }}
    </div>
  </div>

  <div class='form-group{% if form.errors.locked%} has-error{%endif%}'>
    <div class="col-md-6">
      Invoice Locked (eg sent to client)
    </div>
    <div class="col-md-6">
      {{ form.locked|add_class:'form-control' }}
    </div>
  </div>

  <div class='form-group{% if form.errors.client%} has-error{%endif%}'>
    <div class="col-md-6">
      Client 
      {% if invoice.client.id %}
        <a onclick="if (!confirm('Editing {{invoice.client.name}} \r\nmeans any changes to this invoice will be lost, continue?') ) return false;" href="{% url 'invoicing:edit_client' invoice.client.id %}">(edit)</a>
      {% endif %}
    </div>
    <div class="col-md-6">
      {{ form.client|add_class:'form-control' }}
    </div>
  </div>

  <div class='form-group{% if form.errors.project%} has-error{%endif%}'>
    <div class="col-md-6">
      Project (optional)
    </div>
    <div class="col-md-6">
      {{ form.project|add_class:'form-control' }}
    </div>
  </div>

  <div class='form-group{% if form.errors.business%} has-error{%endif%}'>
    <div class="col-md-6">
      Business (optional if project is specified)
    </div>
    <div class="col-md-6">
      {{ form.business|add_class:'form-control' }}
    </div>
  </div>

  <div class='form-group{% if form.errors.status%} has-error{%endif%}'>
    <div class="col-md-6">
      Status
    </div>
    <div class="col-md-6">
      {{ form.status|add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group{% if form.errors.issued_at%} has-error{%endif%}'>
    <div class="col-md-6">
      Issued at
    </div>
    <div class="col-md-6">
      {{ form.issued_at }}
    </div>
  </div>
  <div class='form-group{% if form.errors.payment_due%} has-error{%endif%}'>
    <div class="col-md-6">
      Payment due
    </div>
    <div class="col-md-6">
      {{ form.payment_due }}
    </div>
  </div>

  <div class='form-group{% if form.errors.invoice_note%} has-error{%endif%}'>
    <div class="col-md-6">
      Invoice note
    </div>
    <div class="col-md-6">
      {{ form.invoice_note|add_class:'form-control' }}
    </div>
  </div>

</div>

<div class="col-md-6">
  <div class='form-group{% if form.errors.internal_comment%} has-error{%endif%}'>
    <div class="col-md-6">
      Internal Comment (not shown on the invoice)
    </div>
    <div class="col-md-6">
      {{ form.internal_comment|add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group{% if form.errors.client_order_name%} has-error{%endif%}'>
    <div class="col-md-6">
      Order name (optional)
    </div>
    <div class="col-md-6">
      {{ form.client_order_name|add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group{% if form.errors.client_order_number%} has-error{%endif%}'>
    <div class="col-md-6">
      Order number (optional)
    </div>
    <div class="col-md-6">
      {{ form.client_order_number|add_class:'form-control' }}
    </div>
  </div>

</div>

<div style="clear:both"></div>

<br/><br/><br/>
<h3>Line items</h3>
<table class='table table-striped'>
  <thead>
    <th>Num units</th>
    <th>Cost per unit</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Order</th>
    <th>Delete?</th>
  </thead>
  <tbody>
      {% bootstrap_form items_formset.management_form %}
      {% for itemform in items_formset %}
        <tr>
          <td>
            <div class='form-group{% if itemform.errors.num_units%} has-error{%endif%}'>
                {{ itemform.num_units|add_class:'form-control' }}
            </div>
          </td>
          <td>
            <div class='form-group{% if itemform.errors.unit_cost %} has-error{%endif%}'>
                {{  itemform.unit_cost|add_class:'form-control' }}
            </div>
          </td>
          <td>
            <div class='form-group{% if itemform.errors.description %} has-error{%endif%}'>
                {{ itemform.description|add_class:'form-control' }}
            </div>
          </td>
          <td>
            {% if itemform.instance %}
              {{invoice.currency_symbol}} {{itemform.instance.total_cost|currency}}
            {% endif %}
          </td>
          <td>
            <div class='form-group{% if itemform.errors.order %} has-error{%endif%}'>
                {{ itemform.order|add_class:'form-control' }}
            </div>
          </td>
          <td>
            <div class='form-group'>
                {{ itemform.id}}
                {{ itemform.DELETE|add_class:'form-control' }}
            </div>
          </td>
        </tr>
      {% endfor %}
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th style="text-align:right">{{invoice.currency_symbol}} {{invoice.cost|currency}}</th>
      </tr>
  </tbody>
</table>

<br/><br/>
<h3>Extra info</h3>
<div class='form-group{% if form.errors.footer_terms%} has-error{%endif%}'>
  <div class="col-md-6">
    Footer terms (optional)
  </div>
  <div class="col-md-6">
    {{ form.footer_terms|add_class:'form-control' }}
  </div>
</div>

<div class='form-group{% if form.errors.issues_list%} has-error{%endif%}'>
  <div class="col-md-6">
    Issues list (optional)
  </div>
  <div class="col-md-6">
    {{ form.issues_list|add_class:'form-control' }}
  </div>
</div>

<div style="clear:both"></div>

<div style="clear:both"></div>