{% extends "invoicing/base.html" %}

{% load bootstrap_toolkit %}

{% block title %}Clients{% endblock %}

{% block content %}

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th></th>
  </thead>

  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{client.name}}</td>
      <td><a href="{% url 'invoicing:edit_client' client.id %}">edit</a></td>
    </tr>
    {% empty %}
    <tr><td colspan="20">No clients</td></tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn" href="{% url 'invoicing:new_client' %}">New client</a>

{% endblock %}