{% extends "invoicing/base.html" %}

{% load currency %}
{% load bootstrap_toolkit %}
{% load endless %}

{% block title %}Invoice clients{% endblock %}

{% block content %}

{% paginate invoices %}

{% show_pages %}
<table class="table table-striped">
  <thead>
    <th>Client</th>
    <th>#</th>
    <th>Status</th>
    <th>Due date</th>
    <th></th>
    <th>Amount invoiced (without vat if any)</th>
    <th>Amount invoiced (with vat if any)</th>
    <th>Amount paid</th>
    <th>Amount owed</th>
    <th></th>
  </thead>

  <tbody>
    {% for invoice in invoices %}
    <tr>
      <td>{{invoice.client.name}}</td>
      <td>{{invoice.invoice_number}}</td>
      <td>
        {{invoice.status}}
      </td>
      <td>
        {{invoice.payment_due|date:"d M Y"}}
      </td>
      <td>
        {% if invoice.is_overdue %}
          <span class="alert-error">Overdue by {{invoice.days_overdue}} days</span>
        {% else %}
          <span class="alert-info">Due in {{invoice.days_till_due}} days</span>
        {% endif %}
      </td>
      <td>{{invoice.currency_symbol}} {{invoice.cost|currency|default:"0"}}</td>
      <td>{{invoice.currency_symbol}} {{invoice.cost_with_vat|currency|default:"0"}}</td>
      <td>{{invoice.currency_symbol}} {{invoice.amount_paid|currency|default:"0"}}</td>
      <td>{{invoice.currency_symbol}} {{invoice.amount_owed|currency|default:"0"}}</td>
      <td><a href="{% url 'invoicing:edit_invoice' invoice.id %}">edit</a></td>
    </tr>
    {% empty %}
    <tr><td colspan="20">No invoices</td></tr>
    {% endfor %}

    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>{{totals.currency_symbol}} {{totals.cost|currency}}</th>
      <th>{{totals.currency_symbol}} {{totals.cost_with_vat|currency}}</th>
      <th>{{totals.currency_symbol}} {{totals.amount_paid|currency}}</th>
      <th>{{totals.currency_symbol}} {{totals.amount_owed|currency}}</th>
    </tr>

  </tbody>

</table>

<a class="btn" href="{% url 'invoicing:new_invoice' %}">New invoice</a>

{% endblock %}