@import 'variables.scss';

.auto-clock {
    position: fixed;
    top: 20px;
    right: 20px;
    min-height: 50px;
    font-size: $font-size-small;
    background-color: #ffffff;
    box-shadow: inset -1px 0 0 0 #e0e0e0;
    padding: 5px;
    z-index:999;
}
 
.auto-clock__header {
    font-size: $font-size-tiny;
}

.auto-clock__status {
}

.auto-clock__actions {
}

.auto-clock-entry__times {
    display: flex;
}

.auto-clock-entry__field {
    padding-right: 3px;
}

.auto-clock-entry__label {
    padding-left: 3px;
    color: $label-color;
}

.auto-clock-entry__entities {
    display: flex;
}

.auto-clock__most_recent {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #e0e0e0;
}

.auto-clock__next {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #e0e0e0;
}

.auto-clock__role {
    margin-bottom: 6px;
}

.auto-clock__radio {
    cursor: pointer;
    padding-right: 20px;
}

.auto-clock__radio input {
    visibility: hidden;
}

.auto-clock__radio--checked {
    border: 1px solid $form-focus-border;
    background-color: $selected-row-color;
}

.auto-clock__radio--unchecked {
    border: 1px solid $form-field-border;
}
