@import 'variables.scss';

@media (min-width: 1200px) {
    .container {
	width: 100%;
    }
}

html, body {
    background-color: #CECECF;
    height: 100%;
    margin: 0;
    min-width: 1264px;
    width: 100%;
}

.error {
    color: $error-color;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}
