@import 'variables.scss';

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

html, body {
    height: 100vh;
    margin: 0;
    // min-width: 1264px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
    font: $font-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main-layout__panel {
    background-color: #fafbfc;
    width: 100%;
}

.main-layout__header {
}

.main-layout__middle {
    flex: 1 1 auto;
    overflow: auto;
    height: 1px;
    display: flex;
}

.main-layout__footer {
}

.main-layout__scroll-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
}

.main-layout__scroll-panel {
    flex: 1 1 auto;
    overflow: auto;
    background-color: #ffffff;
}

.main-layout__inner_scroll-panel {
    overflow: auto;
    width: 100%;
}



/* .main {
   // height: 100%;
   border-top: 1px solid $color-12;
   } */

.error {
    color: $error-color;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}

.button {
    cursor: pointer;
}
