@import "variables.scss";

.common-table {
    flex: 1 1 auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.common-table__row:hover {
    background-color: $row-hover-color;
}

.common-table__row--selected {
    background-color: $selected-row-color;
}

.common-table__row:hover.div-table__row--selected:hover {
    background-color: $selected-row-hover-color;
}

.common-table__header__column {
    color: #000000;
    text-transform: initial;
    font: $font-3;
    border-right: 1px solid $color-34;
    height: 34px;
}

