@import 'variables.scss';

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

html, body {
    background-color: $color-2;
    height: 100%;
    margin: 0;
    min-width: 1264px;
    font: $font-1;
    width: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    font: $font-1;
}

.main {
    // height: 100%;
    border-top: 1px solid $color-12;
}

.error {
    color: $error-color;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}

.button {
    cursor: pointer;
}

.big-select { 

    .Select-menu-outer {
    }

    .Select-menu {
    }
}


.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-layout__footer {
    margin-top: auto;
    flex: 0 0 100px;
    padding: 10px;
    z-index: 100;
}

