@import 'variables.scss';

.cost-summary__page {
    padding-left: 26px;
    padding-right: 26px;
}

.cost-summary {
    width: 50%;
    font: $font-11;
}

.cost-summary__content {
    text-align: left;
    width: 50%;
}

.cost-summary__page-header {
    border-bottom: 1px solid #545454;
    height: 50px;
}

.cost-summary__header {
    border-bottom: 1px solid #545454;
    height: 50px;
    padding-top: 25px;
}

.cost-summary__sub-header {
}

.cost-summary__list {
    list-style: none;
}

.cost-summary__roles {
    float:right;
    margin-top: -20px;
}

.cost-summary__role {
    float:left;
}

.cost-summary__italics {
    font-style: italic;
    padding: 2px;
}

.cost-summary___green {
    background-color: #97CAAE;
    padding: 2px;
}

.cost-summary___yellow {
    background-color: #A6A400;
    padding: 2px;
}

.cost-summary___red {
    background-color: #E59999;
    padding: 2px;
}

.cost-summary___no-colour-pad {
    padding: 2px;
}

.cost-summary__colourbar {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 800;
}

.cost-summary___user {
    float: right;
    width: 100%;
}

.cost-summary___user-name {
    float: right;
}

.cost-summary___user-details {
    float: right;
}
