@import 'variables.scss';

.cost-summary__page {
    padding-left: 26px;
    padding-right: 26px;
}

.cost-summary {
    width: 100%;
    font: $font-11;
}

.cost-summary__content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cost-summary__page-header {
    border-bottom: 1px solid #545454;
    height: 50px;
}

.cost-summary__header {
    border-bottom: 1px solid #545454;
    height: 50px;
    padding-top: 25px;
}

.cost-summary__sub-header {
}

.cost-summary__list {
    list-style: none;
    padding-left: 10px;
}

.cost-summary__roles {
}

.cost-summary__role {
}

.cost-summary__estimate_with_scope_creep {
    font-style: italic;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.cost-summary__within_budget {
    background-color: #97CAAE;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.cost-summary__over_budget {
    background-color: #E59999;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.cost-summary__estimate_without_scope_creep {
    padding: 2px;
    display: flex;
    flex-direction: row;

}

.cost-summary__colourbar {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 800;
}

.cost-summary___user {
    float: right;
    width: 100%;
}

.cost-summary___user-name {
    float: right;
}

.cost-summary___user-details {
    float: right;
}

.cost-summary__tile {
    padding: 10px;
}

.cost-summary__roles {
    display: flex;
    flex-direction: row;
}
