@import 'variables.scss';
@import 'project.scss';
@import 'sprint.scss';
@import 'issue.scss';
@import 'issue_developer_details.scss';

/* .devpage__workarea {
   .issue_list {
   width: 50%;
   }
   .issue_developer_details {
   width: 50%;
   float: right;
   }

   } */
