@import "variables.scss";


.div-table {
    display: flex;
    flex-direction: column;
}

.div-table__row {
    display: flex;
    flex-direction: row;
    min-height: 35px;
    font: $plain;
    padding-left: 20px;
}

.div-table__header_row {
    @extend .div-table__row;
    /*background-color: $div-header-background-color;*/
    font-size: $font-size-small;
    border-bottom: 1px solid $header-background-color;
}

.div-table__issue-header_row {
   
}

.div-table__row:hover {
    background-color: $row-hover-color;
}
 
.div-table__row--selected {
    background-color: $selected-row-color;
}

.div-table__row:hover.div-table__row--selected:hover {
    background-color: $selected-row-hover-color;
}

.div-table__row--unselected {
    background-color: $color-3;
}

div-table__row--highlighted {
    font-weight: bold;
}

div-table__row--invalidated {
}

.div-table__row--drop-target {
    border-bottom: 50px solid #efefef;
    padding-bottom: 50px;
    background-color: black;
}

.div-table-wrapper--dragging {
    
}

.div-table__row-wrapper--dragging {
    userSelect: 'none';
    background-color: $row-hover-color;
}

.div-table__cell {
    padding-right: 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.div-table__cell--action {
    cursor: pointer;
}

.div-table__header_cell {
    @extend .div-table__cell;
}

.div-table__cell--default {
    @extend .div-table__cell;
    display: flex;
    height: 100%;
    width: 100%;
}
 
.div-table__cell--hover {
    background-color: inherit;
}

.div-table__cell--link-hover {
    text-decoration: underline;
}

.div-table__cell--secondary {
    opacity: 0.5;
}

.div-table__cell--secondary:hover {
    opacity: 1.0;
}
