
.editable_property_modal {
    position                   : absolute;
    top                        : 300px;
    left                       : 300px;
    right                      : 300px;
    bottom                     : 100px;
    border                     : 1px solid #ccc;
    background-color                 : #fff;
    overflow                   : auto;
    WebkitOverflowScrolling    : touch;
    border-radius               : 4px;
    outline                    : none;
    padding                    : 20px;
    max-width : 200px;
    max-height: 300px;
}

.editable_property_modal--overlay {
    position          : fixed;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color   : rgba(255, 255, 255, 0.75);
}

