@import 'variables.scss';

.global-comment-annotation {
    z-index:999;
    background-color: $color-35;
    border: 1px solid $color-6;
}

.global-comment-annotation--header {
    display: flex;
    justify-content: space-between;
    background-color: $color-6;
    min-height: 30px;
    padding: 5px;
}

.global-comment-annotation__close {
    margin-top: auto;
    margin-bottom: auto;
}

.global-comment-annotation--body {
    padding: 20px;
}
