@import 'variables.scss';

@mixin icon($height, $width, $filename) {
  background-image: url('../../public/images2/' + $filename);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $width $height;
  height: $height;
  width: $width;
}

.icon--feature {
    @include icon(20px, 20px, 'icon_feature_blue 4@2x.png')
}

.icon--edit {
    @include icon(24px, 24px, 'ic_mode_edit_black_24dp_1x.png')
}

.icon--info {
    @include icon(20px, 20px, 'icon_info_black@2x.png')
}

.icon--more {
    @include icon(16px, 4px, 'icon_more_black@2x.png')
}

.icon--settings {
    @include icon(20px, 19.45px, 'icon_settings_black@2x.png')
}

.icon--timer-inactive {
    @include icon(20px, 20px, 'icon_time_black 14@2x.png')
}

.icon--timer-active {
    @include icon(20px, 20px, 'icon_time_orange@2x.png')
}

.icon--timer-stop {
    @include icon(20px, 20px, 'ic_timer_off_black_24dp_2x.png')
}

.icon--timer-start {
    @include icon(20px, 20px, 'ic_timer_black_24dp_2x.png')
}

.icon--download_as_csv {
    @include icon(20px, 20px, 'material-icons-black-download.png')
}

.icon--expand {
    @include icon(24px, 24px, 'ic_chevron_right_black_24dp_1x.png');
    opacity: 0.2;
}

.icon--collapse {
    @include icon(24px, 24px, 'ic_expand_more_black_24dp_1x.png');
    opacity: 0.2    ;
}

.icon--collapse--highlight {
    @include icon(24px, 24px, 'ic_arrow_drop_down_circle_black_24dp_1x.png');
    opacity: 1.0;
}

.icon--delete {
    @include icon(24px, 24px, 'delete.png');
    cursor: pointer;
}

.icon--small-delete {
    @include icon(24px, 24px, 'delete.png');
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.icon--small-cross {
    @include icon(10px, 10px, 'cross.png');
}

.icon--add {
    @include icon(24px, 24px, 'plus.png');
}

.icon--child {
    @include icon(24px, 24px, 'ic_subdirectory_arrow_right_black_24dp_1x.png');
    opacity: 0.2;
}

.icon--toggle_feature {
    @include icon(24px, 24px, 'toggle_feature.png');
    opacity: 0.5;
}

.icon--merge_feature {
    @include icon(24px, 24px, 'merge_feature.png');
    opacity: 0.5;
}

.icon--unmerge_feature {
    @include icon(24px, 24px, 'unmerge_feature.png');
    opacity: 0.5;
}

.icon--child--highlight {
    //@include icon(24px, 24px, 'ic_arrow_forward_black_24dp_1x.png');
    opacity: 1.0;
}

.icon--adhoc {
    @include icon(15px, 15px, 'adhoc.png');
}

.icon--correspondence {
    @include icon(15px, 15px, 'correspondence.png');
}

.icon--commercially-sensitive {
    @include icon(15px, 15px, 'commercially_sensitive.png');
}

.icon__status--active {
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 7px;
}

.icon__status--inactive {
    height: 15px;
    width: 15px;
    background-color:orange;
    border-radius: 7px;
}

.icon__status--expired {
    height: 15px;
    width: 15px;
    background-color:gray;
    border-radius: 7px;
}

.icon__status--overdue {
    height: 15px;
    width: 15px;
    background-color:red;
    border-radius: 7px;
}

.icon__status--paid {
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 7px;
}

.icon__status--not_overdue {
    height: 15px;
    width: 15px;
    background-color:orange;
    border-radius: 7px;
}

.issue_sidebar__issue_copy_img {
    @include icon(15px, 15px, 'material-icons-whiterefresh-copy.png');
    background-color: black;
}

.issue_sidebar__issue_move_img {
    @include icon(15px, 15px, 'folder-move-white.png');
    background-color: black;
}

.icon--comment-type--comment {
    @include icon(20px, 20px, 'icon-comment.png');
}

.icon--comment-type--correspondence {
    @include icon(20px, 20px, 'correspondence.png');
}

.icon--comment-type--timesheet {
    @include icon(20px, 20px, 'icon-comment-timesheet.png');
}

.icon--comment-type--raw_spec {
    @include icon(20px, 20px, 'icon-comment-raw-spec.png');
}

.icon--comment-annotate {
    @include icon(20px, 20px, 'icon-comment-raw-spec.png');
}
