@import 'variables.scss';

@mixin icon($height, $width, $filename) {
  background-image: url('../images/' + $filename);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $width $height;
  height: $height;
  width: $width;
}

.icon--clickable {
    cursor: pointer;
}

.icon--feature {
    @include icon(20px, 20px, 'icon_feature_blue 4@2x.png')
}

.icon--edit {
    @include icon(24px, 24px, 'ic_mode_edit_black_24dp_1x.png')
}

.icon--print { 
    @include icon(24px, 24px, 'baseline_print_black_18dp.png')
}

.icon--info {
    @include icon(20px, 20px, 'icon_info_black@2x.png')
}

.icon--more {
    @include icon(16px, 4px, 'icon_more_black@2x.png')
}

.icon--settings {
    @include icon(20px, 19.45px, 'icon_settings_black@2x.png')
}

.icon--timer-estimate {
    @include icon(20px, 20px, 'icon_time_black 14@2x.png')
    opacity:0.2;
}

.icon--timer-inactive {
    @include icon(20px, 20px, 'icon_time_black 14@2x.png')
}

.icon--timer-active {
    @include icon(20px, 20px, 'icon_time_orange@2x.png')
}

.icon--timer-stop {
    @include icon(20px, 20px, 'ic_timer_off_black_24dp_2x.png')
}

.icon--timer-start {
    @include icon(20px, 20px, 'ic_timer_black_24dp_2x.png')
}

.icon--add-to-schedule {
    @include icon(20px, 20px, 'ic_timer_black_24dp_2x.png')
}

.icon--download_as_csv {
    @include icon(20px, 20px, 'material-icons-black-download.png')
}

.icon--expand {
    @include icon(24px, 24px, 'ic_chevron_right_black_24dp_1x.png');
    opacity: 0.2;
}

.icon--collapse {
    @include icon(24px, 24px, 'ic_expand_more_black_24dp_1x.png');
    opacity: 0.2    ;
}

.icon--collapse--highlight {
    @include icon(24px, 24px, 'ic_arrow_drop_down_circle_black_24dp_1x.png');
    opacity: 1.0;
}

.icon--delete {
    @include icon(24px, 24px, 'delete.png');
    cursor: pointer;
}

.icon--search--small {
    @include icon(10px, 10px, 'search.png');
    cursor: pointer;
}

.icon--drag {
    @include icon(24px, 24px, 'drag_handle.png');
}

.icon--small-delete {
    @include icon(24px, 24px, 'delete.png');
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.icon--small-cross {
    @include icon(10px, 10px, 'cross.png');
}

.icon--large-cross {
    @include icon(24px, 24px, 'cross.png');
}

.icon--add {
    @include icon(24px, 24px, 'plus.png');
}

.icon--child {
    @include icon(24px, 24px, 'ic_subdirectory_arrow_right_black_24dp_1x.png');
    opacity: 0.2;
}

.icon--toggle_feature {
    @include icon(24px, 24px, 'toggle_feature.png');
    opacity: 0.5;
}

.icon--merge_feature {
    @include icon(24px, 24px, 'merge_feature.png');
    opacity: 0.5;
}

.icon--unmerge_feature {
    @include icon(24px, 24px, 'unmerge_feature.png');
    opacity: 0.5;
}

.icon--child--highlight {
    //@include icon(24px, 24px, 'ic_arrow_forward_black_24dp_1x.png');
    opacity: 1.0;
}

.icon--contenttype--generic {
    @include icon(20px, 20px, 'ic_contenttype_generic.png');
}

.icon--contenttype--application-msword {
    @include icon(20px, 20px, 'ic_contenttype_word.png');
}

.icon--contenttype--application-excel,
.icon--contenttype--application-vnd-openxmlformats-officedocument-spreadsheetml-sheet,
.icon--contenttype--application-vnd-oasis-opendocument-spreadsheet {
    @include icon(20px, 20px, 'ic_contenttype_excel.png');
}

.icon--contenttype--application-pdf {
    @include icon(20px, 20px, 'ic_contenttype_pdf.png');
}

.icon--loading {
    @include icon(20px, 20px, 'loading.gif');
}

.icon--adhoc {
    @include icon(15px, 15px, 'question_mark.png');
}

.icon--management {
    @include icon(15px, 15px, 'management.png');
}

.icon--attachment {
    @include icon(15px, 15px, 'attachment.png');
}

.icon--missing-testables {
    @include icon(15px, 15px, 'missing-testables.png');
}

.icon--correspondence {
    @include icon(15px, 15px, 'correspondence.png');
}

.icon--minutes {
    @include icon(15px, 15px, 'meeting_minutes.png');
}

.icon--commercially-sensitive {
    @include icon(15px, 15px, 'commercially_sensitive.png');
}

.icon--copy {
    @include icon(15px, 15px, 'material-icons-whiterefresh-copy.png');
    background-color: black;
}

.icon--fullscreen {
    @include icon(24px, 24px, 'fullscreen.png');
}

.icon--fullscreen-exit {
    @include icon(24px, 24px, 'fullscreen_exit.png');
}

.icon--black-close {
    @include icon(12px, 12px, 'material-icons-blackclose.png');
}

.icon--unresolved_dependancy {
    @include icon(24px, 24px, 'unresolved_dependancy.png');
}

.icon--bookmarks {
    @include icon(24px, 24px, 'bookmarks_icon.png');
}

.icon__status--unresolved {
    height: 15px;
    width: 15px;
    background-color:orange;
    border-radius: 7px;
}

.icon__status--resolved {
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 7px;
}

.icon__status--cant-resolve {
    height: 15px;
    width: 15px;
    background-color:gray;
    border-radius: 7px;
}


.icon__status--active {
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 7px;
}

.icon__status--inactive {
    height: 15px;
    width: 15px;
    background-color:orange;
    border-radius: 7px;
}

.icon__status--expired {
    height: 15px;
    width: 15px;
    background-color:gray;
    border-radius: 7px;
}

.icon__status--overdue {
    height: 15px;
    width: 15px;
    background-color:red;
    border-radius: 7px;
}

.icon__status--closed {
    height: 15px;
    width: 15px;
    background-color:red;
    border-radius: 7px;
}

.icon__status--paid {
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 7px;
}

.icon__status--not_overdue {
    height: 15px;
    width: 15px;
    background-color:orange;
    border-radius: 7px;
}

.icon__status--ok {
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 7px;
}

.icon__status--not-ok {
    height: 15px;
    width: 15px;
    background-color:lightgray;
    border-radius: 7px;
}

.icon--warning {
    @include icon(18px, 18px, 'baseline_warning_black_18dp.png');
    background-color: transparent;
}

.icon--error {
    @include icon(25px, 25px, 'baseline_error_black_18dp.png');
    background-color: transparent;
}


.issue_sidebar__issue_copy_img {
    @include icon(15px, 15px, 'material-icons-whiterefresh-copy.png');
    background-color: black;
}

.issue_sidebar__issue_move_img {
    @include icon(15px, 15px, 'folder-move-white.png');
    background-color: black;
}

.icon--comment-type--comment {
    @include icon(20px, 20px, 'icon-comment.png');
}

.icon--comment-type--correspondence {
    @include icon(20px, 20px, 'correspondence.png');
}

.icon--comment-type--timesheet {
    @include icon(20px, 20px, 'icon-comment-timesheet.png');
}

.icon--comment-type--raw_spec {
    @include icon(20px, 20px, 'icon-comment-raw-spec.png');
}

.icon--comment-annotate {
    @include icon(20px, 20px, 'icon-comment-raw-spec.png');
}

.icon--comment-share {
    @include icon(20px, 20px, 'icon-share.png');
}
