@import 'variables.scss';

@mixin icon($height, $width, $filename) {
  background-image: url('../../public/images2/' + $filename);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $width $height;
  height: $height;
  width: $width;
}

.icon--feature {
    @include icon(20px, 20px, 'icon_feature_blue 4@2x.png')
}

.icon--edit {
    @include icon(24px, 24px, 'ic_mode_edit_black_24dp_1x.png')
}

.icon--info {
    @include icon(20px, 20px, 'icon_info_black@2x.png')
}

.icon--more {
    @include icon(16px, 4px, 'icon_more_black@2x.png')
}

.icon--settings {
    @include icon(20px, 19.45px, 'icon_settings_black@2x.png')
}

.icon--timer-inactive {
    @include icon(20px, 20px, 'icon_time_black 14@2x.png')
}

.icon--timer-active {
    @include icon(20px, 20px, 'icon_time_orange@2x.png')
}

.icon--download_as_csv {
    @include icon(20px, 20px, 'material-icons-black-download.png')
}

.icon--expand {
    @include icon(24px, 24px, 'ic_chevron_right_black_24dp_1x.png');
    opacity: 0.2;
}

.icon--collapse {
    @include icon(24px, 24px, 'ic_expand_more_black_24dp_1x.png');
    opacity: 0.2    ;
}

.icon--collapse--highlight {
    @include icon(24px, 24px, 'ic_arrow_drop_down_circle_black_24dp_1x.png');
    opacity: 1.0;
}

.icon--child {
    @include icon(24px, 24px, 'ic_subdirectory_arrow_right_black_24dp_1x.png');
    opacity: 0.2;
}

.icon--toggle_feature {
    @include icon(24px, 24px, 'toggle_feature.png');
}

.icon--merge_feature {
    @include icon(24px, 24px, 'merge_feature.png');
}

.icon--unmerge_feature {
    @include icon(24px, 24px, 'unmerge_feature.png');
}

.icon--child--highlight {
    //@include icon(24px, 24px, 'ic_arrow_forward_black_24dp_1x.png');
    opacity: 1.0;
}

.icon--adhoc {
    @include icon(24px, 24px, 'adhoc.png');
}
