@import 'variables.scss';
@import 'div-table.scss';

.issue {
    color: $color-1;
    width: 100%;

    .reveal-on-hover--block {
        opacity: 0.1;
    }

    &:hover {
        .reveal-on-hover--block {
            /*display: block;*/
            opacity: 1.0;
        }
    }
}

.issue--feature {
    box-shadow: inset 0 -1px 0 0 #E0E0E0, 0 0 5px 0 rgba(0,0,0,0.16);
    font: $font-2;
}

.list-table__row--unselected.issue--belongs-to-selected-feature {
}

.list-table__row--unselected.issue--feature-of-selected-issue {
}

.issue--fake {
    // box-shadow: inset 0 -1px 0 0 #E0E0E0;
    // font: $font-1;
    //font-style: italic;
}

.issue--grouped {
    background-color: $color-4;
    box-shadow: inset 0 -1px 0 0 #E0E0E0;
    font: $font-1;
}

.issue--cursor-item td {
    -webkit-box-shadow:inset 0px 0px 0px 2px $color-25;
    -moz-box-shadow:inset 0px 0px 0px 2px $color-25;
    box-shadow:inset 0px 0px 0px 2px $color-25;
}

.issue--grouped .div-table__cell:first-child {
    padding-left: 50px;
}
 
.issue_list__issue_number_button {
    border: 1px solid #939eb3;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding-left: 4px;
    padding-right: 4px;
    margin: auto;
    text-align: center;
    background-color: #324972;
    width: 50%;
    height: 100%;
    padding-top: 7px;
}

.issue_list__panel-body__right {
    @inherit panel-body;
    width: 50%;
    float: right;
}

.issue_list__panel-body__left {
    @inherit panel-body;
    width: 50%;
    float: left;
}

.issue_link {
    cursor: pointer;
}

.issue--drop-target td {
    padding-bottom: 50px;
    background-color: black;
}

.issue__small-delete-image {
    background-image: url('../../public/images2/delete.png');
    width:15px;
    height:15px;
}

.issue-cell__assignee {
    @extend .div-table__cell--default;
}

.issue-cell__assignee:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__status {
    @extend .div-table__cell--default;
}

.issue-cell__status:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__my-estimate {
    @extend .div-table__cell--default;
}

.issue-cell__my-estimate:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__issue-name {
    @extend .div-table__cell--default;
}

.issue-cell__issue-name:hover {
    @extend .div-table__cell--hover;
}

.issue__cell__secondary {
    opacity: 0.5;
}

.issue_title__quality_error {
    background-color: $error-background-color;
}

.issue_subject__quality_error_reason {
    font: $bold-extra-large;
    color: $error-color;
}
