@import 'variables.scss';
@import 'div-table.scss';
@import 'icon.scss';

issue--grouped {
    background-color: $color-4;
    // box-shadow: inset 0 -1px 0 0 #E0E0E0;
    font: $font-1;
}
 
.issue_list__panel-body__right {
    @inherit panel-body;
    width: 50%;
    float: right;
}

.issue_list__panel-body__left {
    @inherit panel-body;
    width: 50%;
    float: left;
}

.issue_link {
    cursor: pointer;
}

.issue--drop-target td {
    padding-bottom: 50px;
    background-color: black;
}

.issue__small-delete-image {
    background-image: url('../images/delete.png');
    width:15px;
    height:15px;
}

.issue-cell__assignee {
    @extend .div-table__cell--default;
}

.issue-cell__assignee:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__status {
    @extend .div-table__cell--default;
}

.issue-cell__status:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__my-estimate {
    @extend .div-table__cell--default;
}

.issue-cell__my-estimate:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__progress {
    @extend .div-table__cell--default;
}

.issue-cell__progress:hover {
    @extend .div-table__cell--hover;
}

.issue-cell__issue-name {
    @extend .div-table__cell--default;
}

.issue-cell__issue-adhoc-icon {
    @extend .div-table__cell--default;
    @extend .icon--adhoc;
    opacity: 0.5;
}

.issue-cell__issue-management-general-icon {
    @extend .div-table__cell--default;
    @extend .icon--management;
    opacity: 0.5;
}

.issue-cell__issue-management-assign-icon {
    @extend .issue-cell__issue-management-general-icon;
}

.issue-cell__issue-management-estimate-icon {
    @extend .issue-cell__issue-management-general-icon;
}

.issue-cell__issue-management-testables-icon {
    @extend .issue-cell__issue-management-general-icon;
}

.issue-cell__issue-management-spec-icon {
    @extend .issue-cell__issue-management-general-icon;
}

.issue-cell__issue-management-finance-icon {
    @extend .issue-cell__issue-management-general-icon;
}

.issue-cell__issue-management-meeting-icon {
    @extend .issue-cell__issue-management-general-icon;
}


.issue-cell__issue-correspondence-icon {
    @extend .div-table__cell--default;
    @extend .icon--correspondence;
    opacity: 0.5;
}

.issue-cell__issue-minutes-icon {
    @extend .div-table__cell--default;
    @extend .icon--minutes;
    opacity: 0.5;
}

.div-table__row.issue--feature .issue-cell__issue-name {
    font: $font-3;
}

.issue-cell__issue-name:hover {
    @extend .div-table__cell--hover;
}

.issue__cell__secondary {
    @extend .div-table__cell--secondary;
}

.issue_title__quality_error {
    background-color: $error-background-color;
}

.issue_subject__quality_error_reason {
    font: $bold-extra-large;
    color: $error-color;
}
 
.issue-name__link {
    cursor: pointer;
}

.issue-cell__tag_column_container {
    background-color: $color-26;
}

.issue-comment, .issue-testable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    color: $color-10;
    padding-top: 12px;
}

.issue-comment__text, .issue-testable__text {
    color: $color-10;
    font: $font-1;
    line-height: 20px;
    white-space: pre-wrap;
    border-radius: 5px;
    padding: 24px;
    margin-top: 0;
    margin-bottom: 6px;
    min-height: 50px;
    background-color: rgba(0, 22, 49, 0.05);
    width: 100%;
}

.issue-comment__info, .issue-testable__info, .issue-feature__info {
    display: flex;
    flex-direction: column;
    font-size: $font-size-small;
    opacity: 1.0;
    min-width: 75px;
}

.issue-cell__estimate_summary__user {
    display: flex;
    justify-content: space-between;
}

.issue-cell__estimate_summary__user__cell {
    margin-right: 5px;
}

.issue-name {
    display: inline-block;
}

.issue-status {
    display: inline-block;
}
