@import 'variables.scss';

.issue-sidebar {
    padding: 18px;
}

.issue_sidebar__title {
    font: $bold-extra-larger;
    display: flex;
}

.issue_sidebar--textarea {
    margin-top: 12px;
    padding: 10px;
    border: solid 1px #dcdcdc;
    margin-bottom: 12px;
    width: 100%;
}

.issue_sidebar__title_number {
    margin-right: 10px;
}

.issue_sidebar--textarea--readonly {
    margin-bottom: 5px;
}

.issue_sidebar--button {
    padding: 10px;
    margin-bottom: 5px;
}

.issue_sidebar--comment_date {
    font-weight: 500;
    margin-bottom: 2px;
}

.issue_sidebar--comment_author {
    display: flex;
    flex-direction: row;
}

.issue_sidebar--comment_author__name {
    display: flex;
    flex: 5;
    justify-content: flex-start;
    align-items: center;

    span {
        padding-right: 5px;
    }
}

.issue_sidebar--comment_modified_date {
    display: flex;
    flex: 5;
    justify-content: flex-end;
    align-items: center;
}

.issue_sidebar--testable_date {
    font-weight: 500;
    margin-bottom: 2px;
}

.issue_sidebar--testable_author {
    display: inline-block;
}

.issue_sidebar__emacs_copy_img {
    background-image: url('../images/emacs.png');
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    float: left;
}

.issue_sidebar__git_img {
    background-image: url('../images/git_icon.png');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    float: left;
}

.issue_sidebar__button_row {
    display: flex;
}

.issue_sidebar__options {
    display: flex;
    flex-direction: row;
    font: $plain;
    color: $color-36;
}

.issue_sidebar__options__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.issue_sidebar__options__spacer {
    padding: 0 5px 0 5px;
    color: #7b7b7b;
}
