@import 'variables.scss';

.list-table {
    font: $font-1;
    width: 100%;
}

.list-table__inner {
    background-color: $color-2;
}

.list-table__section-title {
    font: $font-2;
    margin-bottom: 22px;
}

.list-table__headers th {
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0 0 $color-12;
    height: 56px;
}

.list-table__header {
    background-color: $color-2;
    font: $font-2;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    vertical-align: bottom;
}

.list-table__row--unselected {
    background-color: $color-2;
}

.list-table__row--selected {
    background-color: $color-3;
}

.list-table__row--highlighted {
    font-weight: bold;
}

.list-table__row--compact {
    .list-table__cell {
	height: 35px;
    }
}

.list-table__cell {
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    cursor: pointer;
    /*display: flex;*/
    /*width: 100%;*/
    /*align-items: center;*/

    &:first-child {
	padding-left: 26px;
    }
}

.list-table__cell--default {
    @extend .list-table__cell;
    display: flex;
    align-items: center;
}

.list-table__cell--hover {
    -webkit-box-shadow:inset 0px 0px 0px 2px $button-hover-background;
    -moz-box-shadow:inset 0px 0px 0px 2px $button-hover-background;
    box-shadow:inset 0px 0px 0px 2px $button-hover-background;
}
