@import "variables.scss";

.list-column-configurer__row {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: grab;
}

.list-column-configurer__row--dragging {
    background-color: $row-hover-color;
    cursor: grabbing;
}

.list-column-configurer__dragging_over {
    background-color: $button-active-background;
}

.list_column_configurer__headers {
}


.list-column-configurer__droppable {
    min-height: 50px;
    border: 1px solid $color-12;
    padding: 5px;
}
