@import 'variables.scss';
@import 'icon.scss';

.list-layout {
    align-items: flex-start;
    border: 3px solid springgreen;
    display: flex;
}

.list-layout__list {
    border: 3px solid orange;
    width: 100%;
}

.list-layout__sidebar {
    border: 3px solid skyblue;
    box-shadow: inset 1px 0 0 0 #E0E0E0;
    margin-left: 1px;
    width: 120px;
}