@import 'variables.scss';

.app--login {
    background-color: $color-18;
}

.login-page {
    height: 100%;
    margin: auto;
}

.login-page__header {
    align-items: center;
    background-color: $color-2;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.login-page__title {
    color: $color-1;
    font: $font-10;
    padding-left: 35px;
    margin: auto;
}

.login__link {
    color: $color-14;
    text-decoration: underline;
}

.login__link--strong {
    color: $color-19;
    text-decoration: underline;
}

.login-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.login-form {
    width: 400px;
    //height: 424px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
}

.login__header {
    border-bottom: 1px solid $color-12;
    font: $font-5;
    padding-bottom: 23px;
    padding-left: 32px;
    padding-top: 24px;
}

.login__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 36px;

    .button {
        text-transform: none;
    }

    .button--large {
        font-weight: normal;
    }

    .button-action {
    }

    form {
    
        * input {
            background-color: $color-2;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 1px solid $color-14;
            color: $color-1;
            box-sizing: border-box;
            font: $font-9;
            height: 40px;
            line-height: 24px;
            // margin-bottom: 40px;
            outline: none;
            padding-left: 0;
            padding-right: 0;
            padding-top: 8px;
            padding-bottom: 14px;
            width: 100%;
        }

        * input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
        }

        * .button {
            align-self: center;
            flex-basis: auto;
            flex-grow: 0;
        }
    }
}

.button--login {
    background-color: $color-19;
    color: $color-2;
}

.login-form__message {
    margin-bottom: 20px;
}

.login__secondary_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 36px;

    .button {
        cursor: pointer;
        text-transform: none;
        font-size: $font-size-default;
    }

    .button:first-child {
        margin-right:10px;
    }
}
.login__footer {
    margin-top: 10px;

    .button {
        cursor: pointer;
        text-transform: none;
        font-size: $font-size-default;
    }
}

.blank-page {
    margin: auto;
}

.blank-page__header {
    border-bottom: 1px solid $color-12;
    font: $font-5;
    padding-bottom: 23px;
    padding-left: 32px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
}

.blank-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%
}

.blank-text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    width: 400px;
}

.blank-page__logo {
    align-items: center;
    background-image: url('../images/Logo.png');
    background-position: center center;
    background-size: 56px 56px;
    cursor: pointer;
    display: inline-flex;
    height: 56px;
    width: 56px;
}

.blank-page__title {
    color: $color-1;
    font: $font-10;
    padding-left: 35px;
}

.blank-page__line {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: $font-size-default;
}
