@import 'variables.scss';

.message {
}

.message--error {
    background-color: $color-21;
    border: 1px solid $color-20;
    color: $color-20;
    font: $font-11;
    padding: 8px;
    text-align: center;
}