@import 'variables.scss';

.mien-select-panel {
    display: flex;
    font: $font-3;
    width: 70%;
    padding-left: 15%;
}

.mien-buttons {
    align-items: center;
    display: flex;
}

.mien-button {
    position: relative;
    background-color: #ccc;
    color: #777;
    border: 1px #999 solid;
    margin-left: 3px;
    &:hover {
        background-color: $background-color-1;
        color: $color-35;
    }
    padding: 2px;
}

.button--active {
    background-color: #4A90E2;
    color: #fff;
}

.mien-editor-button-bar {
    position: absolute;
    z-index:99;
    top: 100%;
    display: flex;
}
