@import 'variables.scss';

.mien-select-panel {
  align-items: center;
  display: flex;
  height: 56px;
  width: 70%;
  padding-left: 15%;
}

.mien-button {
    background-color: #ccc;
    color: #777;
    border: 1px #999 solid;
    margin-left: 3px;
    &:hover {
        background-color: rgba(50,100,170,0.4);
        color: #fff;
    }
}

.button--active {
    background-color: #4A90E2;
    color: #fff;
}
