@import 'variables.scss';

.mien-select-panel {
    display: flex;
    font: $font-3;
    width: 70%;
    padding-left: 15%;
}

.mien-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mien-button-bar {
    padding-left: 50px;
    opacity: 0.8;
}

.mien-button-bar__button {
    padding: 5px;
}

.mien-button {
    position: relative;
    background-color: #ccc;
    color: #777;
    border: 1px #999 solid;
    margin-left: 3px;
    &:hover {
        background-color: $background-color-1;
        color: $color-35;
    }
    padding: 2px;
}

.button--active {
    background-color: #4A90E2;
    color: #fff;
}

.mien-editor-button-bar {
    position: absolute;
    z-index:99;
    top: 110%;
    display: flex;
    flex-direction: column;
    background-color: $color-26;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
    padding: 3px;
}

.mien-editor-button-bar__button {
    border: 1px solid $color-26;
    width: 100%;
    padding: 2px;
}

.mien-editor-button-bar__button:hover {
    border: 1px solid #000000;
}

.mien-selector__default_configurer {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
    background-color: $color-26;
    padding: 3px;
    min-width: 200px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.mien-selector__default_configurer__feature {
    margin-top: 10px;
}
