@import 'variables.scss';

.modal-dialog--default {

  width: 288px;
}

.modal-dialog--large {

    width: 50%;
    left: 25%;
}

.modal-dialog__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index:100;
}

.modal-dialog__header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal-dialog__title {
  color: $color-1;
}

.modal-dialog__title--default {
  font: $font-4;
}

.modal-dialog__title--large {
  font: $font-5;
}

.modal-dialog__close {
 cursor: pointer;
}
