@import 'variables.scss';

.mode-selector {
  align-items: center;
  display: flex;
  width: 10%;
  top: 15px;
  left: 40%;
  position: absolute;
  color: #000;
}

.mode-selector__options {
  color: #000;
  border: 2px;
  font: normal normal 400 14px "Roboto", sans-serif;
  width: 100%;
  outline: none;
  background-color: #ffffff;
}
