@import 'variables.scss';

.multiple-issue-summary {
    font: $plain;
    font-size: $font-size-small;
}


.multiple-issue-summary__tip {
    font-size: $font-size-unreadably-small;
}

.multiple-issue-summary__tip:hover {
    font-size: $font-size-tiny;
}
