@import 'variables.scss';

.navbar--network-active {
  border-top: 1px solid $color-17;
}

.navbar--network-inactive {
  border-top: 1px solid $color-2;
}

.navbar__home-link {
  display: block;
}

.navbar__branding {
  align-items: center;
  background-image: url('../images/Logo.png');
  background-position: center center;
  background-size: 56px 56px;
  cursor: pointer;
  display: inline-flex;
  height: 56px;
  width: 56px;
}

.navbar__branding--connected {

}

.navbar__branding--disconnected {
  filter: grayscale(100%);
}

.navbar__right {
    display: flex;
    width: 1010px;
}

.navbar__left {
    display: flex;
}

.navbar__component {
  height: 56px;
}

.navbar__search {
  align-items: center;
  display: flex;
  margin-left: 8px;
}

.navbar__tab {
    align-items: center;
    display: inline-flex;
    position: relative;
}

.navbar__submenu {
    position: absolute;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
    background-color: #fff;
    z-index: 9;
    min-width: 145px;
    top: 50px;
    display: flex;
    flex-direction: column;
    right: 0px;
}

.navbar__submenu_item {
    color: #999;
    margin-top: 3px;
    text-transform: none;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    font-size: $font-size-default;

    &:hover {
        color: #333;
        background-color: #eee;
        cursor: pointer;
    }
}
