@import 'variables.scss';

.navtab {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font: $font-6;
    height: 56px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-2;
}

.navtab:hover {
    border-bottom: 1px solid $color-24;
    cursor: pointer;
}

.navtab--active {
  background-color: $color-4;

  > a,
  > a:active,
  > a:focus,
  > a:visited {
    text-decoration: none;
  }
}

.navtab--inactive {
  > a,
  > a:active,
  > a:focus,
  > a:visited {
    text-decoration: none;
  }
}

.navtab--expanded {
  background-color: #f5f5f5;
  box-shadow: inset 1px 0 0 0 #e0e0e0;
}

.navtab__label-wrapper {
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;

}

.navtab__label {
  display: inline-block;
  line-height: 56px;
  > a {
    display: inline-block;
  }
}

.navtab__label--active {
  color: $color-1;

  > a,
  > a:active,
  > a:focus,
  > a:visited {
    color: $color-1;
    text-decoration: none;
  }

}

.navtab__label--inactive {
  color: $color-10;

  > a,
  > a:active,
  > a:focus,
  > a:visited {
    color: $color-10;
    text-decoration: none;
  }

}

.navtab__icon {
  display: inline-block;
  line-height: 24px;
  padding-top: 20%;

  > i.material-icons {
    display: block;
  }
}
