@import 'variables.scss';

.nudge {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    max-width: 25%;
    margin: 50px;
    cursor: pointer;
}

.nudge__title {
    padding: 3px;
}

.nudge__content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nudge:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
}

.nudge__reason {
    font: $bold-extra-large;
    padding: 2px;
}

.nudge__reason--assigned_issues {
    background-color: lightblue;
}

.nudge__reason--pending_reviews {
    background-color: lightpurple;
}

.nudge__reason--inbox {
    background-color: lightpink;
}

.nudge__header {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 10px;
}

.nudge__modified {
    display:flex;
}

.nudge__modified .timestamp__wrapper {
    margin-left:2px;
}

.nudge__footer {
    font-size: $font-size-tiny;
    display:flex;
    margin-top: 15px;
}

.nudge__description {
    margin-right: 2px;
}

.nudge__sprint {
    display: flex;
}

.nudge__sprint .sprint_name__status {
    font-size: $font-size-tiny;
}

.nudge__sprint .sprint_name__type {
    font-size: $font-size-tiny;
}
