@import 'variables.scss';
@import 'snippets.scss';

.pager {
    clear: both;
    display: flex;
    font-size: $font-size-small;
    background-color: $footer-background-color;
}

.pager__text {
    margin-left: 10px;
}

.pager .icon {
    cursor: pointer;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    width: 30px;
}

.pager .icon--previous-page {
    background-image: url('../../public/images2/ic_forward_black_18dp.png');
    @include flip-horizontally()
}

.pager .icon--next-page {
    background-image: url('../../public/images2/ic_forward_black_18dp.png');
}
