@import 'variables.scss';

.popup-form {
    text-align: center;
}

.popup-form__title {
    display: flex;
    flex-direction: column;
}

.popup-form__title__fluff {
    font-size: $font-size-small;
}

.popup-form__title__value {
    font-size: $font-size-large;
    font-weight: bold;
}

.popup-form input {
    padding: 5px;
    margin-left: 2px;
}

.popup-form__submit {
    margin: auto;
}



