@import 'variables.scss';

.progress-bar__section {
  display: inline-block;
  height: 4px;
}

.progress-bar__section--invalid {
    background-color: $warning-color;
}

.progress-bar__section--over {
  background-color: $color-7;
}

.progress-bar__section--notset {
  background-color: $color-35;
}

.progress-bar__section--remaining {
  background-color: $color-14;
}

.progress-bar__section--progress {
  background-color: $color-5;
}
