@import 'variables.scss';

.project-roadmap {
    max-width:  50%;
}

.project-roadmap__sprint {
    padding: 5px;
    display: block;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.project-roadmap__sprint-fixed-content {
    background-color: $variable-width-background-color;
    border-left: 1px solid $form-field-border;
    border-bottom: 1px solid $form-field-border;
    border-top: 1px solid $form-field-border;
    width: 25%;
    overflow: visible;
}

.project-roadmap__sprint-variable-content {
    background-color: $variable-width-background-color;
    border-right: 1px solid $form-field-border;
    border-bottom: 1px solid $form-field-border;
    border-top: 1px solid $form-field-border;
}

.project-roadmap__sprint-heading {
    font: $bold-extra-large; 
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}

.project-roadmap__sprint-heading-status {
    font:  $plain;
    font-style: italic;
}

.project-roadmap__sprint-content  {
}

.project-roadmap__duration_text {
}

.project-roadmap__sprint-time-entry  {
    display: flex;
    flex-direction: row;
}
