@import 'variables.scss';


.project__statement__times_grid {
    width: 100%;
    font: $settings-font-4;
}

.project__statement__times_grid__header {
    background-color: $panel-focus-header-background-color;
}

.project__statement__times_grid td {
    border-bottom: 1px solid $color-6;
    padding: 3px;
}

td.project__statement__times_grid__inner_cell {
    border-bottom: none;
}

.project__statement__times_grid__rate_cell {
    font-size: $font-size-small;
}

.project__statement__times_grid__sprint_total {
    background-color: $panel-focus-header-background-color;
}

.project__statement__timed_grid__user_total {
    background-color: $panel-focus-header-background-color;
}

.project__statement__times_grid__grand_total {
    background-color: $color-5;
}
