@import 'variables.scss';
@import 'icon.scss';

.property-stack {
  width: 100%;
  box-shadow: inset 1px 0 0 0 $color-12;

}

.property-stack-component {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .property-stack-component__icon {
        display: none;
    }

    &:hover {
        .property-stack-component__icon {
            //display: inherit;
        }
    }
}

.property-stack-component__inner {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 18px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 18px;
    width: 100%;
}

.property-stack-component__title {
    color: $color-1;
    display: inline-block;
    font: $font-2;
    margin-right: 10px;
    overflow: hidden;
    width: 100%;
}

.property-stack-component__content {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.property-stack-component__icons {
    display: inline-block;
}

.property-stack-component__icon {
    > i.material-icons {
        display: block;
    }
}

.property--parent-title {
    margin-bottom: 4px;
}

.property--title {

}

.property-label-1 {
    color: $color-1;
    font: $font-1;
}

.property-label-2 {
    color: $color-1;
    font: $font-7;
}

.property-text {
    color: $color-10;
    font: $font-1;
    line-height: 20px;
}

.named-property {
    display: flex;
    justify-content: space-between;
}

.named-property__name {
    color: $color-10;
    display: inline-block;
    font: $font-1;
}

.named-property__value {
    color: $color-10;
    display: inline-block;
    font: $font-1;
}

.property-col {
    margin-left: 40px;
}

.property-col-small {
    margin-left: 20px;
}

.property-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.property-label {
    width: 50%;
    opacity: 0.5;
    font-size: $font-size-small;
}

.property-value {
    width: 50%;
    font: $plain;
    opacity: 0.8;
}

.property-value:hover {
    opacity: 1.0;
}

.property-cell {
    padding-left: 3px;
}
