
.release-notes-modal {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 75%;
    height: 50%;
    outline: none;
    overflow: auto;
}

.release-notes-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    opacity: 0.4;
    background: rgba(255, 255, 255, 0.75);
}

h2 {
    width: 100%;
    text-align: center;
}

.release-notes__close {
    float: right;
}
