@import 'variables.scss';

.rendered-markdown__imptime_inline_code {
    position: relative;
    display: inline;
}

.rendered_markdown__tooltip_wrapper {
    position: absolute;
}

.rendered_markdown__tooltip {
    margin-top: 10px;
    background: $color-26;
    border: 1px solid $color-22;
    border-radius: 10px;
    padding: 5px;
    line-height: 16px;
    font-size: $font-size-tiny;
}

.rendered_markdown__tooltip_row--issue_number {
    font-size: $font-size-large;
    cursor: pointer;
    margin-bottom: 5px;
}

.rendered_markdown__tooltip_row--issue_number:hover {
    text-decoration: underline;
}

.rendered_markdown__tooltip_row--issue_modified {
    display: flex;
}

.rendered_markdown__tooltip_row--modified .timestamp__wrapper {
    margin-left: 3px;
}
