@import 'variables.scss';
 
.rnd {
    background-color: $color-35;
    border: 1px solid $color-6;
}

.rnd--topmost {
    z-index:99;
}

.rnd--header {
    display: flex;
    justify-content: space-between;
    background-color: $color-6;
    min-height: 30px;
    padding: 5px;
    cursor: move;
    cursor: grab;
}

.rnd--header:active {
    cursor: grabbing;
}

.rnd__close {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.rnd--body {
    padding: 20px;
    overflow: auto;
}
