@import 'variables.scss';

.search-box {
  color: $color-10;
  //display: inline-block;
  align-items: center;
  //width: 744px;
  //height: 40px;
  background-color: $color-4;
  border-radius: 3px;
  display: flex;
  padding-left: 11px;
  padding-right: 16px;
}

.search-box__component {
  > .material-icons {
    display: block;
  }
}

.search-box__component--textfield {
  height: 40px;
  width: 700px;
}

.search-box__textfield {
  background-color: $color-4;
  border: 0;
  font: $font-1;
  height: 40px;
  margin-left: 20px;
  width: 700px;
  outline: none;
}
