@import 'variables.scss';

.sidebar {
  display: flex;
  margin-left: 1px;
}

.sidebar__context_menu {
    float: right;
    cursor: pointer;
}

.sidebar__fullscreen__cols_container {
    display: flex;
    justify-content: space-around;
}

.sidebar__fullscreen__col {
    width: 50%;
}

.sidebar__title--wide .issue_side__title {
    justify-content: center;
}
