@import 'variables.scss';

.sprint-deadline__card {
    margin-top: 3px;
    border-top: 1px solid $form-field-border;
}

.sprint-deadline {
    padding-top: 12px;
}

.sprint-deadline--heading {
    display: flex;
    flex-direction: row;
}

.sprint-deadline--type {
    font: $bold;
}

.sprint-deadline--deadline {
    margin-left: 7px;
}

.sprint-deadline--description {
    font-size: $font-size-small;
    font-style: italic;
}

.sprint-deadline--hard {
    font-size: $font-size-small;
}

.sprint-deadline--classification {
    font-size: $font-size-small;
}
