@import 'variables.scss';

.sprint-sidebar {
}

.sprint_sidebar__emacs_copy_img {
    background-image: url('../../public/images2/emacs.png');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    float: left;
}

.sprint_sidebar__button_row {
    display: flex;
}

.sprint_sidebar--textarea {
    padding: 10px;
    border: solid 1px #dcdcdc;
    margin-bottom: 5px;
}

.sprint_sidebar--form {
    margin: 20px;
}
