@import 'variables.scss';


.sprint-rates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 40px;
}

.sprint-rates__card {
    margin-right: 50px;
}

.sprint-rates__user-list {
    line-height: 20px;
    border-collapse: collapse;
}

.sprint-rates__user-list td, .sprint-rates__user-list th {
    padding: 2px;
    padding-left: 30px;
}

.sprint-rates__user-list thead th {
    border-bottom: 1px solid $header-background-color;
}

.sprint-rates__user-list tr:hover {
    background-color: $row-hover-color;
}

.sprint-rates__sprint-ratios:hover {
    background-color: $row-hover-color;
}

.sprint-rates__sprint-commission:hover {
    background-color: $row-hover-color;
}

.sprint-rates__sprint-budget:hover {
    background-color: $row-hover-color;
}
