@import 'variables.scss';

.sprint-state-summary {
    
}

.sprint-state-summary__problems--unhandled {
    color: red;
    display: flex;
}

.sprint-state-summary__warnings {
    color: darkorange;
    display: flex;
}
