@import 'variables.scss';
@import 'list-table.scss';

.sprint {
    box-shadow: inset 0 -1px 0 0 #E0E0E0, 0 0 5px 0 rgba(0,0,0,0.16);
}

.sprint--unselected {
}

.sprint--selected {
}

.table--sprint-list {
}

.sprint_link {
    cursor: pointer;
}

.sprint__type-sprint {
    
}

.sprint__is_clone {
    background-color: $color-34;
}

.sprint__num-issues-column {
    @extend .list-table__cell--default;
}

.sprint__num-issues-column:hover {
    @extend .list-table__cell--hover;
}

.sprint-cell__status {
    @extend .list-table__cell--default;
}

.sprint-cell__status:hover {
    @extend .list-table__cell--hover;
}
