@import 'variables.scss';

.sprint {
  border: 1px solid $color-12;
  box-sizing: border-box;
  background-color: $color-8;
}

.table--sprint-list {
}

.sprint__cell {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;

  &:first-child {
    padding-left: 26px;
  }
}
