@import 'variables.scss';

.tag-list__empty {
    font-style: italic;
    opacity: 0.5;
}

.tag {
    background-color: $color-11;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 8px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;

    border-radius: 8px;
    background-color: $tag-background-color;
    color: $tag-font-color;
    font-family: 'Fira Sans';
}

.tag__component {
    display: inline-block;
    white-space: nowrap;
    font-size:  $font-size-default;
}

.tag__component__category {
}

.tag__component__separator {
    width: 5px;
}

.tag__component__name {
    font-weight: bold;
}

.tag__component__delete {
    margin-left:  5px;
    border: 1px solid $tag-background-color;
}

.tag__component__delete:hover {
    border: 1px solid $tag-font-color;
}

.tag__edit_message {
    font-size: $font-size-small;
    color: $warning-color;
}

.tagform {
    margin-bottom: 5px;
}

.tagform__tag_creation_options {
    display: flex;
    flex-direction: row;
}

.tagform h2 {
    font: $bold-extra-large;
}

.tagform--category {
    margin-right:  10px;
    width: 100px;
    padding: 5px;
    font-family: 'Fira Sans';
}

.tagform--name {
    width: 100px;
    padding: 5px;
    font-family: 'Fira Sans';
}

.taglisttree__category-name {
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: 'Fira Sans';
}

.tagform__select-existing-tag {
}

.tagform__new-tag {
    margin-left: 50px;
    font-family: 'Fira Sans';
}

.taglisttree__tag {
    cursor: pointer;
}

.tag_category_name {
    border-radius: 8px;
    background-color: $tag-background-color;
    color: $tag-font-color;
}
