@import 'variables.scss';

.tag {
  background-color: $color-11;
  border-radius: 3px;
  color: $color-1;
  display: inline-block;
  font: $font-1;
  margin-bottom: 2px;
  margin-right: 8px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.tag__component {
  display: inline-block;
  white-space: nowrap;
}

.tag__component--category {

}

.tag__component--name {

}
