@import 'variables.scss';

.textarea {
  background-color: $color-8;
  border: none;
  color: $color-1;
  outline: 0;
  padding: 0;
  resize: none;
  width: 100%;
}

.textarea--description {
  color: $color-10;
  font: $font-1;
  line-height: 20px;
  white-space: pre-wrap;
}

.textarea--title {
  color: $color-1;
  font: $font-7;
  line-height: 24px;
}

.textarea--comment {
  color: $color-10;
  font: $font-1;
  line-height: 20px;
  white-space: pre-wrap;
}
