@import 'variables.scss';

.text-component {
  overflow-wrap: break-word;
  padding: 0;
}

.text-component--readonly {
  color: $color-1;
}

.text-component--empty {
  color: $color-13;
}

.text-component--title {
  color: $color-1;
  font: $font-7;
  line-height: 24px;
}

.text-component--description {
  color: $color-10;
  font: $font-1;
  line-height: 20px;
    white-space: pre-wrap;
    border: 1px solid $color-26;
    border-radius: 10px;
    padding: 10px;
}

.text-component--rendered_markdown {
    white-space: pre-wrap;
    line-height: 20px;
    font: $font-1;
}
