@import 'variables.scss';

.text-component {
  overflow-wrap: break-word;
  padding: 0;
}

.text-component--readonly {
  color: $color-1;
  font: $font-7;
}

.text-component--empty {
  color: $color-13;
  font: $font-7;
}

.text-component--title {
  color: $color-1;
  font: $font-7;
  line-height: 24px;
}

.text-component--description {
  color: $color-10;
  font: $font-1;
  line-height: 20px;
  white-space: pre-wrap;
}

.text-component--comment {
  color: $color-10;
  font: $font-1;
  line-height: 20px;
  white-space: pre-wrap;
}

.text-component--testable {
  color: $color-10;
  font: $font-1;
  line-height: 20px;
  white-space: pre-wrap;
}
