@import 'variables.scss';

.time-summary {
    margin-top: 50px;
}

.sprint_time_summary {
    font: $settings-font-4;
}

.sprint_time_summary__header {
    text-align: center;
    border-top: 1px solid $color-25;
    padding: 5px;
    margin-bottom: 0px;
}

.sprint_time_summary__table {
    width: 100%;
}

.sprint_time_summary__table td {
    border-bottom: 1px solid $color-6;
    width: 10%;
    text-align: right;
}

.sprint_time_summary__table th {
    border-bottom: 1px solid $color-6;
}

.sprint_time_summary__table th {
    border-bottom: 1px solid $color-6;
    padding: 3px;
}

.sprint_time_summary__table__header {
    background-color: $color-12;
}
