@import 'variables.scss';

.toolbar-button {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  padding: 3px;

  &:first-child {
    margin-left: 0;
  }
}

.toolbar-button__icon {
  color: $color-10;
  display: flex;
}

.toolbar-button__content {

}

.toolbar-button--enabled {
    //background-color: $color-9;
    border: 2px solid $color-16;
    border-radius: 3px;
}

.toolbar-button--large {
    min-width: 94px;
}

.toolbar-button--small {
    min-width: 45px;
}
