@import 'variables.scss';

.toolbar__container {
  align-items: center;
  // background-color: $color-2;
  display: flex;
  justify-content: flex-start;
  //width: 100%;
}

.toolbar__container--left {
  flex-grow: 1;
}

.toolbar__container--right {
  flex-grow: 1;
  justify-content: flex-end;
}
