@import 'variables.scss';

.toolbar-panel {
  align-items: center;
  background-color: $color-2;
  border-left: 1px solid $color-12;
  display: flex;
  height: 64px;
  margin-left: 1px;
  padding-left: 27px;
  padding-right: 27px;
}

