@import 'variables.scss';

.project-user__user_permissions {
    padding: 50px;
    position: relative;
}

.user-permission {
    float: left;
}

.user-permission__permission_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-permission__permission_card {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    margin-right: 50px;
    padding: 2px;
}

.user-permission__permission_card:hover {
    background-color: $header-background-color;
}

.user-permission__permission_name {
    float: left;
}

.user-permission__permission_value--on {
    float: left;
    padding-left: 8px;
    color: #339933;
}

.user-permission__permission_value--off {
    float: left;
    padding-left: 8px;
    color: #aa0033;
}

.user-permission__quick_role_buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.user-permission__quick_role_button {
    margin-right: 5px;
}

.user-permission__checkbox__on {
    
}

.user-permission__checkbox__off {
    opacity:0.3;
}

.user-permission__permission_value--toggle {
    cursor: pointer;
}

.user-permission__permission_value--toggle:hover {
    font-weight: bold;
}
