
.user-timesheet {
}

.user-timesheet__charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

.user-timesheet__chart {
    margin: 20px;
}
