
.project-user__user_permissions {
    border: 3px solid #33ff33;
    background-color: #778877;
    padding: 50px;
    position: relative;
    width: 50%;
    height: 50%;
}

.user-permission {
    float: left;
}
