@import 'variables.scss';

.visual-spec-issue {
    position: absolute;
}

.visual-spec-issue.visual-spec-issue--empty {
    display: block;
    position: relative;
}

.visual-spec-issue__image--normal {
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.visual-spec-issue__image--small {
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.visual-spec-issue__image--circle {
    background-image: url('../../public/images2/visual_spec_issue__circle.png');
}

.visual-spec-issue__image--square {
    background-image: url('../../public/images2/visual_spec_issue__square.png');
}

.visual-spec-issue__image--arrow {
    background-image: url('../../public/images2/visual_spec_issue__arrow.png');
}

.toolbar-panel__visual_spec {
    height:36px;
    width: 36px;
    overflow: hidden;
}

.visual-spec-issue--tooltip .blank {
    height: 20px;
}

