@import 'variables.scss';

.visual_spec_document_page__gallery {
    overflow-y: auto;
    margin-top: 10px;
}

.visual_spec_document_gallery {
    display: flex;
    flex-flow: row wrap;
}


.visual_spec_document_gallery__card {
    margin-top: 20px;
}

.visual_spec_document_gallery__image:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
}

.visual-spec-document-gallery-image__img_container {
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
    position: relative;
}

.visual_spec_document_gallery__image {
    max-width: 130px;
    max-height: 130px;
    cursor: pointer;
}

.visual_spec_document_gallery__image--selected {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.visual_spec_document_gallery__image--dnd-target {
    margin-right: 150px;
}

.visual_spec_document_gallery__image_loading {
    position: absolute;
    top: 10px;
    background: black;
    border-color: 1px solid white;
    padding: 5px;
    color: white;
    font-size: $font-size-small;
}

