@import 'variables.scss';

.visual-spec {
    position: absolute;
}

.visual-spec.visual-spec--empty {
    display: block;
    position: relative;
}

.visual-spec__image--normal {
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.visual-spec__image--small {
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
}

.visual-spec__image--circle {
    background-image: url('../images/visual_spec__circle.png');
}

.visual-spec__image--square {
    background-image: url('../images/visual_spec__square.png');
}

.visual-spec__image--arrow {
    background-image: url('../images/visual_spec__arrow.png');
}

.toolbar-panel__visual_spec {
    height:36px;
    width: 36px;
    overflow: hidden;
}

.visual-spec--tooltip .blank {
    height: 20px;
}

.visual_spec_document_page__issue_list {
    overflow: auto;
}

.visual_spec_document_page__doc_editor {
    width: 50%;
    margin-right:30px;
}
