@import 'variables.scss';

.visual-spec-document {
    height: 100%;
    width: 100%;
}

.issue_visual_spec_document__editable_property:hover {
}

.issue_visual_spec_document__edit:hover {
    display: block;
}
