@import 'variables.scss';

.wiki-list__row {
    padding-top: 5px;
    padding-bottom: 5px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.wiki-list__wiki_name {
    cursor: pointer;
    padding-right: 10px;
    font: $plain-extra-large;
    display: flex;
}

.wiki-list__row:hover {
    background-color: $row-hover-color;
}

.wiki {
    padding-left: 10px;
    padding-right: 10px;
}

.wiki-header {
    display:flex;
}

.wiki-header__name {
    font: $bold-extra-large;
    flex-grow: 1;
    text-align: right;
    margin-right: 50px;
}

.wiki__content {
    min-height:200px;
}

.wiki__content--editor {
    min-height: 200px;
}

.wiki-list__row_buttons {
    padding-right: 20px;
}

.wiki-list__row_buttons:hover {
    display:block;
}
