{% extends "slideshow/base.html" %}

{% load timepiece_tags %}{% load bootstrap_toolkit %}{% load bootstrap_toolkit %}
{% block content %}

<div class="col-md-4">
    <img class="logo" src="{{ STATIC_URL }}/images/implicitDesignLogoTransparent.png"/>
</div>

    <div style="clear: both;"></div>
    <div style="display:none">
        <div class="project_legend" style="background: purple">Manager</div>
        <div class="project_legend" style="background: green"> Developer</div>
        <div class="project_legend" style="background: blue">Tester</div>
    </div>
    <div style="clear: both;"></div>

    {% for business, height in business_list.items %}

    <div class="project">
      <div class="heading">
        <h3>
          {{business.point_person.first_name|add:" "|add:business.point_person.last_name}}<br>
          <a target="_blank" href="{% url 'business_issues' business.id %}">{{business.name}}</a>
        </h3>
      </div>
      <div style="width:100%;" class="timesheet_graph_container" id="test_{{ business.id }}"></div>
    </div>
    {% endfor %}

{% endblock %}
{% block extrajs %}
    <script>
        function line(label, starting_x, starting_y, length, colour) {
            return {
                label: label,
                data: [[starting_x, starting_y], [starting_x + length, starting_y]],
                color: colour,
                hoverable: true,
                ratio: length
            }
        }

        function createLinePerSprint(starting_y, managerRate, developerRate, testerRate, has_budget, over_budget) {
            var x1 = 0;
            var x2 = x1 + managerRate;
            var x3 = x2 + developerRate;
            var x4 = x3 + testerRate;

            //var over_budget = (x4 >= 100)
            if ( !has_budget ) {
                return [
                    line('Manager', 0, starting_y, 100, 'orange'),
                ];                
            } if (over_budget) {
                return [
                    line('Manager', 0, starting_y, 100, 'red'),
                ];                
            }
            else {
                return [
                    line('Manager', x1, starting_y, managerRate, 'purple'),
                    line('Dev', x2, starting_y, developerRate, 'green'),
                    line('Tester', x3, starting_y, testerRate, 'blue')
                ];
            }
        }

        var data_string = '{{ plot_data_json|safe }}';
        var data = jQuery.parseJSON(data_string);

        var main_map = [];

        for (var business_id in data) {
            if (typeof business_id != "string") {
                continue;
            }

            var plot_data_for_project = data[business_id];
            var data_points = [];
            var labels = [];
            var y = 5;

            $.each(plot_data_for_project, function (index, sprint_data) {
                var sprint_name = sprint_data['project'];
                var values = sprint_data['values'];
                var dev_hours_used = sprint_data['dev_hours_used']

                var total_cost_percentage = values.manager_rate + values.developer_rate + values.tester_rate;
                var label = sprint_name + " &nbsp;";
                var over_budget = total_cost_percentage > 100;
                
                var data_line = createLinePerSprint(y, values.manager_rate, values.developer_rate, values.tester_rate, values.has_budget, over_budget);
                data_points = data_points.concat(data_line);

                /* var total_cost_percentage = values.manager_rate + values.developer_rate + values.tester_rate;
                 * var label = sprint_name + " &nbsp;";
                 * var over_budget = total_cost_percentage > 100;*/
                if ( over_budget ) {
                    label += " ("+Math.round(total_cost_percentage)+"%)";
                }
                if ( ! values.has_budget ) {
                    //label += " (no budget)";
                    label += Math.round(dev_hours_used) + " hours used " + " (no budget)";
                }
                if ( !over_budget && values.dev_hours_available > 0 ) {
                    //label += " ("+Math.round(values.dev_hours_available)+" hours left)";
                    label += " (" + Math.round(dev_hours_used)+ " hours used " + Math.round(values.dev_hours_available)+ " hours left)";
                }               
                
                label = [y, label];

                labels.push(label);
                y += 10;
            });

            main_map[business_id] = {
                'data_points': data_points,
                'labels': labels
            };
        }

        function calculate_graph_height(count) {
            return count * 10;
        }

        function shared_options(labels) {

            return {
                series: {
                    lines: {show: true, fill: false},
                    points: {show: true, fill: false}
                },
                xaxis: {
                    position: 'top',
                    tickSize: 50,
                    min: 0.0,
                    max: 100.0
                },
                yaxis: {
                    show: true,
                    position: 'left',
                    min: 0.0,
                    max: calculate_graph_height(labels.length),
                    transform: function (v) {
                        return -v;
                    },
                    inverseTransform: function (v) {
                        return -v;
                    },

                    tickSize: 10,
                    ticks: labels,
                    labelWidth: 300,
                    reserveSpace: true
                },
                grid: {
                    show: true,
                    aboveData: false,
                    hoverable: true,
                    clickable: true
                },
                legend: {
                    show: false,
                    position: "ne"
                },
                bars: {
                    show: false
                }
            }
        }

        $(document).ready(
                function () {
                    for (business_id in main_map) {
                        var values = main_map[business_id]['data_points'];
                        var labels = main_map[business_id]['labels'];
                        var options = shared_options(labels);
                        var div_id = "#test_" + business_id;
                        $(div_id).css("height", calculate_graph_height(labels.length) + 50);
                        $.plot($("#test_" + business_id),
                                values,
                                options);
                    }
                });

    </script>

{% endblock %}

{% block reload %}
    <script>
     $(document).ready( function() {
         setTimeout( function() {
             location = "{% url 'slideshow:progress' %}";
         },
                     6*60*60*1000);
     });
    </script>
{% endblock %}
