
<html>

  <head>

    {% if not preview %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/payslip_pdf.css" />
    {% endif %}

  </head>

  <body>

    {% if preview %}
    <hr/>
    <a href="{% url 'salary_payslip' salary_id=salary.id preview=0 %}">Download pdf</a>
    {% endif %}

    <table class="heading">
      <tr>
	<td>
	  <img class="logo" src="{{STATIC_URL}}images/implicitDesignLogo.jpg"/>
	</td>
	<td>
	  <div class="heading-user">
	    <h1>PAYSLIP {{salary.date|date:"b Y"|upper}} </h1>
	    <br/>
	    <h1>{{user.first_name}} {{user.last_name}}</h1>
	  </div>
	</td>
      </tr>
    </table>


    {% include "timepiece/salary/_payslip_numbers.html" %}

    <table class="footer">
      
      <tr>
	<td>t: +27 (0) 21 448 9660</td>
	<td>f: +27 (0) 21 685 8402</td>
	<td>w: www.implicitdesign.co.za</td>
	<td>e: info@implicitdesign.co.za</td>
      </tr>
      <tr>
	<td colspan="4">a: 4 tramber place, blake street, observatory, cape town</td>
      </tr>

    </table>


  </body>
</html>
