{% extends "timepiece/project/base.html" %}
{% block title %}Payslip{% endblock %}
{% load bootstrap_toolkit %}

{% block content %}


<div class="row-fluid">

  <h2>Payslip for {{user.first_name}} {{user.last_name}} on {{salary.date|date:"d-M-Y"}}</h2>

  {{ msg }}

  <div class="row-fluid">
    <div class="span12">
      <form class="form-inline" method="get" action="" id="date-filter" accept-charset="utf-8">
	{{ da }}
	<input class="btn" type="submit" name="submit" value="Search" id="id_date_form_submit_btn"/>
	{%comment%} <input class="btn" type="button" name="clear" value="Clear" id="id_date_form_clear_btn"/> {%endcomment%}
      </form>
    </div>
  </div>

  <div>
    <form class="form-inline" method="post" action="" accept-charset="utf-8">
      {% csrf_token %}

      <table>
	{{ user_form.as_table }}
      </table>

      <hr/>

      <table>
	{{ salary_form.as_table }}
      </table>
 
      <input type="submit" value="Save">
      <input type="submit" value="Copy from previous month" name="copy_from_previous">

    </form>
  </div>

  {% if salary %}

<hr/>

  <div>
    <a href="{% url 'salary_payslip' salary_id=salary.id preview=0 %}">Download as pdf</a>
  </div>

  {% include "timepiece/salary/_payslip_numbers.html" %}
  
  {% endif %}

</div>

{% endblock %}
