<div id="project_id_{{project.id}}">
   <a href="#" class="secret_link" onclick="window.open('{%url project_detail project.business.id%}')">
     <div class="sprint_name">{{ project.name }} ({{project.id}})</div>
   </a>
   <a href="#" class="secret_link" onclick="window.open('{% url project_issues project.id %}')">
     <div {% if project.issues %}style="color:red"{% endif %}>
       {{ project.issues.count }} issues
     </div>
   </a> 
   <br/>
   Last modified {% if project.stats.end_time %} {{ project.stats.end_time|timesince }} ago {% endif %}

  <br/>
       <a href="#" class="secret_link" onclick="window.open('{%url edit_project project.id%}')">
         Budget: R{{project.budget|floatformat:"0"}}          
       </a>
  <br/>
       {% if perms.timepiece.view_invoice %}
         <a href="#" class="secret_link" onclick="window.open('{% url invoice_list %}?project_id={{project.id}}')">
       {% endif %}
           Invoiced: <input disabled type="checkbox" id="check_project_id_{{project.id}}" {% if project.stats.invoiced %} checked {% endif %} >
           Paid: <input disabled type="checkbox" {% if project.stats.paid %} checked {% endif %} >
       {% if perms.timepiece.view_invoice %}
         </a>
       {% endif %}
  <br/>

</div>         

<p>
   CTC R{{ project.stats.ctc|floatformat:"0" }}
   /
   Billed R{{ project.stats.billed|floatformat:"0" }}
</p>

{% if project.has_budget %}
<div class="traffic_bar">
  <div style="width:{{project.stats.percentage_spent}}%" class="{{project.stats.budget_traffic_class}}">
    {% if project.stats.amount_under_budget > 0 %}
         R{{project.stats.amount_under_budget|floatformat:"0"}}&nbsp;left
    {% else %}
         R{{project.stats.amount_over_budget|floatformat:"0"}}&nbsp;over
    {% endif %}
  </div>
</div>
{% else %}
<div style="color:red">No budget given</div>
{% endif %}

<div style="clear:left;" class="traffic_bar">
  <div style="width:{{project.stats.percent_dev_done}}%;" class="{{project.stats.percent_dev_done_traffic_class}}">
    {{project.stats.percent_dev_done}}%&nbsp;points&nbsp;dev_done
  </div>
</div>
<div style="clear:left;" class="traffic_bar">
  <div style="width:{{project.stats.percent_tested}}%;" class="{{project.stats.percent_tested_traffic_class}}">
    {{project.stats.percent_tested}}%&nbsp;points&nbsp;tested
  </div>
</div>

<div style="clear:both"></div>