{% load timepiece_tags %}
{% load humanize %}
{% load url from future %}

<div id="project_id_{{project.id}}">

  {% has_permission has_edit_project_detail project.business %}
   <a href="#" class="secret_link" onclick="window.open('{%url 'project_detail' project.business.id%}')">
     <div class="sprint_name">{{ project.name }} ({{project.id}})</div>
   </a>
  {% end_permission %}
   
  {% has_permission has_edit_project_detail project.business %}
   <a href="#" onclick="imp.project_card_thinking(this); $('#b_card_{{project.business.id}}').load('{% url 'get_project_card'  business_id=project.business.id  %}');return false;">refresh</a>
   
   <a href="#" class="secret_link" onclick="window.open('{% url 'project_issues' project.id %}')">
     <div {% ifequal 0 project.issues|length %}style="color:red"{% endifequal %}>
       {{ project.issues.count }} issues
     </div>
   </a> 
   <br/>
   {% end_permission %}
   Last modified {% if project.stats.end_time %} {{ project.stats.end_time|timesince }} ago {% endif %}
  <br/>

  {% has_permission has_view_budget project.business %}
     {% has_permission has_edit_budget project.business %}
       <a href="#" class="secret_link" onclick="window.open('{%url 'edit_project_budget' project.id%}')">
     {% end_permission %}
        Budget: R{{project.budget|floatformat:"0"|intcomma}}          
     {% has_permission has_edit_budget project.business %}
       </a>
     {% end_permission %}
  {% end_permission %}

  <br/>
  {% has_permission has_view_invoices project.business %}
    {% has_permission has_edit_invoices project.business %}
    <a href="#" class="secret_link" onclick="window.open('{% url 'invoice_list' %}?project_id={{project.id}}')">
    {% end_permission %}  
       Invoiced: <input disabled type="checkbox" id="check_project_id_{{project.id}}" {% if project.stats.invoiced %} checked {% endif %} >
       Paid: <input disabled type="checkbox" {% if project.stats.paid %} checked {% endif %} >
    {% has_permission has_edit_invoices project.business %}
    </a>
    {% end_permission %}
  {% end_permission %}
  <br/>

</div>         

{% has_permission has_view_ctc_billable_rates project.business %}
<p>
    {% has_permission has_edit_ctc_billable_rates project.business %}
    <a href="#" class="secret_link" onclick="imp.popup_page('{% url 'view_project_rates' project.id %}'); return false;">
    {% end_permission %}
       CTC R{{ project.stats.ctc|floatformat:"0"|intcomma }}
       /
       Billable R{{ project.stats.billed|floatformat:"0"|intcomma }}
    {% has_permission has_edit_ctc_billable_rates project.business %}
    </a>
    {% end_permission %}
</p>
 
{% end_permission %}



{% has_permission has_view_budget project.business %}
  {% if project.has_budget %}
  <div class="traffic_bar">
    <div style="width:{{project.stats.percentage_spent}}%" class="{{project.stats.budget_traffic_class}}">
      {% if project.stats.amount_under_budget > 0 %}
           R{{project.stats.amount_under_budget|floatformat:"0"|intcomma}}&nbsp;left
      {% else %}
           R{{project.stats.amount_over_budget|floatformat:"0"|intcomma}}&nbsp;over
      {% endif %}
    </div>
  </div>
  {% else %}
  <div style="color:red">No budget</div>
  {% endif %}
{% end_permission %}

<div style="clear:left;" class="traffic_bar">
  <div style="width:{{project.stats.percent_dev_done|floatformat:"0"}}%;" class="{{project.stats.percent_dev_done_traffic_class}}">
    {{project.stats.percent_dev_done|floatformat:"0"}}%&nbsp;points&nbsp;dev_done
  </div>
</div>
<div style="clear:left;" class="traffic_bar">
  <div style="width:{{project.stats.percent_tested|floatformat:"0"}}%;" class="{{project.stats.percent_tested_traffic_class}}">
    {{project.stats.percent_tested|floatformat:"0"}}%&nbsp;points&nbsp;tested
  </div>
</div>
 
{% has_permission has_toggle_graphs  project.business %}
<div class="toggle_title secret_link" onclick="$(this).parent().find('.toggle_graphs_section').toggle();">toggle graphs</div>
<a href="#" class="secret_link" onclick="window.open('{% url 'show_timeline' project.id %}')">
 show timeline
</a> 
<br />
{% end_permission %}

<div class="toggle_graphs_section" style="display:none">
  <div class="graph">
    <h1>hours by user</h1>
    <div class="{{project.id}}_graph_hours_by_user" style="height:200px;width:200px;"></div>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
  <div class="graph">
    <h1>ctc per user</h1>
    <div class="{{project.id}}_graph_ctc_by_user" style="height:200px;width:200px;"></div>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
  <div class="graph">
    <h1>billable per user</h1>
    <div class="{{project.id}}_graph_billable_by_user" style="height:200px;width:200px;"></div>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>

<script>
  var plot_charts = null;
  $.plot(".{{project.id}}_graph_hours_by_user",
         [ {%spaceless%} 
             {% for username,amounts in project.users_and_hours.users.items %} 
               { label:"{{username}}", 
                 data: {{amounts.hours}}
               },
             {% endfor %} 
           {%endspaceless%}
         ],
         { series: { pie: { show: true } },
           legend: { show: false} } );
  $.plot(".{{project.id}}_graph_ctc_by_user",
         [ {%spaceless%} 
             {% for username,amounts in project.users_and_hours.users.items %} 
               { label:"{{username}}", 
                 data: {{amounts.revenue}}
               },
             {% endfor %} 
           {%endspaceless%}
         ],
         { series: { pie: { show: true } },
           legend: { show: false} } );
  $.plot(".{{project.id}}_graph_billable_by_user",
           [ {%spaceless%} 
               {% for username,amounts in project.users_and_hours.users.items %} 
                 { label:"{{username}}", 
                   data: {{amounts.billed}}
                 },
               {% endfor %} 
             {%endspaceless%}
           ],
           { series: { pie: { show: true } },
             legend: { show: false} } );
</script>

<div style="clear:both"></div>