<div class="project_card">

  <h1>{{ business.name }}</h1>
  <div id="project_id_{{project.id}}">
         Sprint name:   {{ project.name }} ({{project.id}})
    <br/>
         Budget: R{{project.budget|floatformat:"0"}}          
    <br/>
	 Invoiced: <input disabled type="checkbox" id="check_project_id_{{project.id}}" {% if invoiced %} checked {% endif %} >
    <br/>
    
  </div>         

  <p>
     CTC R{{ ctc|floatformat:"0" }}
     /
     Billed R{{ billed|floatformat:"0" }}
  </p>

  {% if project.has_budget %}
  <div class="traffic_bar">
    <div style="width:{{percentage_spent}}%" class="{{budget_traffic_class}}">
           R{{difference|floatformat:"0"}} left
    </div>
  </div>
  {% else %}
  <div style="color:red">No budget given</div>
  {% endif %}

  <div class="traffic_bar">
    <div style="width:{{ dev_done}}%;" class={{percent_done_traffic_class}}"></div>
    {{dev_done}}% dev
  </div>
  <div style="clear:left;" class="traffic_bar">
    <div style="width:{{tested}}%;" class="{{percent_tested_traffic_class}}"></div>
    {{tested}}% tested
  </div>

  <div class="nav">
      <a href="{% url project_detail business.id %}">view</a>         
      <a href="#" onclick="$('#b_card_{{business.id}}').load('{% url get_project_card_indexed  business_id=business.id index=project_entries.previous_page_number %}'); return false;">previous</a>
      <a href="#" onclick="$('#b_card_{{business.id}}').load('{% url get_project_card_indexed  business_id=business.id index=project_entries.next_page_number %}'); return false;">next</a>
      {% if cur_project %}
      <a href="{% url project_issues cur_project.id %}">{{ cur_project.issues.count }} issues </a> 
      {% endif %}
  </div>
</div>
