<div class="project_card">

  <h1>{{ business.name }}</h1>

  {% include "timepiece/_card_project.html" %}

  {% if older_open_projects %}
    <div class="toggle_section">
      <div class="toggle_title secret_link" onclick="$(this).parent().find('.toggle_content').toggle();">older sprints</div>
      <div class="toggle_content" style="display:none">
        {% for project in older_open_projects %}
          <div class="nested_card">
            {% include "timepiece/_card_project.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
