{% extends "timepiece/project/base.html" %}
{% block title %}ImpTime{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/projects.js"></script>
 {% endblock extrajs %}

 {% block content %}

     <div class="row-fluid">

       <h2>ImpTime</h2>

       Complete project management for development companies at your fingertips
       <br/>
       {% if perms.timepiece.view_dashboard %}
       <p>
         <a class="btn btn-primary" href="{% url 'dashboard' %}">Dashboard</a>
       </p>
       {% endif %}
       <p>
       <a class="btn btn-info" href="{% url 'list_projects' %}">Project list</a>
       </p>
       <p>
         Useful tip, to find projects, sprints and issues quickly, type anything into the search box in the top right and press enter
       </p>

    </div>
{% endblock %}


