{% extends "timepiece/project/base.html" %}
{% block title %}ImpTime{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}timepiece/js/projects.js"></script>
 {% endblock extrajs %}

 {% block content %}

     <div class="row-fluid">

       <h2>ImpTime</h2>

       {% if perms.timepiece.view_dashboard %}
       <p>
         <a class="btn btn-info" href="{% url 'dashboard' %}">Dashboard</a>
       </p>
       {% endif %}

       <p>
       <a class="btn btn-info" href="{% url 'list_projects' %}">Project list</a>
       </p>
       
       {% if perms.timepiece.can_clock_in %}
       <p>
       <a class="btn btn-info" href="{% url 'quick_clocker' %}">Quick clocker</a>
       </p>
       {% endif %}
       
       {% if perms.timepiece.scheduler %}
       <p>
       <a class="btn btn-info" href="{% url 'scheduler' %}">Scheduler</a>
       </p>
       {% endif %}

    </div>
{% endblock %}


