{% load timepiece_tags %}
{% load url from future %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid visible-desktop">
            {% block navbar-left %}
                <ul class="nav pull-left">

                    <li class="active">
                      <a class="brand" href="http://www.implicitdesign.co.za">
                        imptime
                        <img width="50px" src="{{STATIC_URL}}images/implicitDesignLogo.jpg"/>
                      </a>
                    </li>
                    {% if perms.timepiece.add_entry %}
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">My time <b class="caret"></b></a>
		      <ul class="dropdown-menu">
			<li><a href="{% url 'timepiece-add' %}">Add a time entry</a></li>
			<li><a href="{% url 'timepiece-import' %}">Import multiple time entries</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'view_person_time_sheet' request.user.pk %}">My ledger</a></li>
		      </ul>
		    </li>
                    {% endif %}

                    {% if perms.timepiece.view_project %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                            <ul class="dropdown-menu">

			        {% if perms.timepiece.view_project or perms.auth.view_user or perms.timepiece.view_business %}
   				  <li><a href="{% url 'list_projects' %}">List of projects</a></li>
				{% endif %}

                                {% if perms.timepiece.add_business %}
                                  <li><a href="{% url 'create_business' %}">New project</a></li>
				  {% if business.id %}
				    <li><a href="{% url 'edit_business' business.id %}">Edit {{business.name}}</a></li>
				  {% endif %}
                                {% endif %}

				{% comment %}
				{% if perms.auth.view_user %}
                                    <li><a href="{% url 'list_people' %}">Monthly timesheet breakdown</a></li>
                                {% endif %}{% endcomment %}
                                    {% comment %}
                                <li><a href="{% url 'timepiece-entries' %}">Time Tracking</a></li>
                                {% endcomment %}


                                {% comment %}
			        <li><a href="{% url 'view_summary' request.user.pk %}">Project cards</a></li>
                                {% endcomment %}

                            </ul>
                        </li>
                    {% endif %}

		    {% if business.id %}
		      <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sprints <b class="caret"></b></a>
                            <ul class="dropdown-menu">
			    {% if has_closed_sprints %}
			      <li class="handle_show_closed_sprints" >
				<a href="#" onclick="$('.project_li.closed_project').show(); $(this).hide(); $(this).parents('ul').find('.handle_hide_closed_sprints').show(); return false;">
				  Show closed sprints
				</a>
			      </li>
			      <li style="display:none" class="handle_hide_closed_sprints" >
				<a href="#" onclick="$('.project_li.closed_project').hide(); $(this).hide(); $(this).parents('ul').find('.handle_show_closed_sprints').show(); return false;">
				  Hide closed sprints
				</a>
			      </li>
			    {% endif %}
			    {% has_permission has_create_sprint business %}  
			    <li>
				<a href="#"  onclick="imp.do_form_show(this , '{% url 'add_project' business.id %}' ); return false;">
				  Create sprint in {{business.name}}
				</a>	
			      </li>
			      {% end_permission %}
			  </ul>
		      </li>
		      
		    {% endif %}
		    
                        {% if perms.timepiece.view_entry_summary or perms.timepiece.view_payroll_summary or perms.timepiece.add_project_contract or perms.timepiece.change_entrygroup  %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if perms.timepiece.view_entry_summary %}
				    {% comment %}
                                    <li><a href="{% url 'hourly_report' %}">Hourly</a></li>
				    {% endcomment %}
				    {% comment %}
                                    <li><a href="{% url 'billable_hours' %}">Billable Hours</a></li>
				    {% endcomment %}

                                    {% if perms.timepiece.view_entry_summary %}
                                      <li><a href="{% url 'timepiece-summary' %}">Monthly times pivoted</a></li>
                                    {% endif %}

                                    {% if perms.timepiece.view_entry_summary %}
                                      <li><a href="{% url 'amounts_billed' %}">Amounts billed across projects</a></li>
				    {% endif %}
                                
                                    
                                    {% comment %}
				    <li><a href="{% url 'graphs' %}">Graphs</a></li>
                                    {% endcomment %}
                                {% endif %}
				{% comment %}
                                {% if perms.timepiece.view_payroll_summary %}
                                    <li><a href="{% url 'payroll_summary' %}">Payroll</a></li>
                                {% endif %}
				{% endcomment %}

                                    {% comment %}
				{% if perms.timepiece.view_entry_summary %}
				    <li><a href="{% url 'incremental_timesheets_by_project' %}">Redmine by Project</a></li>
				    <li><a href="{% url 'revenue' %}">Revenue</a></li>
				{% endif %}
                                                                        {% endcomment %}

				{% comment %}
                                {% if perms.timepiece.add_project_contract %}
                                    <li><a href="{% url 'list_contracts' %}">Contracts</a></li>
                                {% endif %}
				{% endcomment %}
                                {% comment %}
                                {% if perms.timepiece.change_entrygroup %}
                                    <li class="divider"></li>
                                    <li><a href="{% url 'invoice_projects' %}">Invoices</a></li>
                                {% endif %}
				{% endcomment %}
				{% comment %}
                                {% if perms.timepiece.can_clock_in %}
                                    <li><a href="{% url 'project_hours' %}">Weekly Schedule</a></li>
                                {% endif %}
				{% endcomment %}
				
                            </ul>
                        </li>
                    {% endif %}



		    {% if perms.auth.view_user or perms.timepiece.view_business %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if perms.auth.view_user %}
                                    <li><a href="{% url 'list_people' %}">List of users</a></li>
                                {% endif %}
                                {% if perms.timpeiece.daily_graph %}
				    <li><a href="{% url 'daily_graph' %}">Daily hours for all users</a></li>
				{% endif %}
                                {% if perms.timpeiece.view_user %}
				    <li><a href="{% url 'users_last_active' %}">Recent user activity</a></li>
				{% endif %}
                                {% if user.is_staff %}
                                    <li><a href="{% url 'edit_default_user_rates' %}">Edit default rates</a></li>
                                {% endif %}
                                                                        

                            </ul>
                        </li>
                    {% endif %}
		    		    {% if perms.timepiece.salaries %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expenses/Incomes <b class="caret"></b></a>
                            <ul class="dropdown-menu">
			      <li><a href="{% url 'salary_view' %}">Salaries & Payslips</a></li>
                              <li><a target="_blank" href="http://invoice.implicitdesign.co.za">Goto invoice system</a></li>
                              <li class="divider"></li>
			      <li><a href="{% url 'expense_list' %}">Expenses</a></li>
			      {% if perms.timepiece.view_payroll_summary %}
                              <li><a href="{% url 'income_summary' %}">Income Summary</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% for name, links in extra_nav.items %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for url_name, link_text in links %}
                                    <li><a href="{% url url_name %}">{{ link_text }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                    {% if perms.timepiece.add_entry %}
                        
                        {% comment %}
                        <li class="dropdown"><a class="popover-toggle" data-target="#active-popover">
                            <i class="icon-user icon-white"></i> {{ active_entries|length }} online user(s)</a>
                        </li>
                        {% endcomment %}
                        <div id="active-popover" class="popover">
                            <h3 class="popover-title">Others Active Entries</h3>
                            <div class="popover-content">
                                <table class="table table-striped table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Project</th>
                                            <th>Activity</th>
                                            <th>Since</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entry in active_entries %}
                                            <tr class="{% if entry.is_paused %}paused{% endif %}">
                                                <td>{{ entry.user.first_name }} {{ entry.user.last_name }}</td>
                                                <td class="project">{{ entry.project.name }}</td>
                                                <td>{{ entry.activity.name }}</td>
                                                <td>{{ entry.start_time|date:"P" }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr><td colspan="4">Currently there are no other active entries.</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                </ul>
            {% endblock %}

            {% block navbar-right %}
                {% if user.is_authenticated %}
                    <ul class="nav pull-right">

                      <li>
                        <div class='issue_search'>
                          {% if project %}
                            <form method="GET" action='{% url 'issue_search_active_project' project.id %}'>
                          {% elif business %}
                            <form method="GET" action='{% url 'issue_search_active_business' business.id %}'>
                          {% else %}
                            <form method="GET" action='{% url 'issue_search' %}'>
                          {% endif %}
                            Find: <input type="text" name='search_term' class="search_term"/>
                          </form>

                          <div class="issue_search_results" style="display:none">
                          </div>

                        </div>
                      </li>

                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if user.is_staff %}
                                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                {% endif %}
                                <li><a href="{% url 'edit_settings' %}">Settings</a></li>
                                <li><a href="{% url 'change_password' %}">Change Password</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <a class="btn btn-primary pull-right" href="{% url 'auth_login' %}">Login</a>
                {% endif %}

                {% block quick-search %}
                    {% if perms.timepiece.view_business %}
                        <form class="navbar-search pull-right" action="{% url 'quick_search' %}" method="get" accept-charset="utf-8">
                            {{ quick_search_form.quick_search }}
                        </form>
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </div>

        <div class="container-fluid hidden-desktop">
            <a class="brand" href="/">Timepiece</a>

            {% if user.is_authenticated %}
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            {% endif %}

            <div class="nav-collapse">
                <ul class="nav">
                    {% if perms.timepiece.add_entry %}
                        <li class="dropdown">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">Dashboard</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'timepiece-entries' %}">Time Tracking</a></li>
                                <li><a href="{% url 'view_person_time_sheet' request.user.pk %}">My Ledger</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
