{% load timepiece_tags %}
<div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="nagivation_head">
        <a class="home" href="http://www.implicitdesign.co.za"> Imptime </a>
      </div>
      
      <div class="sub_nagivation_head">
        <div class="sub-navbar-inner">
          <span class="nav-link dropdown"><a class="ico-clock" href="#"> my time </a>
            <ul class="nav-link dropdown-menu">
	      <li><a href="{% url 'timepiece-add' %}">Add a time entry</a></li>
	      <li><a href="{% url 'timepiece-import' %}">Import multiple time entries</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'view_person_time_sheet' request.user.pk %}">My ledger</a></li>
              <li><a href="{% url 'daily_graph' request.user.pk %}">Timesheet graph</a></li>
              <li class="divider"></li>
              {% if perms.timepiece.can_clock_in %}
              <li><a href="{% url 'quick_clocker' %}">Quick clocker</a></li>
              {% endif %}
	    </ul>
          </span>
          <span class="nav-link"><a class="ico-dashboard" href="#"> dashboard  </a></span>
          <span class="nav-link"><a class="ico-project" href="#"> projects </a></span>
          <span class="nav-link"><a class="ico-report" href="#"> reports </a></span>
          <span class="nav-link"><a class="ico-list" href="#"> calendar </a></span>
          <span class="nav-link"><a class="ico-user" href="#"> users </a></span>
          <span class="nav-link"><a class="ico-calc" href="#"> expenses / income </a></span>
        </div>
      </div>
    </div>
  </div>