<div style="float:left" class="short_traffic">
  <div class="special_traffic_container" {% if tooltips %} style="cursor:point; position:relative" onclick="$(this).find('.traffic_tooltip').slideToggle(); return false"{% endif %}>
    <div class="special_traffic_colourbar {{colour}}" style="width:{{ width_percent }}%;" >
      &nbsp;
    </div>
    <div class="special_traffic_text">
      {{message}}
    </div>
    {% if tooltips %}
    <div class="traffic_tooltip" style="display:none">
      <table class="clean">
        {% for tooltip in tooltips %}
        <tr>
          {% for tip in tooltip %}
          <td>{{tip}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>

</div>
