<form class="box filter_form" method="GET" action="{% url 'calendar'%}">

    {% csrf_token %}

    <h2>Filter</h2>

    <div class='form-group{% if filter_form.errors.event_types %} has-error{%endif%}'>
      <div class="col-md-12">
            <h3>Types</h3>
      </div>
      <div class="col-md-12">
            {{ filter_form.event_types }}
      </div>

      <div class="col-md-12">
        &nbsp;
      </div>
      <div style="display:none" class="col-md-12">
        {{ filter_form.actual_time_aggregation_mechanism }}
        <br/><br/>
      </div>
    </div>

    <div class='form-group{% if filter_form.errors.users%} has-error{%endif%}'>
      <div class="col-md-12">
            <h3>Users</h3>
      </div>
      <div class="col-md-12">
            {{ filter_form.users }}
      </div>
    </div>

    <div class='form-group{% if filter_form.errors.businesses %} has-error{%endif%}'>
      <div class="col-md-12">
            <h3>Projects</h3>
      </div>
      <div class="col-md-12">
            {{ filter_form.businesses }}
      </div>
    </div>

    <div class='form-group'>
      <div class="col-md-12">
        <input class="btn btn-primary" type="submit" value="Filter" onclick="t_calendar.refresh(); return false;" />
      </div>
      <div class="col-md-12">
        &nbsp;
      </div>
    </div>

    <div style="clear:both"></div>

</form>

<script>

  (function() {

    var update_show_aggregation_mechanism = function() { 
	var el = $('select[name=actual_time_aggregation_mechanism]').parent();
	if ( $('input[name=event_types][value=actual]').attr('checked') ) {
	    el.show();
	} else {
	    el.hide();
	}
    };

       $(document).ready( function() {

			      $("#id_event_types input").click( function() {
								    update_show_aggregation_mechanism();
								});

			      update_show_aggregation_mechanism();
			  });

  }());

</script>
