<h2>Unscheduled sprints</h2>
<div class='tip'>Only showing sprints in development</div>
<ul>
{% for p in projects_with_unscheduled_hours  %}
  <li class="project_unscheduled">
    <a href="#" class="tooltip_anchor" onclick="t_calendar.activate_project_for_scheduling({{p.id}}); return false">
        {{ p.long_name }} ({{p.scheduled_hours_percentage|default:0|floatformat:0}}% scheduled)
    </a>
    <div class="hover_tooltip" style="display:none">
      {% include "timepiece/calendar/_scheduled_sprint_tooltip.html" %}
    </div>
  </li>
{% endfor %}
</ul>

{% if projects_with_fully_scheduled_hours|length > 0 %}
<div class="fully_scheduled_sprints" style="display:none">
  <h2>Fully scheduled sprints</h2>
  <div class='tip'>Only showing sprints in development</div>
  <ul>
  {% for p in projects_with_fully_scheduled_hours  %}
    <li>
      <a class="tooltip_anchor" href="#" onclick="t_calendar.activate_project_for_scheduling({{p.id}}); return false">
          {{ p.long_name }}
      </a>
      <div class="hover_tooltip" style="display:none">
        {% include "timepiece/calendar/_scheduled_sprint_tooltip.html" %}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<button class="btn btn-primary" onclick="t_calendar.refresh_sprint_schedules(); return false">Refresh schedules</button>

{% if projects_with_fully_scheduled_hours|length > 0 %}
<a class="btn btn-secondary" href="#" onclick="$(this).parent().find('.fully_scheduled_sprints').toggle(); $(this).hide();">show fully scheduled sprints<br/></a>
{% endif %}

