{% extends "timepiece/base.html" %}
{% load bootstrap3 %}

{% block extrajs %}

  <script>
    t_config = { 'calendar_events_url': "{% url 'calendar_events' %}",
                 'create_calendar_event_url': "{% url 'create_calendar_event' %}",
                 'update_calendar_event_url': "{% url 'update_calendar_event' 999999 %}" };
  </script>

  <script src="{{STATIC_URL}}fullcalendar/lib/moment.min.js"></script>
  <script src="{{STATIC_URL}}fullcalendar/lib/jquery-ui.custom.min.js"></script>
  <script src="{{STATIC_URL}}fullcalendar/fullcalendar.min.js"></script>

  <script src="{{STATIC_URL}}timepiece/js/timepiece_calendar.js"></script>
  


{% endblock %}

{% block extracss %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}fullcalendar/fullcalendar.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}timepiece/css/timepiece_fullcalendar.css" />
  <link href='{{ STATIC_URL }}fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block content %}

<div id='calendar'></div>

<hr/>
<form class="creation_form" method="POST" action="{% url 'create_calendar_event'%}">
  {% csrf_token %}

  <h2>Active for new events</h2>

  <div class='form-group{% if form_new_event.errors.project %} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Sprint</h3>
    </div>
    <div class="col-md-6">
          {{ form_new_event.project }}
    </div>
  </div>

  <div class='form-group{% if form_new_event.errors.user%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>User</h3>
    </div>
    <div class="col-md-6">
          {{ form_new_event.user }}
    </div>
  </div>

  <div class='form-group{% if form_new_event.errors.hours%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Hours</h3>
    </div>
    <div class="col-md-6">
          {{ form_new_event.hours }}
    </div>
  </div>
  
</form>

<hr/>

<form class="event_edit_form" method="POST" style="display:none" action="{% url 'update_calendar_event' 999999 %}">
  {% csrf_token %}
  
  <h2>Edit event</h2>

  <input type="hidden" name="event_id"/>
  
  <div class='form-group{% if update_form.errors.user%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>User</h3>
    </div>
    <div class="col-md-6">
          {{ update_form.user }}
    </div>
  </div>

  <div class='form-group{% if update_form.errors.project %} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Project</h3>
    </div>
    <div class="col-md-6">
          {{ update_form.project }}
    </div>
  </div>

  <div class='form-group{% if update_form.errors.hours %} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Hours</h3>
    </div>
    <div class="col-md-6">
          {{ update_form.hours }}
    </div>
  </div>

  <div class='form-group'>
    <div class="col-md-6">
      <input class="btn btn-primary" type="submit" value="Save" onclick="t_calendar.update_event(this); return false;" />
      <input class="btn btn-secondary" type="submit" value="Cancel" onclick="$(this).parents('form').hide(); return false;" />
    </div>
  </div>

</form>

<form class="filter_form" method="GET" action="{% url 'calendar'%}">
  
  {% csrf_token %}

  <h2>Filter</h2>

  <div class='form-group{% if filter_form.errors.users%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Users</h3>
    </div>
    <div class="col-md-6">
          {{ filter_form.users }}
    </div>
  </div>

  <div class='form-group{% if filter_form.errors.businesses %} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Projects</h3>
    </div>
    <div class="col-md-6">
          {{ filter_form.businesses }}
    </div>
  </div>

  <div class='form-group'>
    <div class="col-md-6">
      <input class="btn btn-primary" type="submit" value="Filter" onclick="t_calendar.refresh(); return false;" />
    </div>
  </div>
  
</form>

{% endblock %}
