{% extends "timepiece/base.html" %}
{% load bootstrap3 %}

{% block extrajs %}

  <script>
    t_config = { 'calendar_events_url': "{% url 'calendar_events' %}" };
  </script>

  <script src="{{STATIC_URL}}fullcalendar/lib/moment.min.js"></script>
  <script src="{{STATIC_URL}}fullcalendar/lib/jquery-ui.custom.min.js"></script>
  <script src="{{STATIC_URL}}fullcalendar/fullcalendar.min.js"></script>

  <script src="{{STATIC_URL}}timepiece/js/timepiece_calendar.js"></script>
  


{% endblock %}

{% block extracss %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}fullcalendar/fullcalendar.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}timepiece/css/timepiece_fullcalendar.css" />
  <link href='{{ STATIC_URL }}fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block content %}

<form class="filter_form" method="GET" action="{% url 'calendar'%}">
  
      {% csrf_token %}

  <div class='form-group{% if filter_form.errors.users%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Users</h3>
    </div>
    <div class="col-md-6">
          {{ filter_form.users }}
    </div>
  </div>

  <div class='form-group{% if filter_form.errors.sprints%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Sprints</h3>
    </div>
    <div class="col-md-6">
          {{ filter_form.projects }}
    </div>
  </div>

  <div class='form-group{% if filter_form.errors.active_sprint%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Active Sprint</h3>
    </div>
    <div class="col-md-6">
          {{ filter_form.active_project }}
    </div>
  </div>

  <div class='form-group{% if filter_form.errors.active_user%} has-error{%endif%}'>
    <div class="col-md-6">
          <h3>Active User</h3>
    </div>
    <div class="col-md-6">
          {{ filter_form.active_user }}
    </div>
  </div>

  <div class='form-group'>
    <div class="col-md-6">
      <input class="btn btn-primary" type="submit" value="Filter"/>
    </div>
  </div>
  
</form>

<div id='calendar'></div>

{% endblock %}
