
#calendar {
    width: 70%;
    float:left;
}

#floating_menus {
    float:right;
}

.event_edit_form, .event_create_form {
    position: fixed;
    top: 10%;
    left: 40%;
    padding: 5px;
    border: 1px solid #000000;
    z-index:999;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 8px 2px #555555;
    -webkit-box-shadow: 0px 0px 8px 2px #555555;
    box-shadow: 0px 0px 8px 2px #555555;
}

#floating_menus .box {
    padding: 30px;
    border: 1px solid #000000;
}

ul {
    margin-left: 0;
    list-style: none;
}

li.project_unscheduled a {
    color: #550000;
}

.hover_tooltip {
    z-index: 999;
    position: absolute;
    background: #ffffff;
    padding:5px;
    border: 1px solid #000000;
    -moz-box-shadow: 0px 0px 8px 2px #555555;
    -webkit-box-shadow: 0px 0px 8px 2px #555555;
    box-shadow: 0px 0px 8px 2px #555555;
    
}

#floating_menus .col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.tip {
    font-size: 9px;
    font-style: italic;
}

.event_status_cancelled {
    text-decoration: line-through
}

.event_status_done {
    background-image: url('../../images/icons/tick.png');
    background-repeat: no-repeat;
    background-position: right;
}

.event_overdue {
    background-image: url('../../images/icons/cross.png');
    background-repeat: no-repeat;
    background-position: right;

}

.event_status_done {
    background-image: url('../../images/icons/tick.png');
    background-repeat: no-repeat;
    background-position: right;
}

.event_type_holder {
    background-repeat: no-repeat;
    background-position: right;
    height:16px;
    width:16px;
    position:absolute;
    top: 0px;
    right: 0px;
}

.event_type_actual {
    /*background-image: url('../../images/icons/tick.png');*/
}

.event_type_planned {
    background-image: url('../../images/icons/event_type_planned.png');
}

.event_type_meeting {
    background-image: url('../../images/icons/event_type_meeting.png');
}

.event_type_leave {
    background-image: url('../../images/icons/event_type_leave.png');
}

.event_type_sickday {
    background-image: url('../../images/icons/event_type_sick.png');
}

.event_type_office_closed {
    background-image: url('../../images/icons/event_type_office_closed.png');
}

.event_type_personal {
    /*background-image: url('../../images/icons/tick.png');*/
}

.event_type_deadline {
    background-image: url('../../images/icons/event_type_deadline.png');
}
