
body {
    color: #666;
    font: 13px Verdana, sans-serif;
    width: 100%;
    background: #efefef;

}

.error {
    color: #ff4444;
    font-size: 14px;
    border: 1px solid #ff4444;
    padding: 5px;
}

.header img {
    width: 200px;
}

.menu {
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
    margin-bottom: 10px;
    border-bottom: 1px solid #212121;
}

input {
    width: 300px;
}

.flush {
    clear: both;
}

.menu ul {
    position: relative;
}

.menu li {
    float: left;
    padding: 10px;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    padding: 4px;
    background: #afafaf;
    border: solid 1px #565656;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.menu li a:hover {
    border-bottom: 1px solid #232323;
    background-color: #cccccb;
}

.menu li.admin {
    float: right;
}

.content {
    clear: both;
}

.timesheet_entries {
    border: 1px solid #bbbbbb;
}

table.issues_clocktable {
}

.issues_clocktable td, .issues_clocktable th {
    border-left: 1px solid #bbbbbb;
    padding-left: 5px;
}
