{% extends "timepiece/graphs/base.html" %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}
{% block content %}

<h2>
  Graphs
  {% include "timepiece/graphs/_date_filter_msg.html" %}
</h2>

    <form class="form-inline" accept-charset='UTF-8' method='get' action='{% url 'daily_graph' default_user_id %}'>
	  {% if date_form.errors %}
	   {% for e in date_form.errors.values %} 
	    {{ e }}
	   {% endfor %}
	  {% endif %}
	  {{ date_form.from_date.label }}: {{ date_form.from_date }}
	  {{ date_form.to_date.label }}: {{ date_form.to_date }}
	  <button type='submit' class="btn" name='submit'>Filter Dates</button>
    </form>

  <div class="row-fluid">
    <div class="span12">
      {% date_filters %}
     </div>
  </div>

  {% for user,days_hours in daily_hours.items %}
  <table width="100%">

    <tr>
      <th>{{user}}</th>
    </tr>
    <tr>
      <td colspan="5">
        <div class="toggle_section">
          <div class="toggle_title btn" onclick="$(this).parent().find('.toggle_content').toggle();return false;">Show hours for {{user}}</div>
          <div class="toggle_content" style="display:none">
              Daily hours for {{user}}
              <table border="1">
                {% for event in days_hours.daily_hours_by_project %}
                <tr>
                  <td style="padding:5px">{{event.on_day|date:"d-M-Y (D)"}}</td>
                  <td style="padding:5px">{{event.issue__project__business__name}}</td>
                  <td style="padding:5px">{{event.issue__project__name}}</td>
                  <td style="padding:5px">{{event.total_hours}}</td>
                </tr>
                {% endfor %}
              </table>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td width="100%">
        <div id="graph{{user}}" style="width:100%;height:300px"></div><br /><br />
      </td>

    </tr>
  </table>


  {% endfor %}

<script>
 $(document).ready(
     function() {

         var colours = ['orange', 'green', 'blue', 'indigo', 'red', 'purple'];
         

                 {% for user,values in daily_hours.items %} 

                 $.plot($("#graph{{user}}"),
			[ 
			  { label:"hours",
                            data: [ {% for date, hours in values.daily_hours.items %} 
                                                    [ {{date|epoch}},{{hours}}], {% endfor %} ],
			    //lines: {show: true, steps: true, fill: true},
                            bars: {
                              barWidth: 24 * 60 * 60 * 1000,
                              align: "center",
                              horizontal: false
                            },
                            points: {show: false},
			  },
                            { label:"sickdays",
                              data: [ {% for entry in values.sick_days %} 
                                  [ {{entry.start|epoch}},{{entry.hours}}], {% endfor %} ],
                              lines: {show: false, steps: false, fill: true},
                              bars: {
                                  show:  true,
                                  barWidth: 24 * 60 * 60 * 1000,
                                  align: "center",
                                  horizontal: false
                              },
                              points: {show: false},
                            },
                            { label:"leave",
                              data: [ {% for entry in values.leave_days %} 
                                  [ {{entry.start|epoch}},{{entry.hours}}], {% endfor %} ],
                              lines: {show: false, steps: true, fill: true},
                              bars: {
                                  show: true,
                                  barWidth: 24 * 60 * 60 * 1000,
                                  align: "center",
                                  horizontal: false
                              },
                              points: {show: false},
                            },
                            { label:"public_holidays",
                              data: [ {% for entry in values.public_holidays %} 
                                  [ {{entry.start|epoch}},{{entry.hours}}], {% endfor %} ],
                              lines: {show: false, steps: true, fill: true},
                              bars: {
                                  show: true,
                                  barWidth: 24 * 60 * 60 * 1000,
                                  align: "center",
                                  horizontal: false
                              },
                              points: {show: false},
                            },
			  { label:"weekly average",
                            data: [ {% for date, hours in values.weekly_average.items %} 
                                                    [ {{date|epoch}},{{hours}}], {% endfor %} ],
			    lines: {show: true, steps: false, fill: false},
                            //points: {show: false},
			  },
			],
			{
			  xaxis: { 
			    mode: "time",
                            tickSize: [1, "day"],
                            rotateTicks: 90,
			    timeformat: "%a %d %b %y",
                            {% if from_date %}
                            min: {{from_date|epoch}},
                            {% endif %}
                            {% if to_date %}
                            max: {{to_date|epoch}},
                            {% endif %}
			  },
                          yaxis: {
                            tickSize: 1,
                          },
                          grid: {markings: [{yaxis: {from: 8, to:8}, color: "#adff2f"}]},
                          legend: { position: "nw" },
			  bars: {
			    show: true
			  },
                            colors: colours
			}
                 );
                 {% endfor %}
               });


</script>

{% endblock %}

