{% extends "timepiece/graphs/base.html" %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}
{% block content %}

<script>
  plot_charts = [
  {% for user,days_hours in daily_hours %} 
  {data: [ {%spaceless%} 
		   { label:"{{user}}", 
		     data: [ {% for date, hours in days_hours %} 
		                [ {{date|epoch}},{{hours}}], {% endfor %} ],
		     lines: {show: true, steps:true},
		     {# points: {show: true}, #}
	           },
	       {%endspaceless%}
	     ],
  options: {xaxis: {mode: "time",
                    {% if from_date %}
                     min: {{from_date|epoch}},
                    {% endif %}
                   {% if to_date %}
                     max: {{to_date|epoch}},
                    {% endif %}
                   timeformat: "%d %b %y",
		   },
	    grid: {markings: [{yaxis: {from: 8, to:8}, color: "#adff2f"}]}},
   divid: "#graph{{user}}",
   },

   {% endfor %}
   ];

</script>

<h2>
  Graphs
  {% include "timepiece/graphs/_date_filter_msg.html" %}
</h2>

    <form class="form-inline" accept-charset='UTF-8' method='get' action='{% url daily_graph %}'>
	  {% if date_form.errors %}
	   {% for e in date_form.errors.values %} 
	    {{ e }}
	   {% endfor %}
	  {% endif %}
	  {{ date_form.from_date.label }}: {{ date_form.from_date }}
	  {{ date_form.to_date.label }}: {{ date_form.to_date }}
	  <button type='submit' class="btn" name='submit'>Filter Dates</button>
    </form>

<div class="row-fluid">
  <div class="span12">
    {% date_filters %}
   </div>
</div>

{% for user,days_hours in daily_hours %}
<table width="100%">
  

  <tr>
    <th>{{user}}</th>
  </tr>
  <tr>
    <td colspan="5">
      <div class="toggle_section">
        <div class="toggle_title btn" onclick="$(this).parent().find('.toggle_content').toggle();return false;">Show hours for {{user}}</div>
        <div class="toggle_content" style="display:none">
            Daily hours for {{user}}
            <table border="1">
              {% for date, hours in days_hours %}
              <tr>
                <td style="padding:5px">{{date|date:"d-m-Y (D)"}}</td>
                <td style="padding:5px">{{hours}}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td width="100%">
      <div id="graph{{user}}" style="width:100%;height:300px"></div><br /><br />
    </td>

  </tr>
</table>


{% endfor %}

{% endblock %}

