{% extends "timepiece/graphs/base.html" %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}
{% block content %}

<script>
  plot_charts = [
  {
  divid: "#graph",
  data : [ {%spaceless%} 
                 {% for serie in series %} 
		   { label:"{{serie.label}}", 
		     data: [ {% for entry in serie.entries %} 
		             [ {{entry.start_time|epoch}}, 
			       {{entry.graph_value}},
			     ], {% endfor %} 
			   ],
	             yaxis: {{serie.yaxis}}
	           },
		 {% endfor %} 
	       {%endspaceless%}
	     ],
  options : { xaxis: {
		    mode: "time",
		    {% if from_date %}
		      min: {{from_date|epoch}},
                    {% endif %}
		    {% if to_date %}
		      max: {{to_date|epoch}},
                    {% endif %}
		    timeformat: "%d %b %y",

		},
		yaxes: [
		    { }, 
		    { position: "right",
		      tickFormatter: function formatter(val, axis) {

		                        if (Math.abs(val) >= 1000000)
					  return "R" + (val / 1000000).toFixed(axis.tickDecimals) + " Mil";
					else if (Math.abs(val) >= 1000)
					  return "R" + (val / 1000).toFixed(axis.tickDecimals) + " thousand";
					else
					  return "R" + val.toFixed(axis.tickDecimals);

			             }}
		    ],
		legend: { position: "se" }
	      },

  bar_data : [ {%spaceless%} 
		     {% for serie in series %} 
		       { label:"{{serie.label}}", 
			 data: [ {% for entry in serie.entries %} 
				 [ {{entry.start_time|epoch}}, 
				   {{entry.bar_value}},
				 ], {% endfor %} 
			       ],
			 yaxis: {{serie.yaxis}}
		       },
		     {% endfor %} 
		   {%endspaceless%}
		 ],
  bar_options : { xaxis: {
			mode: "time",
			{% if from_date %}
			  min: {{from_date|epoch}},
			{% endif %}
			{% if to_date %}
			  max: {{to_date|epoch}},
			{% endif %}
			timeformat: "%d %b %y",

		    },
		    yaxes: [
			{ }, 
			{ position: "right",
			  tickFormatter: function formatter(val, axis) {

					    if (Math.abs(val) >= 1000000)
					      return "R" + (val / 1000000).toFixed(axis.tickDecimals) + " Mil";
					    else if (Math.abs(val) >= 1000)
					      return "R" + (val / 1000).toFixed(axis.tickDecimals) + " thousand";
					    else
					      return "R" + val.toFixed(axis.tickDecimals);

					 }}
			],
		    legend: { position: "se" },
		    bars: {
		        show: true
		    }
		  },}]

		  
</script>

<h2>
  Graphs
  {% include "timepiece/graphs/_date_filter_msg.html" %}
</h2>

<div class="row-fluid">
  <div class="span12">
    {% date_filters %}
  </div>
</div>

<table width="100%">
  <tr>
    <td>

      <form method="GET" action="{% url 'graphs' %}">
	{% csrf_token %}
	{{ date_form.as_p }}
	{{ search_filt }}
	<input type="submit" value="generate"/>
      </form>
    </td>
    <td width="100%">
      <div id="graph" style="width:100%;height:300px"></div>
    </td>

  </tr>
</table>

{% endblock %}

