{% extends "timepiece/graphs/base.html" %}
{% load timepiece_tags bootstrap_toolkit %}
{% block content %}

<script>
  var imp = imp || {};
  imp.data = [ {% for serie in series %} { label:"{{serie.label}}", data: [ {% for entry in serie.entries %} [{{entry.start_time|epoch}}, {{entry.hours}}], {% endfor %} ] } {% endfor %} ] ;
</script>

<h2>Graphs</h2>

<div class="row-fluid">
  <div class="span12">
    {% date_filters %}
  </div>
</div>

from <strong>{{from_date}}</strong> to <strong>{{to_date}}</strong>

<div id="graph" style="width:100%;height:300px"></div>

{% endblock %}

