{% extends "timepiece/graphs/base.html" %}
{% load url from future %}
{% block title %}Income{% endblock %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% load humanize %}

{% block content %}

<h2>
  Income summary
  {% include "timepiece/graphs/_date_filter_msg.html" %}
</h2>

<form class="form-inline" accept-charset='UTF-8' method='get' action='{% url 'daily_graph' %}'>
	  {% if date_form.errors %}
	   {% for e in date_form.errors.values %} 
	    {{ e }}
	   {% endfor %}
	  {% endif %}
	  {{ date_form.from_date.label }}: {{ date_form.from_date }}
	  {{ date_form.to_date.label }}: {{ date_form.to_date }}
	  <button type='submit' class="btn" name='submit'>Filter Dates</button>
    </form>

  <div class="row-fluid">
    <div class="span12">
      {% date_filters %}
     </div>
  </div>

  <div class="income_summary">

    <div class="tabular">

      <div class="tabular_item">
        <h1>Income based on hours worked per user</h1>
        <table>
          <thead>
            <th></th>
            <th>hours</th>
            <th>ctc</th>
            <th>billable</th>
          </thead>
          <tbody>

            {% for username, amounts in per_user.items %}
            <tr>
              <td>{{username}}</td>
              <td>{{amounts.hours|floatformat:"0"|intcomma}}</td>
              <td>R{{amounts.ctc|floatformat:"0"|intcomma}}</td>
              <td>R{{amounts.billable|floatformat:"0"|intcomma}}</td>
            </tr>
            {% endfor %}

            <tr>
              <th>Total</th>
              <th></th>
              <th>R{{ctc_total|floatformat:"0"|intcomma}}</th>
              <th>R{{billable_total|floatformat:"0"|intcomma}}</th>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="tabular_item">
      <h1>Income based on hours worked per business</h1>
        <table>
          <thead>
            <th></th>
            <th>hours</th>
            <th>ctc</th>
            <th>billable</th>
          </thead>
          <tbody>

            {% for business_name, amounts in per_business.items %}
            <tr>
              <td>{{business_name}}</td>
              <td>{{amounts.hours|floatformat:"0"|intcomma}}</td>
              <td>R{{amounts.ctc|floatformat:"0"|intcomma}}</td>
              <td>R{{amounts.billable|floatformat:"0"|intcomma}}</td>
            </tr>
            {% endfor %}

            <tr>
              <th>Total</th>
              <th></th>
              <th>R{{ctc_total|floatformat:"0"|intcomma}}</th>
              <th>R{{billable_total|floatformat:"0"|intcomma}}</th>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="tabular_item">
        <h1>Income based on hours worked per user broken down by business</h1>
        <table>
          <thead>
            <th></th>
            <th>hours</th>
            <th>ctc</th>
            <th>billable</th>
          </thead>
          <tbody>

            {% for key, amounts in per_user_per_business.items %}
            <tr>
              <td>{{key}}</td>
              <td>{{amounts.hours|floatformat:"0"|intcomma}}</td>
              <td>R{{amounts.ctc|floatformat:"0"|intcomma}}</td>
              <td>R{{amounts.billable|floatformat:"0"|intcomma}}</td>
            </tr>
            {% endfor %}

            <tr>
              <th>Total</th>
              <th></th>
              <th>R{{ctc_total|floatformat:"0"|intcomma}}</th>
              <th>R{{billable_total|floatformat:"0"|intcomma}}</th>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="tabular_item">
        <div style="clear:both"></div>
        <h1>Income based on invoices sent</h1>
        <table>
          <thead>
            <th>#</th>
            <th>project</th>
            <th>date</th>
            <th>amount</th>
            <th></th>
          </thead>
          <tbody>

            {% for invoice in invoices_sent %}
            <tr>
              <td>{{invoice.invoice_number}}</td>
              <td>{{invoice.project.business}} - {{invoice.project}}</td>
              <td>{{invoice.date_sent}}</td>
              <td>R{{invoice.amount|floatformat:"0"|intcomma}}</td>
              <td>{{invoice.description}}</td>
            </tr>
            {% endfor %}

            <tr>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>R{{invoices_sent_total|floatformat:"0"|intcomma}}</th>
              <th></th>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="tabular_item">
        <div style="clear:both"></div>
        <h1>Income based on invoices paid</h1>
        <table>
          <thead>
            <th>#</th>
            <th>project</th>
            <th>date</th>
            <th>amount</th>
            <th></th>
          </thead>
          <tbody>

            {% for invoice in invoices_paid %}
            <tr>
              <td>{{invoice.invoice_number}}</td>
              <td>{{invoice.project.business}} - {{invoice.project}}</td>
              <td>{{invoice.date_sent}}</td>
              <td>R{{invoice.amount|floatformat:"0"|intcomma}}</td>
              <td>{{invoice.description}}</td>
            </tr>
            {% endfor %}

            <tr>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>R{{invoices_paid_total|floatformat:"0"|intcomma}}</th>
              <th></th>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="graphs">
      <div class="graph">
        <h1>ctc per user</h1>
        <div id="ctc_per_user_graph" style="height:300px;width:300px;"></div>
        <div style="clear:both"></div>
      </div>
      <div class="graph">
        <h1>billable per user</h1>
        <div id="billable_per_user_graph" style="height:300px;width:300px;"></div>
        <div style="clear:both"></div>
      </div>
      <div class="graph">
        <h1>ctc per business</h1>
        <div id="ctc_per_business_graph" style="height:300px;width:300px;"></div>
        <div style="clear:both"></div>
      </div>
      <div class="graph">
        <h1>billable per business</h1>
        <div id="billable_per_business_graph" style="height:300px;width:300px;"></div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>

  <script>

  plot_charts = null;
  $.plot("#ctc_per_user_graph",
         [ {%spaceless%} 
             {% for username,amounts in per_user.items %} 
               { label:"{{username}}", 
                 data: {{amounts.ctc}}
               },
             {% endfor %} 
           {%endspaceless%}
         ],
         { series: { pie: { show: true } },
           legend: { show: false} } );

  $.plot("#billable_per_user_graph",
         [ {%spaceless%} 
             {% for username,amounts in per_user.items %} 
               { label:"{{username}}", 
                 data: {{amounts.billable}}
               },
             {% endfor %} 
           {%endspaceless%}
         ],
         { series: { pie: { show: true } },
           legend: { show: false} } );

  $.plot("#ctc_per_business_graph",
         [ {%spaceless%} 
             {% for business_name,amounts in per_business.items %} 
               { label:"{{business_name}}", 
                 data: {{amounts.ctc}}
               },
             {% endfor %} 
           {%endspaceless%}
         ],
         { series: { pie: { show: true } },
           legend: { show: false} } );

  $.plot("#billable_per_business_graph",
         [ {%spaceless%} 
             {% for business_name,amounts in per_business.items %} 
               { label:"{{business_name}}", 
                 data: {{amounts.billable}}
               },
             {% endfor %} 
           {%endspaceless%}
         ],
         { series: { pie: { show: true } },
           legend: { show: false} } );


  </script>


{% endblock %}