{% extends "timepiece/base.html" %}

{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block title %}Quick clocker{% endblock %}

{% block content %}

<h1>Quick Clocker</h1>

<p>
This page is useful for clocking management tasks. 
</p>
<p>
Developers should not need to use this page, rather use the emacs importer
</p>

<div class="quick_clocker">

  <div class="pane">
    <form method="POST" action="{% url 'quick_clocker' %}">
      {% csrf_token %}
      {{ clock_in_form.errors }}
      <div style="float:left">

        <h3>User</h3>
        {{ clock_in_form.user }}

      </div>

      <div style="float:left">
        <h3>Project</h3>
        {{ clock_in_form.business }}
        
      </div>

      <input type="submit" value="Clock in"/>

    </form>
  </div>

  <div class="pane">
    <h3>Currently clocked in</h3>
    <form method="POST" action="{% url 'quick_clocker_clock_out' %}">
      {% csrf_token %}
      {{ clock_out_form.errors }}
      {{ clock_out_form }}
      <input type="submit" name="clock_out" value="Clock out"/>
    </form>
  </div>


  <div class="pane">
    <h3>Recently clocked out</h3>
    <table>
      <thead>
        <th>User</th>
        <th>Start</th>
        <th>End</th>
        <th>Project</th>
        <th>Hours</th>
      </thead>
      {% for entry in recently_clocked_out_entries %}
      <tr>
        <td>{{entry.user.username}}</td>
        <td>{{entry.start_time|date:"D H:i"}}</td>
        <td>{{entry.end_time|date:"D H:i"}}</td>
        <td>{{entry.issue.project.long_name}}</td>
        <td>{{entry.hours}}</td>
        <td>
          <a href="{% url 'quick_clocker_edit_entry' entry.id %}">
            <img src="{{STATIC_URL}}images/icons/pencil.png"/>
          </a>
          <a onclick="if ( ! confirm('Are you sure you want to delete this clock entry?') ) { return false; }" href="{% url 'quick_clocker_delete_entry' entry.id %}">
            <img src="{{STATIC_URL}}images/icons/delete.png"/>
          </a>
        </td>
      </tr>
      {% empty %}
      <i>No recently clocked out entries</i>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}