{% extends "timepiece/base.html" %}

{% load humanize %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}

{% block title %}Cost summary for {{business}}{% endblock %}

{% block content %}

<br/>
<a class="btn button button-info" href="{% url 'quick_clocker' %}">back to clocker page</a>
<hr/>
<h1>
  Edit quick clocker entry
</h1>

<br/>
<div class="quick_clocker">

  <div class="pane">
    User: {{ entry.user.username}}
    <br/>
    Project: {{ entry.issue.project.long_name }}
    <br/>
    Hours: {{ entry.hours }}
  </div>

  <div class="pane">
    <form method="POST" action="{% url 'quick_clocker_edit_entry' entry.id %}">
      {% csrf_token %}
      {{ form.errors }}
      <br/>
      {{ form }}

      <br/>
      <input type="submit" value="Save"/>

    </form>
  </div>


</div>
{% endblock %}