{% extends "timepiece/base.html" %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}
{% load static %}

{% block extrajs %}
    <script src="{% static 'bootstrap/js/bootstrap-tab.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_person_time_sheet' user.pk %}">Summary</a></li>
{% endblock crumbs %}

{% block title %}
    {% if timesheet_user.get_full_name %}
        {{ timesheet_user.get_full_name }}'s
    {% else %}
        {{ timesheet_user.username }}'s
    {% endif %}
    Time Sheet
{% endblock %}
 
{% block content %}

    {% for business in current_businesses %}
      <div  id="b_card_{{business.id}}">
        <img class="loading" src="{% static 'images/icons/loadingAnimation.gif' %}"/>
      </div>
    {% endfor %}

    <div style="clear:both"></div>
    {% if old_businesses %}
      <hr/>
      {% for business in old_businesses %}
        <div  id="b_card_{{business.id}}">
          <img class="loading" src="{% static 'images/icons/loadingAnimation.gif' %}"/>
        </div>
      {% endfor %}
    {% else %}
        <a href="{% url 'view_older_summary' request.user.pk %}">Show older projects</a>
    {% endif %}

    <script>
    setTimeout(function() {
    {% for business in current_businesses %}
          $("#b_card_{{business.id}}").load("{% url 'get_project_card'  business_id=business.id  %}")
        {% endfor %}  

        {% for business in old_businesses %}
          $("#b_card_{{business.id}}").load("{% url 'get_project_card'  business_id=business.id  %}")
        {% endfor %}  
    }, 100);
     </script>

    <div style="display:none">
      <div class="project_card_dialog_container">
        <div class="dialog_content"></div>
      </div>
    </div>


{% endblock %}
