{% extends "timepiece/base.html" %}
{% load timepiece_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_person_time_sheet' user.pk %}">Summary</a></li>
{% endblock crumbs %}

{% block title %}
    {% if timesheet_user.get_full_name %}
        {{ timesheet_user.get_full_name }}'s
    {% else %}
        {{ timesheet_user.username }}'s
    {% endif %}
    Time Sheet
{% endblock %}
 
{% block content %}

 
    {% for business in businesses %}
     {% if business.id %}
     <div class='breadcrumb' style="float:left" id="b_card_{{business.id}}">        
     </div>
     {% endif %}

     {% endfor %}  


     <script>
    {% for business in businesses %}
     {% if business.id %}
       $("#b_card_{{business.id}}").load("{% url 'get_project_card'  business_id=business.id  %}")
     {% endif %}

     {% endfor %}  
       
     </script>

{% endblock %}
