body.slideshow {
    background-color: #efefef;
}

body.slideshow .time_chart {
    padding: 30px;
    border: 1px solid #ababab;
}

.timesheet_graph_container {
    height: 150px;
    width: 50%;
}

body.slideshow .available_hours {
    font-size:7px;
}

.project {
    margin: 0px 0px 3em 0px;
}

.project_legend {
    width: 100px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    float: left;
    text-align: center;
}