{% extends "timepiece/business/base.html" %}
{% load url from future %}
{% block title %}Edit Jira Settings{% endblock %}
{% load bootstrap_toolkit %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span>
	<a href="{% url 'edit_business' business.id %}">Edit Business</a>
    </li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Edit {{business.name}} jira settings</h2>

            <br style="clear: both;" />

            <form id="edit-jira-settings" class="form-horizontal" action="" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Save" name="submit">
                    <a class="btn" href="{% url 'edit_business' business.id %}">Back to {{business.name}}</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
