
{% if cp.active_command %}
<h2>Active command: {{ cp.active_command }}</h2>
<table class="table striped">
  {% for parameter in parameters.values %}
  <tr>
    <td>{{ parameter.name }}</td>
    <td>{{ parameter.human_readable_parameter_value|default:"Not set"|default_if_none:"Not set" }}</td>
    <td>{{ parameter.pattern }}</td>
  </tr>
  {% endfor %}
</table>
<hr/>

{% elif ambiguous_commands %}
There were multiple possible commands, please be more specific:
<ul>
  {% for cmd in ambiguous_commands %}
  <li>{{cmd.name}}</li>
  {% endfor %}
</ul>
<hr/>

{% endif %}

{% if not cp.active_command and result.status == 'no_match' %}
<div class="error">No command found</div>
<hr/>
{% elif result.status == 'error' %}
<div class="error">{{ result.exception }}</div>
{% elif result.status == 'executed' %}
Command executed : {{ result.result.msg }}
{% elif result.status == 'failed to execute' %}
Command execution failed : {{ result.exception }}
<hr/>
{% endif %}

<hr/>

<div class="noui_form">
  <form method="POST" action='{% url 'noui:command' %}'>
    {{ prompt.prompt }}
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Process"/>
  </form>
</div>

<div class="tip">
  Type in any command to start. Then enter parameters. Once all parameters are valid, type "go" to run the command.
</div>

<div class="noui_form">
  <form method="POST" action='{% url 'noui:command_context_reset' %}'>
    <input type="submit" value="Reset parameters"/>
  </form>
</div>

{{ values }}

<script>
  imp.nav.hookup_noui_form();
</script>