<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>ImpTime Dev</title>
    <meta charset="utf-8" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{#    <link href='{% static 'css2/roboto.css' %}' rel='stylesheet' type='text/css'>#}
{#    <link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/imptime.css' %}"/>
  </head>
  <body>
    <div class="container">
      <div id="root">
      </div>
    </div>
    <script src="{% static 'js/imptime.js' %}"></script> 
  </body>
</html>
