.project_graph_container {
    height: 150px;
    width: 50%;
    background-color: #efefef;
}

.payments--headers {
    width: 50%;
    height: 40px;
}

.payments--header {
    margin-right: 10px;
    float: left;
}

.payments--header-button {
    float: left;
}

.quote__issue-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quote__issue-image{
    position: relative;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
}
