<html>
  <body style="font-family:Verdana, Geneva, sans-serif;" align="center">
    <table width="80%" align="center">
      <tr align="right">
        <td colspan="3">
          <h1 style="padding-top:20px; padding-right:20px">ImpTime</h1>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr/><br/>
        </td>
      </tr>
      <tr align="left">
        <td width="25%">
        </td>
        <td width="50%">
    {% block content %}
    {% endblock %}
        </td>
        <td width="25%">
        </td>
      </tr>
      <tr>
        <td>
          <br/>
        </td>
      </tr>
      <tr align="left">
        <td>
          Thank you,
        </td>
      </tr>
      <tr align="left">
        <td>
          ImpTime Team
        </td>
      </tr>
      <tr align="left">
        <td>
          <a href="mailto:info@imptime.com" style="color:black;">info@imptime.com</a></h3>
        </td>
      </tr>
    </table>
  </body>
</html>
