@import 'variables';

.button {
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.button--default {
  font: $font-3;
  height: 32px;
}

.button--large {
  font: $font-2;
  height: 40px;
}

.button__icon {
  display: inline-flex;
  padding-right: 6px;
  vertical-align: middle;
}

.button__text {
  display: inline-flex;
  font: $font-3;
  vertical-align: middle;
}

.button--primary {
  background-color: $color-5;
  color: $color-2;
  padding-left: 36px;
  padding-right: 36px;
}
