@import 'variables';
@import 'project';
@import 'sprint';
@import 'issue';

.devpage__workarea {
    .issue_list {
	width: 50%;
	float: left;
    }
    .issue_developer_details {
	width: 50%;
	float: right;
    }
}
