@import 'variables';

.header_bar {
    vertical-align: middle;
    min-width: 600px;
    width: 100%;
    text-align: left;
    background-color: #322f36;
    min-height: 90px;
}

.header_bar__inner {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.header_bar__logo {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    color: #ffffff;
    line-height: 70px;
    background-image: url('../images2/logo_header.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 10px;

    a {
	color: #ffffff;
	text-decoration: none;
    }
}

