@import 'variables';

.header_bar {
    vertical-align: middle;
    min-width: 600px;
    width: 100%;
    text-align: left;
    background-color: #322f36;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.header_bar__inner {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.header_bar__logo {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    line-height: 50px;
    background-image: url('../images2/logo_header.png');
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 40px;
    padding-top: 0px;
    margin-left: 100px;
    float: left;

    a {
	color: #ffffff;
	text-decoration: none;
    }
}


.notification_bar__error {
    color: #ffdddd;
}

.notification_bar__websockets_connected {
    color: #00ff00;
}

.notification_bar__websockets_disconnected {
    color: #ff0000;
}

