@import 'variables';
@import 'snippets';

.pager .icon {
    cursor: pointer;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    width: 30px;
}

.pager .icon--previous-page {
    background-image: url('../images2/ic_forward_black_18dp.png');
    @include flip-horizontally()
}

.pager .icon--next-page {
    background-image: url('../images2/ic_forward_black_18dp.png');
}
