@import 'variables';

.icon--previous-page {
    background-image: url('../images/ic_forward_white_18dp.png');
    cursor: pointer;
}

.icon--next-page {
    background-image: url('../images/ic_forward_white_18dp.png');
    cursor: pointer;
}
