@import 'variables';

.table {
    background-color: $form-background-color;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    thead tr {
	height: 56px;

	th {
	    border: 0;
	    color: $label-color;
	    font: $bold;
	    height: 20px;
	    vertical-align: middle;
	}

	th:first-child {
	    padding-left: $padding-medium;
	}
    }

    tbody tr td {
	background-color: $table-row-background-color;
	color: $font-color;
	font: $plain;
	vertical-align: middle;
	cursor: pointer;
    }

    tbody tr:first-child td {
	border: 0;
    }

    tbody tr td:first-child {
	padding-left: $padding-medium;
    }

    tbody .tr--selected td {
	background-color: $selection-color;
	height: 48px;
    }

    tbody tr:hover td {
	background-color: $selection-color;
    }

    &.table--default {

	thead tr td {
	    width: auto;
	}

	tbody tr td {
	    height: 48px;
	}

    }

    &.table--compact {
	color: $font-color;
	font: $bold;
	margin-left: 0;

	.tr--selected td {
	    background-color: $secondary-selection-color;
	}

	tr td {
	    height: 40px;
	}

	td:first-child {
	    padding-left: $padding-medium;
	}

	td {
	    line-height: 6px;
	    white-space: nowrap;
	}
    }

}

.filter {

    $width: 100%;
    background-color: $form-background-color;
    box-shadow: inset 0 -1px 0 0 $box-shadow-color;
    display: table;
    height: 48px;
    max-width: $width;
    min-width: $width;
    padding-left: $padding-medium;
    padding-right: $padding-medium;
    width: $width;

    > * {
	display: table-cell;
    }

    * {
	vertical-align: middle;
    }

    .filter__value {

	input {
	    $width: 637px;
	    border: 0;
	    line-height: 30px;
	    padding-bottom: 0;
	    padding-left: 14px;
	    max-width: $width;
	    min-width: $width;
	    width: $width;
	}

    }

    .filter__controls {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
    }

}

.pager {
    background-color: $form-background-color;
    color: $label-color;
    display: table;
    font: $plain;
    margin: 0;
    padding: $padding-medium;
    text-align: right;
    width: 100%;

    > * {
	display: table-cell;
	vertical-align: middle;
    }
}

.pager__last-updated {
    text-align: left;
}

.pager__text {
    padding-right: $padding-medium;
}

.table__no-rows {
    background-color: inherit;
    padding: $padding-large;
    display: block;
    height: 100px;
    width: 100%;
}
