$bold: normal normal 500 12px 'Roboto', sans-serif;
$bold-large: normal normal 500 13px 'Roboto', sans-serif;
$form-action-font: normal normal 500 14px 'Roboto', sans-serif;
$bold-extra-large: normal normal 500 16px 'Roboto', sans-serif;
$bold-extra-larger: normal normal 500 20px 'Roboto', sans-serif;
$plain: normal normal 400 12px 'Roboto', sans-serif;
$plain-large: normal normal 400 14px 'Roboto', sans-serif;
$plain-larger: normal normal 400 15px 'Roboto', sans-serif;
$plain-extra-large: normal normal 400 16px 'Roboto', sans-serif;
$plain-extra-larger: normal normal 400 20px 'Roboto', sans-serif;
$shell-output-font: normal normal 400 13px 'Courier New', serif;

$error-color: red;


