{% load timepiece_tags %}

{% has_permission has_view_budget project.business %}
Overall:
{% if project.has_budget %}
<div class="traffic_bar">
  <div style="width:{{project.stats.percentage_spent}}%" class="{{project.stats.budget_traffic_class}}">
    {% if project.stats.amount_under_budget > 0 %}
    R{{project.stats.amount_under_budget|floatformat:"0"|intcomma}}&nbsp;left
    {% else %}
    R{{project.stats.amount_over_budget|floatformat:"0"|intcomma}}&nbsp;over
    {% endif %}
  </div>
</div>
{% else %}
<div style="color:red">No budget</div>
{% endif %}
{% end_permission %}


{% calculate_role_data user project %}
{% for role_name, data in role_data.items %}
<h2>{{ role_name }}</h2>
<ul>
  <li>Budget :  </li>
</ul>
{% endfor %}

