<div class="product">

  <div class="product_title">
    <h1>Business websites</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="product_content">
    <ul>
      <li>Data capture with custom forms</li>
      <li>Filter and access all your data, exported to Excel</li>
      <li>Replace your spreadsheet-based workflow with an automated system</li>
      <li>Create a dashboard for the health of your business</li>
      <li>Your business accessible anywhere, or just in your office</li>
      <li>Complete ownership of the system, tailored to your exact needs</li>
      <li>Compatible with iOS and Android, as an app or a mobile site</li>
    </ul>
  </div>
</div>