<div class="process">

  <div class="process_title">
    <h1>Long term support</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="process_content">

    Software has a lifetime and needs to be maintained, for example:
    <ul>
      <li>the systems it connects to change and the connections need to be fixed</li>
      <li>the styles of the times change and the solution needs to be kept fresh and relevant</li>
      <li>new requirements and ideas arise which need to be incorporated into the solution</li>
      <li>features which haven't been used for months start to become important and need extra work</li>
      <li>hardware fails</li>
    </ul>

    ImplicitDesign values its client base and we grow with our
    clients. We treat every project as a long term project. 

    Our project process is flexible enough to manage the initial
    intensive development, and the extended support for that system,
    however long or short.

    Part of a stress-free development process is knowing the life of
    the project is assured.

    Where your final solution is an in-house development team, or
    whether you continue to use our services for the life-time of your
    product, we will tailor the sprint management to suit you.

</div>