<div class="product">

  <div class="product_title">
    <h1>Development</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="product_content">
    <ul>
      <li>Bespoke software</li>
      <li>Outsourced developers</li>
      <li>Understand best practice programming</li>
      <li>Time tracked to the minute</li>
      <li>Login to imptime to see up-to-the date issue statuses</li>
      <li>Language agnostic. Each developer has a speciality, and we cross share experiences through code peer reviews</li>
    </ul>
  </div>
</div>