<div class="process">

  <div class="process_title">
    <h1>Sprints and core development</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="process_content">

    <ul>
      <li>Sprints are the lifeblood of the development process. </li>
      <li>They organise everything that has to be done (called issues) into manageable 3 week batches. </li>
      <li>This focuses the attention and provides a continuous reality check.</li>

      <li>Each issue has a time estimate, based on the cost estimate during budgetting.</li>
      <li>Developers clock in and out of issues, with minute-level accuracy.</li>
      <li>On the imptime sprint dashboard you can see the current over- or under- time on each issue and for the sprint as a whole</li>
      <li>Also at any time the total budget under-run or over-run is available</li>
      
      <li>Developers maintain code quality by writing tests</li>
      <li>and running code reviews after each issue.</li>

      <li>We release often and regularly. The first time any code is installable and runnable, it is installed and run so the client can start engaging with it.</li>
      <li>Sprints always achieve at least one visible change and at least milestone target</li>

    </ul>
  </div>
</div>