<div class="process">

  <div class="process_title">
    <h1>Budget</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="process_content">

    <ul>
      <li>each step is given a cost estimate</li>
      <li>which is run through imptime's cost estimate algorithm</li>
      <li>from which we can generate a budget with a high degree of accuracy</li>
      <li>you can choose to work against a quote, or </li>
      <li>let us run a managed-budget, where the feature set is fluid
      but the total budget is maintained. This is a skillful
      operation, only made possible by imptime.</li>
    </ul>

    <ul>
      <li>We can take on any project from R20,000 to R3 million and above</li>
    </ul>
  </div>
</div>