<div class="product">

  <div class="product_title">
    <h1>B2B media</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="product_content">

    including marketing, touch-screen, advertising, and media companies

    We understand the world of fuzzy definitions, uncertain
    requirements and non-technical partners. 

    Graphical design is very personal, very unique and hard to
    reproduce. We work with consultants and specialised design
    companies to ensure that finishing touches that make your solution
    unique.

    We integrate tightly into our partner network and project
    management systems, to ensure that there's no loss of integrity or
    value matching the frontend with the backend.


  </div>
</div>