<div class="process">

  <div class="process_title">
    <h1>Installation and hosting</h1>
    <img width="100px" src="{{ STATIC_URL }}images/icons/implicit_icon.png"/>
  </div>

  <div class="process_content">

    <ul>
      <li>Your software should reside in the correct place.</li>
      <li>We can execute installations in internal office network with firewalls and proxies</li>
      <li>or installations in the cloud, facing the general public</li>
      <li>We can interact directly with your IT department, or handle all the details on your behalf</li>
      <li>For managed up-time systems, we will setup up the IT infrastructure, with database replication, load-balancing, https and fail-over</li>
    </ul>
  </div>
</div>