{% extends "aw/base.html" %}

{% block inner_content %}


  <div class="short_name">
    impd
  </div>

  <div class="long_name">`
    ImplicitDesign

  </div>

  <h2>Products</h2>
  <div class="business_architecture">
    {% include "aw/_product_cto.html" %}
    {% include "aw/_product_bl.html" %}
    {% include "aw/_product_project_management.html" %}
    {% include "aw/_product_development.html" %}
    {% include "aw/_product_business_website.html" %}
    {% include "aw/_product_media_interaction.html" %}
  </div>

  <div style="clear:both"></div>
  <hr/>

  <h2>Process</h2>
  <div class="process_architecture">
    {% include "aw/_process_specify.html" %}
    {% include "aw/_process_decompose.html" %}
    {% include "aw/_process_budget.html" %}
    {% include "aw/_process_sprints.html" %}
    {% include "aw/_process_testing.html" %}
    {% include "aw/_process_installation.html" %}
    {% include "aw/_process_sla.html" %}
  </div>

  

{% endblock %}

